#### Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.graph_objs import *
import matplotlib.pyplot as plt

In [3]:
oneDF = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/CC_CMLP_kwhtotal/m1_kwhtotal.csv")
twoDF = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/CC_CMLP_kwhtotal/m2MLDPtxa_kwhtotal.csv")
threeDF = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/CC_CMLP_kwhtotal/m3MLDPtxb_kwhtotal.csv")
fourDF = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/CC_CMLP_kwhtotal/m4MLDPsub_kwhtotal.csv")
fiveDF = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/CC_CMLP_kwhtotal/m5MHDP_kwhtotal.csv")
sixDF = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/CC_CMLP_kwhtotal/m6emergency_kwhtotal.csv")

In [4]:
oneDF

               seq  t                       ts        v
0        999554160  2  2012-05-25 00:00:00.100   6330.0
1        999554161  2  2012-05-25 00:05:00.200   6330.0
2        999554162  2  2012-05-25 00:10:00.000   6330.0
3        999554163  2  2012-05-25 00:15:00.100   6330.0
4        999554164  2  2012-05-25 00:20:00.000   6330.0
5        999554165  2  2012-05-25 00:25:00.100   6330.0
6        999554166  2  2012-05-25 00:30:00.000   6330.0
7        999554167  2  2012-05-25 00:35:00.000   6330.0
8        999554168  2  2012-05-25 00:40:00.100   6330.0
9        999554169  2  2012-05-25 00:45:00.000   6330.0
10       999554170  2  2012-05-25 00:50:00.100   6330.0
11       999554171  2  2012-05-25 00:55:00.000   6330.0
12       999554172  2  2012-05-25 01:00:00.000   6330.0
13       999554173  2  2012-05-25 01:05:00.100   6330.0
14       999554174  2  2012-05-25 01:10:00.000   6330.0
15       999554175  2  2012-05-25 01:15:00.100   6330.0
16       999554176  2  2012-05-25 01:20:00.100   6330.0
17       999554177  2  2012-05-25 01:25:00.100   6330.0
18       999554178  2  2012-05-25 01:30:00.100   6330.0
19       999554179  2  2012-05-25 01:35:00.100   6330.0
20       999554180  2  2012-05-25 01:40:00.000   6330.0
21       999554181  2  2012-05-25 01:45:00.000   6330.0
22       999554182  2  2012-05-25 01:50:00.000   6330.0
23       999554183  2  2012-05-25 01:55:00.000   6330.0
24       999554184  2  2012-05-25 02:00:00.000   6330.0
25       999554185  2  2012-05-25 02:05:00.100   6330.0
26       999554186  2  2012-05-25 02:10:00.100   6330.0
27       999554187  2  2012-05-25 02:15:00.100   6330.0
28       999554188  2  2012-05-25 02:20:00.000   6330.0
29       999554189  2  2012-05-25 02:25:00.000   6330.0
...            ... ..                      ...      ...
498454  1000052614  2  2017-05-24 08:00:00.200  16901.0
498455  1000052615  2  2017-05-24 08:05:00.200  16901.0
498456  1000052616  2  2017-05-24 08:10:00.300  16901.0
498457  1000052617  2  2017-05-24 08:15:00.100  16901.0
498458  1000052618  2  2017-05-24 08:20:00.200  16901.0
498459  1000052619  2  2017-05-24 08:25:00.100  16901.0
498460  1000052620  2  2017-05-24 08:30:00.000  16901.0
498461  1000052621  2  2017-05-24 08:35:00.200  16901.0
498462  1000052622  2  2017-05-24 08:40:00.000  16901.0
498463  1000052623  2  2017-05-24 08:45:00.200  16901.0
498464  1000052624  2  2017-05-24 08:50:00.200  16901.0
498465  1000052625  2  2017-05-24 08:55:00.100  16901.0
498466  1000052626  2  2017-05-24 09:00:00.000  16901.0
498467  1000052627  2  2017-05-24 09:05:00.100  16901.0
498468  1000052628  2  2017-05-24 09:10:00.200  16902.0
498469  1000052629  2  2017-05-24 09:15:00.000  16902.0
498470  1000052630  2  2017-05-24 09:20:00.100  16902.0
498471  1000052631  2  2017-05-24 09:25:00.000  16902.0
498472  1000052632  2  2017-05-24 09:30:00.200  16902.0
498473  1000052633  2  2017-05-24 09:35:00.100  16902.0
498474  1000052634  2  2017-05-24 09:40:00.000  16902.0
498475  1000052635  2  2017-05-24 09:45:00.000  16902.0
498476  1000052636  2  2017-05-24 09:50:00.200  16902.0
498477  1000052637  2  2017-05-24 09:55:00.000  16902.0
498478  1000052638  2  2017-05-24 10:00:00.000  16902.0
498479  1000052639  2  2017-05-24 10:05:00.100  16902.0
498480  1000052640  2  2017-05-24 10:10:00.100  16902.0
498481  1000052641  2  2017-05-24 10:15:00.000  16902.0
498482  1000052642  2  2017-05-24 10:20:00.100  16902.0
498483  1000052643  2  2017-05-24 10:25:00.300  16902.0

[498484 rows x 4 columns]

In [5]:
twoDF

               seq  t                       ts          v
0        999590506  2  2012-05-25 00:00:00.100   579409.0
1        999590507  2  2012-05-25 00:05:00.000   579412.0
2        999590508  2  2012-05-25 00:10:00.000   579414.0
3        999590509  2  2012-05-25 00:15:00.100   579417.0
4        999590510  2  2012-05-25 00:20:00.000   579420.0
5        999590511  2  2012-05-25 00:25:00.100   579423.0
6        999590512  2  2012-05-25 00:30:00.100   579426.0
7        999590513  2  2012-05-25 00:35:00.000   579428.0
8        999590514  2  2012-05-25 00:40:00.100   579431.0
9        999590515  2  2012-05-25 00:45:00.000   579434.0
10       999590516  2  2012-05-25 00:50:00.100   579437.0
11       999590517  2  2012-05-25 00:55:00.000   579439.0
12       999590518  2  2012-05-25 01:00:00.000   579442.0
13       999590519  2  2012-05-25 01:05:00.100   579445.0
14       999590520  2  2012-05-25 01:10:00.000   579448.0
15       999590521  2  2012-05-25 01:15:00.100   579450.0
16       999590522  2  2012-05-25 01:20:00.100   579453.0
17       999590523  2  2012-05-25 01:25:00.100   579456.0
18       999590524  2  2012-05-25 01:30:00.100   579459.0
19       999590525  2  2012-05-25 01:35:00.100   579461.0
20       999590526  2  2012-05-25 01:40:00.000   579464.0
21       999590527  2  2012-05-25 01:45:00.000   579467.0
22       999590528  2  2012-05-25 01:50:00.000   579470.0
23       999590529  2  2012-05-25 01:55:00.000   579473.0
24       999590530  2  2012-05-25 02:00:00.000   579475.0
25       999590531  2  2012-05-25 02:05:00.100   579478.0
26       999590532  2  2012-05-25 02:10:00.100   579481.0
27       999590533  2  2012-05-25 02:15:00.100   579484.0
28       999590534  2  2012-05-25 02:20:00.000   579486.0
29       999590535  2  2012-05-25 02:25:00.000   579489.0
...            ... ..                      ...        ...
456032  1000046538  2  2017-05-24 08:00:00.200  1883523.0
456033  1000046539  2  2017-05-24 08:05:00.200  1883525.0
456034  1000046540  2  2017-05-24 08:10:00.300  1883528.0
456035  1000046541  2  2017-05-24 08:15:00.100  1883530.0
456036  1000046542  2  2017-05-24 08:20:00.200  1883533.0
456037  1000046543  2  2017-05-24 08:25:00.200  1883535.0
456038  1000046544  2  2017-05-24 08:30:00.100  1883538.0
456039  1000046545  2  2017-05-24 08:35:00.200  1883540.0
456040  1000046546  2  2017-05-24 08:40:00.000  1883543.0
456041  1000046547  2  2017-05-24 08:45:00.200  1883545.0
456042  1000046548  2  2017-05-24 08:50:00.200  1883548.0
456043  1000046549  2  2017-05-24 08:55:00.100  1883550.0
456044  1000046550  2  2017-05-24 09:00:00.000  1883553.0
456045  1000046551  2  2017-05-24 09:05:00.100  1883555.0
456046  1000046552  2  2017-05-24 09:10:00.200  1883557.0
456047  1000046553  2  2017-05-24 09:15:00.000  1883560.0
456048  1000046554  2  2017-05-24 09:20:00.100  1883563.0
456049  1000046555  2  2017-05-24 09:25:00.000  1883565.0
456050  1000046556  2  2017-05-24 09:30:00.300  1883567.0
456051  1000046557  2  2017-05-24 09:35:00.100  1883570.0
456052  1000046558  2  2017-05-24 09:40:00.000  1883572.0
456053  1000046559  2  2017-05-24 09:45:00.100  1883575.0
456054  1000046560  2  2017-05-24 09:50:00.200  1883577.0
456055  1000046561  2  2017-05-24 09:55:00.000  1883579.0
456056  1000046562  2  2017-05-24 10:00:00.000  1883582.0
456057  1000046563  2  2017-05-24 10:05:00.100  1883584.0
456058  1000046564  2  2017-05-24 10:10:00.100  1883587.0
456059  1000046565  2  2017-05-24 10:15:00.000  1883589.0
456060  1000046566  2  2017-05-24 10:20:00.100  1883592.0
456061  1000046567  2  2017-05-24 10:25:00.400  1883594.0

[456062 rows x 4 columns]

In [6]:
threeDF

               seq  t                       ts          v
0        999590510  2  2012-05-25 00:00:00.100   322453.0
1        999590511  2  2012-05-25 00:05:00.000   322455.0
2        999590512  2  2012-05-25 00:10:00.000   322456.0
3        999590513  2  2012-05-25 00:15:00.100   322457.0
4        999590514  2  2012-05-25 00:20:00.000   322458.0
5        999590515  2  2012-05-25 00:25:00.100   322460.0
6        999590516  2  2012-05-25 00:30:00.100   322461.0
7        999590517  2  2012-05-25 00:35:00.000   322462.0
8        999590518  2  2012-05-25 00:40:00.100   322463.0
9        999590519  2  2012-05-25 00:45:00.000   322464.0
10       999590520  2  2012-05-25 00:50:00.100   322466.0
11       999590521  2  2012-05-25 00:55:00.000   322467.0
12       999590522  2  2012-05-25 01:00:00.000   322468.0
13       999590523  2  2012-05-25 01:05:00.100   322469.0
14       999590524  2  2012-05-25 01:10:00.000   322470.0
15       999590525  2  2012-05-25 01:15:00.100   322471.0
16       999590526  2  2012-05-25 01:20:00.100   322472.0
17       999590527  2  2012-05-25 01:25:00.100   322474.0
18       999590528  2  2012-05-25 01:30:00.100   322475.0
19       999590529  2  2012-05-25 01:35:00.100   322476.0
20       999590530  2  2012-05-25 01:40:00.000   322477.0
21       999590531  2  2012-05-25 01:45:00.000   322478.0
22       999590532  2  2012-05-25 01:50:00.000   322479.0
23       999590533  2  2012-05-25 01:55:00.000   322480.0
24       999590534  2  2012-05-25 02:00:00.000   322481.0
25       999590535  2  2012-05-25 02:05:00.100   322482.0
26       999590536  2  2012-05-25 02:10:00.100   322483.0
27       999590537  2  2012-05-25 02:15:00.100   322484.0
28       999590538  2  2012-05-25 02:20:00.000   322485.0
29       999590539  2  2012-05-25 02:25:00.000   322487.0
...            ... ..                      ...        ...
456028  1000046538  2  2017-05-24 08:00:00.300  1216145.0
456029  1000046539  2  2017-05-24 08:05:00.200  1216147.0
456030  1000046540  2  2017-05-24 08:10:00.400  1216148.0
456031  1000046541  2  2017-05-24 08:15:00.200  1216150.0
456032  1000046542  2  2017-05-24 08:20:00.200  1216151.0
456033  1000046543  2  2017-05-24 08:25:00.200  1216152.0
456034  1000046544  2  2017-05-24 08:30:00.100  1216154.0
456035  1000046545  2  2017-05-24 08:35:00.200  1216155.0
456036  1000046546  2  2017-05-24 08:40:00.000  1216157.0
456037  1000046547  2  2017-05-24 08:45:00.200  1216158.0
456038  1000046548  2  2017-05-24 08:50:00.200  1216160.0
456039  1000046549  2  2017-05-24 08:55:00.100  1216162.0
456040  1000046550  2  2017-05-24 09:00:00.000  1216163.0
456041  1000046551  2  2017-05-24 09:05:00.200  1216165.0
456042  1000046552  2  2017-05-24 09:10:00.200  1216167.0
456043  1000046553  2  2017-05-24 09:15:00.000  1216169.0
456044  1000046554  2  2017-05-24 09:20:00.100  1216171.0
456045  1000046555  2  2017-05-24 09:25:00.000  1216174.0
456046  1000046556  2  2017-05-24 09:30:00.300  1216176.0
456047  1000046557  2  2017-05-24 09:35:00.100  1216178.0
456048  1000046558  2  2017-05-24 09:40:00.000  1216180.0
456049  1000046559  2  2017-05-24 09:45:00.100  1216183.0
456050  1000046560  2  2017-05-24 09:50:00.300  1216185.0
456051  1000046561  2  2017-05-24 09:55:00.100  1216187.0
456052  1000046562  2  2017-05-24 10:00:00.100  1216189.0
456053  1000046563  2  2017-05-24 10:05:00.100  1216192.0
456054  1000046564  2  2017-05-24 10:10:00.100  1216194.0
456055  1000046565  2  2017-05-24 10:15:00.100  1216196.0
456056  1000046566  2  2017-05-24 10:20:00.100  1216199.0
456057  1000046567  2  2017-05-24 10:25:00.400  1216201.0

[456058 rows x 4 columns]

In [7]:
fourDF

               seq  t                       ts         v
0        999584509  2  2012-05-25 00:00:00.100  366695.0
1        999584510  2  2012-05-25 00:05:00.000  366695.0
2        999584511  2  2012-05-25 00:10:00.000  366695.0
3        999584512  2  2012-05-25 00:15:00.100  366695.0
4        999584513  2  2012-05-25 00:20:00.000  366695.0
5        999584514  2  2012-05-25 00:25:00.100  366695.0
6        999584515  2  2012-05-25 00:30:00.100  366695.0
7        999584516  2  2012-05-25 00:35:00.000  366695.0
8        999584517  2  2012-05-25 00:40:00.100  366695.0
9        999584518  2  2012-05-25 00:45:00.000  366695.0
10       999584519  2  2012-05-25 00:50:00.100  366695.0
11       999584520  2  2012-05-25 00:55:00.000  366695.0
12       999584521  2  2012-05-25 01:00:00.000  366695.0
13       999584522  2  2012-05-25 01:05:00.100  366695.0
14       999584523  2  2012-05-25 01:10:00.000  366695.0
15       999584524  2  2012-05-25 01:15:00.100  366695.0
16       999584525  2  2012-05-25 01:20:00.100  366695.0
17       999584526  2  2012-05-25 01:25:00.100  366695.0
18       999584527  2  2012-05-25 01:30:00.200  366695.0
19       999584528  2  2012-05-25 01:35:00.100  366695.0
20       999584529  2  2012-05-25 01:40:00.000  366695.0
21       999584530  2  2012-05-25 01:45:00.000  366695.0
22       999584531  2  2012-05-25 01:50:00.100  366695.0
23       999584532  2  2012-05-25 01:55:00.000  366695.0
24       999584533  2  2012-05-25 02:00:00.000  366695.0
25       999584534  2  2012-05-25 02:05:00.100  366695.0
26       999584535  2  2012-05-25 02:10:00.100  366695.0
27       999584536  2  2012-05-25 02:15:00.100  366695.0
28       999584537  2  2012-05-25 02:20:00.000  366695.0
29       999584538  2  2012-05-25 02:25:00.000  366695.0
...            ... ..                      ...       ...
462029  1000046538  2  2017-05-24 08:00:00.300  998625.0
462030  1000046539  2  2017-05-24 08:05:00.200  998626.0
462031  1000046540  2  2017-05-24 08:10:00.400  998627.0
462032  1000046541  2  2017-05-24 08:15:00.200  998628.0
462033  1000046542  2  2017-05-24 08:20:00.200  998629.0
462034  1000046543  2  2017-05-24 08:25:00.200  998630.0
462035  1000046544  2  2017-05-24 08:30:00.100  998631.0
462036  1000046545  2  2017-05-24 08:35:00.200  998632.0
462037  1000046546  2  2017-05-24 08:40:00.000  998633.0
462038  1000046547  2  2017-05-24 08:45:00.200  998634.0
462039  1000046548  2  2017-05-24 08:50:00.300  998635.0
462040  1000046549  2  2017-05-24 08:55:00.200  998636.0
462041  1000046550  2  2017-05-24 09:00:00.000  998637.0
462042  1000046551  2  2017-05-24 09:05:00.200  998638.0
462043  1000046552  2  2017-05-24 09:10:00.200  998639.0
462044  1000046553  2  2017-05-24 09:15:00.000  998641.0
462045  1000046554  2  2017-05-24 09:20:00.100  998642.0
462046  1000046555  2  2017-05-24 09:25:00.000  998644.0
462047  1000046556  2  2017-05-24 09:30:00.300  998645.0
462048  1000046557  2  2017-05-24 09:35:00.200  998647.0
462049  1000046558  2  2017-05-24 09:40:00.100  998648.0
462050  1000046559  2  2017-05-24 09:45:00.200  998650.0
462051  1000046560  2  2017-05-24 09:50:00.300  998652.0
462052  1000046561  2  2017-05-24 09:55:00.100  998653.0
462053  1000046562  2  2017-05-24 10:00:00.100  998655.0
462054  1000046563  2  2017-05-24 10:05:00.100  998657.0
462055  1000046564  2  2017-05-24 10:10:00.200  998659.0
462056  1000046565  2  2017-05-24 10:15:00.100  998660.0
462057  1000046566  2  2017-05-24 10:20:00.100  998662.0
462058  1000046567  2  2017-05-24 10:25:00.400  998664.0

[462059 rows x 4 columns]

In [8]:
fiveDF

               seq  t                       ts          v
0        999556162  2  2012-05-25 00:00:00.100        0.0
1        999556163  2  2012-05-25 00:05:00.000        0.0
2        999556164  2  2012-05-25 00:10:00.000        0.0
3        999556165  2  2012-05-25 00:15:00.100        0.0
4        999556166  2  2012-05-25 00:20:00.000        0.0
5        999556167  2  2012-05-25 00:25:00.100        0.0
6        999556168  2  2012-05-25 00:30:00.100        0.0
7        999556169  2  2012-05-25 00:35:00.000        0.0
8        999556170  2  2012-05-25 00:40:00.100        0.0
9        999556171  2  2012-05-25 00:45:00.000        0.0
10       999556172  2  2012-05-25 00:50:00.200        0.0
11       999556173  2  2012-05-25 00:55:00.100        0.0
12       999556174  2  2012-05-25 01:00:00.000        0.0
13       999556175  2  2012-05-25 01:05:00.100        0.0
14       999556176  2  2012-05-25 01:10:00.000        0.0
15       999556177  2  2012-05-25 01:15:00.100        0.0
16       999556178  2  2012-05-25 01:20:00.100        0.0
17       999556179  2  2012-05-25 01:25:00.100        0.0
18       999556180  2  2012-05-25 01:30:00.200        0.0
19       999556181  2  2012-05-25 01:35:00.200        0.0
20       999556182  2  2012-05-25 01:40:00.000        0.0
21       999556183  2  2012-05-25 01:45:00.100        0.0
22       999556184  2  2012-05-25 01:50:00.100        0.0
23       999556185  2  2012-05-25 01:55:00.100        0.0
24       999556186  2  2012-05-25 02:00:00.000        0.0
25       999556187  2  2012-05-25 02:05:00.100        0.0
26       999556188  2  2012-05-25 02:10:00.100        0.0
27       999556189  2  2012-05-25 02:15:00.100        0.0
28       999556190  2  2012-05-25 02:20:00.000        0.0
29       999556191  2  2012-05-25 02:25:00.000        0.0
...            ... ..                      ...        ...
496452  1000052614  2  2017-05-24 08:00:00.300  6440462.0
496453  1000052615  2  2017-05-24 08:05:00.200  6440469.0
496454  1000052616  2  2017-05-24 08:10:00.400  6440476.0
496455  1000052617  2  2017-05-24 08:15:00.200  6440483.0
496456  1000052618  2  2017-05-24 08:20:00.200  6440488.0
496457  1000052619  2  2017-05-24 08:25:00.200  6440494.0
496458  1000052620  2  2017-05-24 08:30:00.100  6440500.0
496459  1000052621  2  2017-05-24 08:35:00.300  6440505.0
496460  1000052622  2  2017-05-24 08:40:00.100  6440511.0
496461  1000052623  2  2017-05-24 08:45:00.200  6440517.0
496462  1000052624  2  2017-05-24 08:50:00.300  6440523.0
496463  1000052625  2  2017-05-24 08:55:00.200  6440530.0
496464  1000052626  2  2017-05-24 09:00:00.100  6440537.0
496465  1000052627  2  2017-05-24 09:05:00.200  6440544.0
496466  1000052628  2  2017-05-24 09:10:00.200  6440551.0
496467  1000052629  2  2017-05-24 09:15:00.000  6440558.0
496468  1000052630  2  2017-05-24 09:20:00.100  6440565.0
496469  1000052631  2  2017-05-24 09:25:00.000  6440573.0
496470  1000052632  2  2017-05-24 09:30:00.400  6440580.0
496471  1000052633  2  2017-05-24 09:35:00.200  6440587.0
496472  1000052634  2  2017-05-24 09:40:00.100  6440594.0
496473  1000052635  2  2017-05-24 09:45:00.200  6440601.0
496474  1000052636  2  2017-05-24 09:50:00.300  6440608.0
496475  1000052637  2  2017-05-24 09:55:00.100  6440615.0
496476  1000052638  2  2017-05-24 10:00:00.100  6440623.0
496477  1000052639  2  2017-05-24 10:05:00.100  6440630.0
496478  1000052640  2  2017-05-24 10:10:00.200  6440637.0
496479  1000052641  2  2017-05-24 10:15:00.100  6440644.0
496480  1000052642  2  2017-05-24 10:20:00.200  6440651.0
496481  1000052643  2  2017-05-24 10:25:00.400  6440658.0

[496482 rows x 4 columns]

In [9]:
sixDF

               seq  t                       ts         v
0        999556167  2  2012-05-25 00:00:00.200  200316.0
1        999556168  2  2012-05-25 00:05:00.000  200316.0
2        999556169  2  2012-05-25 00:10:00.000  200316.0
3        999556170  2  2012-05-25 00:15:00.100  200316.0
4        999556171  2  2012-05-25 00:20:00.000  200316.0
5        999556172  2  2012-05-25 00:25:00.100  200316.0
6        999556173  2  2012-05-25 00:30:00.100  200316.0
7        999556174  2  2012-05-25 00:35:00.000  200316.0
8        999556175  2  2012-05-25 00:40:00.100  200316.0
9        999556176  2  2012-05-25 00:45:00.000  200316.0
10       999556177  2  2012-05-25 00:50:00.200  200316.0
11       999556178  2  2012-05-25 00:55:00.100  200316.0
12       999556179  2  2012-05-25 01:00:00.000  200316.0
13       999556180  2  2012-05-25 01:05:00.100  200316.0
14       999556181  2  2012-05-25 01:10:00.100  200316.0
15       999556182  2  2012-05-25 01:15:00.100  200316.0
16       999556183  2  2012-05-25 01:20:00.100  200316.0
17       999556184  2  2012-05-25 01:25:00.100  200316.0
18       999556185  2  2012-05-25 01:30:00.000  200316.0
19       999556186  2  2012-05-25 01:35:00.000  200316.0
20       999556187  2  2012-05-25 01:40:00.000  200316.0
21       999556188  2  2012-05-25 01:45:00.100  200316.0
22       999556189  2  2012-05-25 01:50:00.100  200316.0
23       999556190  2  2012-05-25 01:55:00.100  200316.0
24       999556191  2  2012-05-25 02:00:00.000  200316.0
25       999556192  2  2012-05-25 02:05:00.100  200316.0
26       999556193  2  2012-05-25 02:10:00.100  200316.0
27       999556194  2  2012-05-25 02:15:00.200  200316.0
28       999556195  2  2012-05-25 02:20:00.000  200316.0
29       999556196  2  2012-05-25 02:25:00.000  200316.0
...            ... ..                      ...       ...
496447  1000052614  2  2017-05-24 08:00:00.300  651768.0
496448  1000052615  2  2017-05-24 08:05:00.300  651769.0
496449  1000052616  2  2017-05-24 08:10:00.400  651769.0
496450  1000052617  2  2017-05-24 08:15:00.200  651770.0
496451  1000052618  2  2017-05-24 08:20:00.300  651771.0
496452  1000052619  2  2017-05-24 08:25:00.200  651772.0
496453  1000052620  2  2017-05-24 08:30:00.100  651772.0
496454  1000052621  2  2017-05-24 08:35:00.300  651773.0
496455  1000052622  2  2017-05-24 08:40:00.100  651774.0
496456  1000052623  2  2017-05-24 08:45:00.300  651775.0
496457  1000052624  2  2017-05-24 08:50:00.300  651776.0
496458  1000052625  2  2017-05-24 08:55:00.200  651776.0
496459  1000052626  2  2017-05-24 09:00:00.100  651777.0
496460  1000052627  2  2017-05-24 09:05:00.300  651778.0
496461  1000052628  2  2017-05-24 09:10:00.200  651779.0
496462  1000052629  2  2017-05-24 09:15:00.100  651779.0
496463  1000052630  2  2017-05-24 09:20:00.200  651780.0
496464  1000052631  2  2017-05-24 09:25:00.000  651781.0
496465  1000052632  2  2017-05-24 09:30:00.400  651782.0
496466  1000052633  2  2017-05-24 09:35:00.200  651783.0
496467  1000052634  2  2017-05-24 09:40:00.100  651783.0
496468  1000052635  2  2017-05-24 09:45:00.200  651784.0
496469  1000052636  2  2017-05-24 09:50:00.300  651785.0
496470  1000052637  2  2017-05-24 09:55:00.100  651786.0
496471  1000052638  2  2017-05-24 10:00:00.100  651787.0
496472  1000052639  2  2017-05-24 10:05:00.100  651788.0
496473  1000052640  2  2017-05-24 10:10:00.200  651789.0
496474  1000052641  2  2017-05-24 10:15:00.100  651790.0
496475  1000052642  2  2017-05-24 10:20:00.200  651791.0
496476  1000052643  2  2017-05-24 10:25:00.400  651792.0

[496477 rows x 4 columns]

In [10]:
sixDF['ts'] == fiveDF['ts']

ValueError: Can only compare identically-labeled Series objects

In [4]:
plotly.tools.set_credentials_file(username='rshamsy',api_key='Nvu0NCY5RibxBlK6pRXo')

In [9]:

from plotly.graph_objs import *

trace0 = Scatter(
    x=oneDF['seq'],
    y=oneDF['v']
)

data = Data([trace0])

py.iplot(data);

/Users/MHK/anaconda/lib/python3.6/site-packages/plotly/plotly/plotly.py:236: UserWarning:

Woah there! Look at all those points! Due to browser limitations, the Plotly SVG drawing functions have a hard time graphing more than 500k data points for line charts, or 40k points for other types of charts. Here are some suggestions:
(1) Use the `plotly.graph_objs.Scattergl` trace object to generate a WebGl graph.
(2) Trying using the image API to return an image instead of a graph URL
(3) Use matplotlib
(4) See if you can create your visualization with fewer data points

If the visualization you're using aggregates points (e.g., box plot, histogram, etc.) you can disregard this warning.

The draw time for this plot will be slow for all clients.

/Users/MHK/anaconda/lib/python3.6/site-packages/plotly/plotly/plotly.py:1443: UserWarning:

Estimated Draw Time Too Long

In [10]:
boxValues = go.Box(
    y = oneDF["v"]
)


boxData = [boxValues]
py.iplot(boxData);

/Users/MHK/anaconda/lib/python3.6/site-packages/plotly/plotly/plotly.py:236: UserWarning:

Woah there! Look at all those points! Due to browser limitations, the Plotly SVG drawing functions have a hard time graphing more than 500k data points for line charts, or 40k points for other types of charts. Here are some suggestions:
(1) Use the `plotly.graph_objs.Scattergl` trace object to generate a WebGl graph.
(2) Trying using the image API to return an image instead of a graph URL
(3) Use matplotlib
(4) See if you can create your visualization with fewer data points

If the visualization you're using aggregates points (e.g., box plot, histogram, etc.) you can disregard this warning.

#####  The data set for the first meter must be reduced to exclude large outliers (>50K) and NaN values, which is done in the following:

In [33]:
oneDFred=oneDF.loc[oneDF["v"]<50000,["ts","v"]]

traceOneDF = go.Scattergl(
    x = oneDFred["ts"],
    y = oneDFred["v"]
)

redDataOneDF = Data([traceOneDF])
py.plot(redDataOneDF)

SyntaxError: invalid syntax (<ipython-input-33-37a74929de01>, line 6)

In [ ]:
traceTwoDF = go.Scattergl(
    x = twoDF["ts"], y = twoDF["v"]
)

dataTwoDF = Data([traceTwoDF])
py.plot(dataTwoDF)

##### Importing updated data, and all CMLP data till May 29

In [ ]:
1btuTot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_331_BTU_CONSUM_TOT_TL.csv")
2flwTot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/CC_CMLP_kwhtotal/m2MLDPtxa_kwhtotal.csv")
3dcwFlwTot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/CC_CMLP_kwhtotal/m3MLDPtxb_kwhtotal.csv")
4dhwBtuTot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/CC_CMLP_kwhtotal/m4MLDPsub_kwhtotal.csv")
5dhwStmTot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/CC_CMLP_kwhtotal/m5MHDP_kwhtotal.csv")
6dwMtrTot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/CC_CMLP_kwhtotal/m6emergency_kwhtotal.csv")
7dwMtrUsg
8ethanolBtuTot
9ethanolFlwTot
10grdlEnergyTot
11grdlFlwTot
12greywaterFlwTot
13labFlwTot
14m1kWThermalDemandCalc
15m1kWThermalDemandRaw
16m1kWTot
17m1kWh_Tot
18m2kWThermalCalc
19m2kWThermalRaw
20m2kWTot
21m3kWThermalCalc
22m3kWThermalRaw
23m4kWThermalCalc
24m4kWThermalRaw
25m5kWThermalCalc
26m5kWThermalRaw
27m5kWTot
28m5kWh_Tot
29m5kWThermalCalc
30m5kWThermalRaw
31m5kWTot
32m5kWh_Tot
33m6kWh_Tot
34m6kWThermalCalc
35m6kWThermalRaw
36m6kWTot
37makeupwatFlwTot
38mldpAkWh_Tot
39mldpBkWh_Tot
40radWaterFlwTot
41radBtuTot
42rainwatSavingTot
43reheatBtuTot
44reheatFlwTot
45steamBtuTot
45steamFlwTot
46
47