#### Importing Libraries

In [51]:
import pandas as pd
import numpy as np
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.graph_objs import *
import matplotlib.pyplot as plt

In [4]:
oneDF = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/CC_CMLP_kwhtotal/m1_kwhtotal.csv")
twoDF = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/CC_CMLP_kwhtotal/m2MLDPtxa_kwhtotal.csv")
threeDF = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/CC_CMLP_kwhtotal/m3MLDPtxb_kwhtotal.csv")
fourDF = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/CC_CMLP_kwhtotal/m4MLDPsub_kwhtotal.csv")
fiveDF = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/CC_CMLP_kwhtotal/m5MHDP_kwhtotal.csv")
sixDF = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/CC_CMLP_kwhtotal/m6emergency_kwhtotal.csv")

In [7]:
oneDF

               seq  t                       ts        v
0        999554160  2  2012-05-25 00:00:00.100   6330.0
1        999554161  2  2012-05-25 00:05:00.200   6330.0
2        999554162  2  2012-05-25 00:10:00.000   6330.0
3        999554163  2  2012-05-25 00:15:00.100   6330.0
4        999554164  2  2012-05-25 00:20:00.000   6330.0
5        999554165  2  2012-05-25 00:25:00.100   6330.0
6        999554166  2  2012-05-25 00:30:00.000   6330.0
7        999554167  2  2012-05-25 00:35:00.000   6330.0
8        999554168  2  2012-05-25 00:40:00.100   6330.0
9        999554169  2  2012-05-25 00:45:00.000   6330.0
10       999554170  2  2012-05-25 00:50:00.100   6330.0
11       999554171  2  2012-05-25 00:55:00.000   6330.0
12       999554172  2  2012-05-25 01:00:00.000   6330.0
13       999554173  2  2012-05-25 01:05:00.100   6330.0
14       999554174  2  2012-05-25 01:10:00.000   6330.0
15       999554175  2  2012-05-25 01:15:00.100   6330.0
16       999554176  2  2012-05-25 01:20:00.100   6330.0
17       999554177  2  2012-05-25 01:25:00.100   6330.0
18       999554178  2  2012-05-25 01:30:00.100   6330.0
19       999554179  2  2012-05-25 01:35:00.100   6330.0
20       999554180  2  2012-05-25 01:40:00.000   6330.0
21       999554181  2  2012-05-25 01:45:00.000   6330.0
22       999554182  2  2012-05-25 01:50:00.000   6330.0
23       999554183  2  2012-05-25 01:55:00.000   6330.0
24       999554184  2  2012-05-25 02:00:00.000   6330.0
25       999554185  2  2012-05-25 02:05:00.100   6330.0
26       999554186  2  2012-05-25 02:10:00.100   6330.0
27       999554187  2  2012-05-25 02:15:00.100   6330.0
28       999554188  2  2012-05-25 02:20:00.000   6330.0
29       999554189  2  2012-05-25 02:25:00.000   6330.0
...            ... ..                      ...      ...
498454  1000052614  2  2017-05-24 08:00:00.200  16901.0
498455  1000052615  2  2017-05-24 08:05:00.200  16901.0
498456  1000052616  2  2017-05-24 08:10:00.300  16901.0
498457  1000052617  2  2017-05-24 08:15:00.100  16901.0
498458  1000052618  2  2017-05-24 08:20:00.200  16901.0
498459  1000052619  2  2017-05-24 08:25:00.100  16901.0
498460  1000052620  2  2017-05-24 08:30:00.000  16901.0
498461  1000052621  2  2017-05-24 08:35:00.200  16901.0
498462  1000052622  2  2017-05-24 08:40:00.000  16901.0
498463  1000052623  2  2017-05-24 08:45:00.200  16901.0
498464  1000052624  2  2017-05-24 08:50:00.200  16901.0
498465  1000052625  2  2017-05-24 08:55:00.100  16901.0
498466  1000052626  2  2017-05-24 09:00:00.000  16901.0
498467  1000052627  2  2017-05-24 09:05:00.100  16901.0
498468  1000052628  2  2017-05-24 09:10:00.200  16902.0
498469  1000052629  2  2017-05-24 09:15:00.000  16902.0
498470  1000052630  2  2017-05-24 09:20:00.100  16902.0
498471  1000052631  2  2017-05-24 09:25:00.000  16902.0
498472  1000052632  2  2017-05-24 09:30:00.200  16902.0
498473  1000052633  2  2017-05-24 09:35:00.100  16902.0
498474  1000052634  2  2017-05-24 09:40:00.000  16902.0
498475  1000052635  2  2017-05-24 09:45:00.000  16902.0
498476  1000052636  2  2017-05-24 09:50:00.200  16902.0
498477  1000052637  2  2017-05-24 09:55:00.000  16902.0
498478  1000052638  2  2017-05-24 10:00:00.000  16902.0
498479  1000052639  2  2017-05-24 10:05:00.100  16902.0
498480  1000052640  2  2017-05-24 10:10:00.100  16902.0
498481  1000052641  2  2017-05-24 10:15:00.000  16902.0
498482  1000052642  2  2017-05-24 10:20:00.100  16902.0
498483  1000052643  2  2017-05-24 10:25:00.300  16902.0

[498484 rows x 4 columns]

In [12]:
plotly.tools.set_credentials_file(username='rshamsy',api_key='Nvu0NCY5RibxBlK6pRXo')

In [53]:

from plotly.graph_objs import *

trace0 = Scatter(
    x=oneDF['seq'],
    y=oneDF['v']
)

data = Data([trace0])

py.iplot(data)

/Users/MHK/anaconda/lib/python3.6/site-packages/plotly/plotly/plotly.py:236: UserWarning:

Woah there! Look at all those points! Due to browser limitations, the Plotly SVG drawing functions have a hard time graphing more than 500k data points for line charts, or 40k points for other types of charts. Here are some suggestions:
(1) Use the `plotly.graph_objs.Scattergl` trace object to generate a WebGl graph.
(2) Trying using the image API to return an image instead of a graph URL
(3) Use matplotlib
(4) See if you can create your visualization with fewer data points

If the visualization you're using aggregates points (e.g., box plot, histogram, etc.) you can disregard this warning.

/Users/MHK/anaconda/lib/python3.6/site-packages/plotly/plotly/plotly.py:1443: UserWarning:

Estimated Draw Time Too Long

The draw time for this plot will be slow for all clients.

In [64]:
boxValues = go.Box(
    y = oneDF["v"]
)

boxData = [boxValues]
py.iplot(boxData)

/Users/MHK/anaconda/lib/python3.6/site-packages/plotly/plotly/plotly.py:236: UserWarning:

Woah there! Look at all those points! Due to browser limitations, the Plotly SVG drawing functions have a hard time graphing more than 500k data points for line charts, or 40k points for other types of charts. Here are some suggestions:
(1) Use the `plotly.graph_objs.Scattergl` trace object to generate a WebGl graph.
(2) Trying using the image API to return an image instead of a graph URL
(3) Use matplotlib
(4) See if you can create your visualization with fewer data points

If the visualization you're using aggregates points (e.g., box plot, histogram, etc.) you can disregard this warning.

#####  The data set for the first meter must be reduced to exclude large outliers (>50K) and NaN values, which is done in the following: