#### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.graph_objs import *
import matplotlib.pyplot as plt

In [11]:
sixDF['ts'] == fiveDF['ts']

ValueError: Can only compare identically-labeled Series objects

In [ ]:
plotly.tools.set_credentials_file(username='rshamsy',api_key='Nvu0NCY5RibxBlK6pRXo')

In [ ]:

from plotly.graph_objs import *

trace0 = Scatter(
    x=oneDF['seq'],
    y=oneDF['v']
)

data = Data([trace0])

py.iplot(data);

In [ ]:
boxValues = go.Box(
    y = oneDF["v"]
)


boxData = [boxValues]
py.iplot(boxData);

#####  The data set for the first meter must be reduced to exclude large outliers (>50K) and NaN values, which is done in the following:

In [ ]:
oneDFred=oneDF.loc[oneDF["v"]<50000,["ts","v"]]

traceOneDF = go.Scattergl(
    x = oneDFred["ts"],
    y = oneDFred["v"]
)

redDataOneDF = Data([traceOneDF])
py.plot(redDataOneDF)

In [ ]:
traceTwoDF = go.Scattergl(
    x = twoDF["ts"], y = twoDF["v"]
)

dataTwoDF = Data([traceTwoDF])
py.plot(dataTwoDF)

##### Importing updated data, and all CMLP data till May 29

In [3]:
btu331_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_331_BTU_CONSUM_TOT_TL.csv")
flw331_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_331_FLW_TOTAL_TL.csv")
dcwFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_DCW_FLW_TOT_TL.csv")
dhwBtu_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_DHW_BTU_CONSUM_TOT_TL.csv")
dhwStm_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_DHW_STM_TOTAL_TL.csv")
dwMtr_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_DW_MTR_TOTAL_AV_TL.csv")
dwMtr_usg = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_DW_MTR_USAGE_AV_TL.csv")
ethanolBtu_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_ETHANOL_BTU_CONSUM_TOT_TL.csv")
ethanolFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_ETHANOL_FLW_TOT_TL.csv")
grdlEnergy_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_GRDL_ENERGY_TOTAL_TL.csv")
grdlFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_GRDL_FLW TOT_TL.csv")
greywaterFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_GREYWATER_FLW TOT_TL.csv")
labFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_LAB_FLW TOT_TL.csv")
m1kWThermalCalc = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M1_OGG_Max_kW_Thermal_Demand_Calc_TL.csv")
m1kWThermalRaw = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M1_OGG_kW_Thermal_Demand_Raw_TL1032.csv")
m1kWtot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M1_OGG_kW_Total_METER_TL.csv")
m1kWh_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M1_OGG_kWh_Total_TL.csv")
m2kWThermalCalc = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M2_Tx-A_Max_kW_Thermal_Demand_Calc_TL.csv")
m2kWThermalRaw = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M3_Tx-B_kW_Thermal_Demand_Raw_TL.csv")
m2kWtot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M2_Tx-A_kW_Total_METER_TL.csv")
m3kWThermalCalc = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M3_Tx-B_Max_kW_Thermal_Demand_Calc_TL.csv")
m3kWThermalRaw = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M3_Tx-B_kW_Thermal_Demand_Raw_TL.csv")
m4kWThermalCalc = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M4_MLDP_SUB_Max_kW_Thermal_Demand_Calc_TL.csv")
m4kWThermalRaw = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M4_MLDP_SUB_kW_Thermal_Demand_Raw_TL.csv")
m5kWThermalCalc = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M5_MHDP_ION_Max_kW_Thermal_Demand_Calc_TL.csv")
m5kWThermalRaw = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M5_MHDP_ION_kW_Thermal_Demand_Raw_TL.csv")
m5kWtot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M5_MHDP_ION_kW_Total_METER_TL.csv")
m5kWh_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M5_MHDP_kWh_Total_TL.csv")
m6kWh_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M6_EMERGCY_kWh_Total_TL.csv")
m6kWThermalCalc = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M6_EMERGNCY_ION_Max_kW_Thermal_Demand_Calc_TL.csv")
m6kWThermalRaw = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M6_EMERGNCY_ION_kW_Thermal_Demand_Raw_TL.csv")
m6kWtot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M6_EMERGNCY_ION_kW_Total_METER_TL.csv")
makeupwaterFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_MAKEUP WATER_FLW TOT_TL.csv")
mldpSub_kWh_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_MLDP_SUB_kWh_Total_TL.csv")
m2kWh_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_MLDP_Tx-A_kWh_Total_TL.csv")
m3kWh_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_MLDP_Tx-B_kWh_Total_TL.csv")
radwaterFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_RAD WATER_FLW_TOT_TL.csv")
radBtu_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_RAD_BTU_CONSUM_TOT_TL.csv")
rainwaterSaving_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_RAINWATER_SAVING TOT_TL.csv")
reheatBtu_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_REHEAT_BTU_CONSUM_TOT_TL.csv")
reheatFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_REHEAT_FLW_TOT_TL.csv")
steamBtu_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_STEAM_BTU_CONSUM_TOT_TL.csv")
steamFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_STEAM_FLW_TOT_TL.csv")
stmMtr2_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_STM_MTR_2_TOTAL_AV_TL.csv")
stmMtr2_usg = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_STM_MTR_2_USAGE_AV_TL.csv")
stmMtr1_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_STM_MTR_TOTAL_AV_TL.csv")
stmMtr1_usg = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_STM_MTR_USAGE_AV_TL.csv")

In [12]:
stmMtr1_usg

               seq  t                       ts           v
0        999927467  0  2015-10-26 11:24:28.100  49154.0000
1        999927468  0  2015-10-26 11:24:28.200      2.0000
2        999927469  2  2015-10-26 11:25:00.000      0.0000
3        999927470  2  2015-10-26 11:30:00.000      0.0000
4        999927471  2  2015-10-26 11:35:00.000      0.0000
5        999927472  2  2015-10-26 11:40:00.000      0.0000
6        999927473  2  2015-10-26 11:45:00.000      0.0000
7        999927474  2  2015-10-26 11:50:00.000      0.0000
8        999927475  2  2015-10-26 11:55:00.000      0.0000
9        999927476  2  2015-10-26 12:00:00.000      0.0000
10       999927477  2  2015-10-26 12:05:00.000      0.0000
11       999927478  2  2015-10-26 12:10:00.000      0.0000
12       999927479  2  2015-10-26 12:15:00.000      0.0000
13       999927480  2  2015-10-26 12:20:00.000      0.0000
14       999927481  2  2015-10-26 12:25:00.000      0.0000
15       999927482  2  2015-10-26 12:30:00.000      0.0000
16       999927483  2  2015-10-26 12:35:00.000      0.0000
17       999927484  2  2015-10-26 12:40:00.000      0.0000
18       999927485  2  2015-10-26 12:45:00.000      0.0000
19       999927486  2  2015-10-26 12:50:00.000      0.0000
20       999927487  2  2015-10-26 12:55:00.000      0.0000
21       999927488  2  2015-10-26 13:00:00.000      0.0000
22       999927489  2  2015-10-26 13:05:00.000      0.0000
23       999927490  2  2015-10-26 13:10:00.000      0.0000
24       999927491  2  2015-10-26 13:15:00.000      0.0000
25       999927492  2  2015-10-26 13:20:00.000      0.0000
26       999927493  2  2015-10-26 13:25:00.000      0.0000
27       999927494  2  2015-10-26 13:30:00.000      0.0000
28       999927495  2  2015-10-26 13:35:00.000      0.0000
29       999927496  2  2015-10-26 13:40:00.000      0.0000
...            ... ..                      ...         ...
126586  1000054053  2  2017-05-29 08:00:00.000     39.2793
126587  1000054054  2  2017-05-29 08:05:00.000     39.0986
126588  1000054055  2  2017-05-29 08:10:00.000     37.0195
126589  1000054056  2  2017-05-29 08:15:00.000     40.7676
126590  1000054057  2  2017-05-29 08:20:00.000      0.0000
126591  1000054058  2  2017-05-29 08:25:00.000      0.0000
126592  1000054059  2  2017-05-29 08:30:00.000     36.1572
126593  1000054060  2  2017-05-29 08:35:00.000     31.3809
126594  1000054061  2  2017-05-29 08:40:00.000      0.0000
126595  1000054062  2  2017-05-29 08:45:00.000     38.8838
126596  1000054063  2  2017-05-29 08:50:00.000      0.0000
126597  1000054064  2  2017-05-29 08:55:00.000     31.0171
126598  1000054065  2  2017-05-29 09:00:00.000      0.0000
126599  1000054066  2  2017-05-29 09:05:00.000      0.0000
126600  1000054067  2  2017-05-29 09:10:00.000     33.5986
126601  1000054068  2  2017-05-29 09:15:00.000      0.0000
126602  1000054069  2  2017-05-29 09:20:00.000     39.0029
126603  1000054070  2  2017-05-29 09:25:00.000     33.5557
126604  1000054071  2  2017-05-29 09:30:00.000    110.1930
126605  1000054072  2  2017-05-29 09:35:00.000     41.1631
126606  1000054073  2  2017-05-29 09:40:00.000      0.0000
126607  1000054074  2  2017-05-29 09:45:00.000     42.2354
126608  1000054075  2  2017-05-29 09:50:00.000     47.0176
126609  1000054076  2  2017-05-29 09:55:00.000     52.4707
126610  1000054077  2  2017-05-29 10:00:00.000      0.0000
126611  1000054078  2  2017-05-29 10:05:00.000     32.9648
126612  1000054079  2  2017-05-29 10:10:00.000      0.0000
126613  1000054080  2  2017-05-29 10:15:00.000      0.0000
126614  1000054081  2  2017-05-29 10:20:00.000     44.7559
126615  1000054082  2  2017-05-29 10:25:00.000      0.0000

[126616 rows x 4 columns]

In [13]:
stmMtr1_tot

               seq  t                       ts         v
0        999742187  2  2014-01-21 15:25:00.000    1000.0
1        999742188  2  2014-01-21 15:30:00.000    1000.0
2        999742189  2  2014-01-21 15:35:00.000    1000.0
3        999742190  2  2014-01-21 15:40:00.000    1000.0
4        999742191  2  2014-01-21 15:45:00.000    1000.0
5        999742192  2  2014-01-21 15:50:00.000    1000.0
6        999742193  2  2014-01-21 15:55:00.000    1000.0
7        999742194  2  2014-01-21 16:00:00.000    1000.0
8        999742195  2  2014-01-21 16:05:00.000    1000.0
9        999742196  2  2014-01-21 16:10:00.000    1000.0
10       999742197  2  2014-01-21 16:15:00.000    1000.0
11       999742198  2  2014-01-21 16:20:00.000    1000.0
12       999742199  2  2014-01-21 16:25:00.000    1000.0
13       999742200  2  2014-01-21 16:30:00.000    1000.0
14       999742201  2  2014-01-21 16:35:00.000    1000.0
15       999742202  2  2014-01-21 16:40:00.000    1000.0
16       999742203  2  2014-01-21 16:45:00.000    1000.0
17       999742204  2  2014-01-21 16:50:00.000    1000.0
18       999742205  2  2014-01-21 16:55:00.000    1000.0
19       999742206  2  2014-01-21 17:00:00.000    1000.0
20       999742207  2  2014-01-21 17:05:00.000    1000.0
21       999742208  2  2014-01-21 17:10:00.000    1000.0
22       999742209  2  2014-01-21 17:15:00.000    1000.0
23       999742210  2  2014-01-21 17:20:00.000    1000.0
24       999742211  2  2014-01-21 17:25:00.000    1000.0
25       999742212  2  2014-01-21 17:30:00.000    1000.0
26       999742213  2  2014-01-21 17:35:00.000    1000.0
27       999742214  2  2014-01-21 17:40:00.000    1000.0
28       999742215  2  2014-01-21 17:45:00.000    1000.0
29       999742216  2  2014-01-21 17:50:00.000    1000.0
...            ... ..                      ...       ...
311865  1000054052  2  2017-05-29 08:00:00.000  284517.0
311866  1000054053  2  2017-05-29 08:05:00.000  284520.0
311867  1000054054  2  2017-05-29 08:10:00.000  284522.0
311868  1000054055  2  2017-05-29 08:15:00.000  284524.0
311869  1000054056  2  2017-05-29 08:20:00.000  284526.0
311870  1000054057  2  2017-05-29 08:25:00.000  284528.0
311871  1000054058  2  2017-05-29 08:30:00.000  284530.0
311872  1000054059  2  2017-05-29 08:35:00.000  284533.0
311873  1000054060  2  2017-05-29 08:40:00.000  284536.0
311874  1000054061  2  2017-05-29 08:45:00.000  284539.0
311875  1000054062  2  2017-05-29 08:50:00.000  284541.0
311876  1000054063  2  2017-05-29 08:55:00.000  284545.0
311877  1000054064  2  2017-05-29 09:00:00.000  284547.0
311878  1000054065  2  2017-05-29 09:05:00.000  284549.0
311879  1000054066  2  2017-05-29 09:10:00.000  284551.0
311880  1000054067  2  2017-05-29 09:15:00.000  284553.0
311881  1000054068  2  2017-05-29 09:20:00.000  284554.0
311882  1000054069  2  2017-05-29 09:25:00.000  284556.0
311883  1000054070  2  2017-05-29 09:30:00.000  284558.0
311884  1000054071  2  2017-05-29 09:35:00.000  284561.0
311885  1000054072  2  2017-05-29 09:40:00.000  284563.0
311886  1000054073  2  2017-05-29 09:45:00.000  284565.0
311887  1000054074  2  2017-05-29 09:50:00.000  284568.0
311888  1000054075  2  2017-05-29 09:55:00.000  284570.0
311889  1000054076  2  2017-05-29 10:00:00.000  284572.0
311890  1000054077  2  2017-05-29 10:05:00.000  284573.0
311891  1000054078  2  2017-05-29 10:10:00.000  284576.0
311892  1000054079  2  2017-05-29 10:15:00.000  284578.0
311893  1000054080  2  2017-05-29 10:20:00.000  284580.0
311894  1000054081  2  2017-05-29 10:25:00.000  284582.0

[311895 rows x 4 columns]

In [14]:
stmMtr2_usg

               seq  t                       ts        v
0        999927472  0  2015-10-26 11:25:27.400  49154.0
1        999927473  0  2015-10-26 11:25:27.400      2.0
2        999927474  2  2015-10-26 11:30:00.000      0.0
3        999927475  2  2015-10-26 11:35:00.000      0.0
4        999927476  2  2015-10-26 11:40:00.000      0.0
5        999927477  2  2015-10-26 11:45:00.000      0.0
6        999927478  2  2015-10-26 11:50:00.000      0.0
7        999927479  2  2015-10-26 11:55:00.000      0.0
8        999927480  2  2015-10-26 12:00:00.000      0.0
9        999927481  2  2015-10-26 12:05:00.000      0.0
10       999927482  2  2015-10-26 12:10:00.000      0.0
11       999927483  2  2015-10-26 12:15:00.000      0.0
12       999927484  2  2015-10-26 12:20:00.000      0.0
13       999927485  2  2015-10-26 12:25:00.000      0.0
14       999927486  2  2015-10-26 12:30:00.000      0.0
15       999927487  2  2015-10-26 12:35:00.000      0.0
16       999927488  2  2015-10-26 12:40:00.000      0.0
17       999927489  2  2015-10-26 12:45:00.000      0.0
18       999927490  2  2015-10-26 12:50:00.000      0.0
19       999927491  2  2015-10-26 12:55:00.000      0.0
20       999927492  2  2015-10-26 13:00:00.000      0.0
21       999927493  2  2015-10-26 13:05:00.000      0.0
22       999927494  2  2015-10-26 13:10:00.000      0.0
23       999927495  2  2015-10-26 13:15:00.000      0.0
24       999927496  2  2015-10-26 13:20:00.000      0.0
25       999927497  2  2015-10-26 13:25:00.000      0.0
26       999927498  2  2015-10-26 13:30:00.000      0.0
27       999927499  2  2015-10-26 13:35:00.000      0.0
28       999927500  2  2015-10-26 13:40:00.000      0.0
29       999927501  2  2015-10-26 13:45:00.000      0.0
...            ... ..                      ...      ...
126581  1000054053  2  2017-05-29 08:00:00.000      0.0
126582  1000054054  2  2017-05-29 08:05:00.000      0.0
126583  1000054055  2  2017-05-29 08:10:00.000      0.0
126584  1000054056  2  2017-05-29 08:15:00.000      0.0
126585  1000054057  2  2017-05-29 08:20:00.000      0.0
126586  1000054058  2  2017-05-29 08:25:00.000      0.0
126587  1000054059  2  2017-05-29 08:30:00.000      0.0
126588  1000054060  2  2017-05-29 08:35:00.000      0.0
126589  1000054061  2  2017-05-29 08:40:00.000      0.0
126590  1000054062  2  2017-05-29 08:45:00.000      0.0
126591  1000054063  2  2017-05-29 08:50:00.000      0.0
126592  1000054064  2  2017-05-29 08:55:00.000      0.0
126593  1000054065  2  2017-05-29 09:00:00.000      0.0
126594  1000054066  2  2017-05-29 09:05:00.000      0.0
126595  1000054067  2  2017-05-29 09:10:00.000      0.0
126596  1000054068  2  2017-05-29 09:15:00.000      0.0
126597  1000054069  2  2017-05-29 09:20:00.000      0.0
126598  1000054070  2  2017-05-29 09:25:00.000      0.0
126599  1000054071  2  2017-05-29 09:30:00.000      0.0
126600  1000054072  2  2017-05-29 09:35:00.000      0.0
126601  1000054073  2  2017-05-29 09:40:00.000      0.0
126602  1000054074  2  2017-05-29 09:45:00.000      0.0
126603  1000054075  2  2017-05-29 09:50:00.000      0.0
126604  1000054076  2  2017-05-29 09:55:00.000      0.0
126605  1000054077  2  2017-05-29 10:00:00.000      0.0
126606  1000054078  2  2017-05-29 10:05:00.000      0.0
126607  1000054079  2  2017-05-29 10:10:00.000      0.0
126608  1000054080  2  2017-05-29 10:15:00.000      0.0
126609  1000054081  2  2017-05-29 10:20:00.000      0.0
126610  1000054082  2  2017-05-29 10:25:00.000      0.0

[126611 rows x 4 columns]

In [15]:
stmMtr2_tot

               seq  t                       ts          v
0        999618861  0  2012-11-19 13:22:58.400    49154.0
1        999618862  0  2012-11-19 13:22:59.100        2.0
2        999618863  2  2012-11-19 13:25:00.000   255000.0
3        999618864  0  2012-11-19 13:25:26.800    32770.0
4        999618865  0  2012-11-19 13:25:27.500        2.0
5        999618866  0  2012-11-19 13:29:56.400    32770.0
6        999618867  0  2012-11-19 13:29:57.300        2.0
7        999618868  2  2012-11-19 13:30:00.000   255000.0
8        999618869  2  2012-11-19 13:35:00.000   255000.0
9        999618870  2  2012-11-19 13:40:00.000   255000.0
10       999618871  2  2012-11-19 13:45:00.000   255000.0
11       999618872  2  2012-11-19 13:50:00.000   255000.0
12       999618873  2  2012-11-19 13:55:00.000   255000.0
13       999618874  2  2012-11-19 14:00:00.000   255000.0
14       999618875  2  2012-11-19 14:05:00.000   256000.0
15       999618876  2  2012-11-19 14:10:00.000   256000.0
16       999618877  2  2012-11-19 14:15:00.000   256000.0
17       999618878  2  2012-11-19 14:20:00.000   256000.0
18       999618879  2  2012-11-19 14:25:00.000   256000.0
19       999618880  2  2012-11-19 14:30:00.000   256000.0
20       999618881  2  2012-11-19 14:35:00.000   256000.0
21       999618882  2  2012-11-19 14:40:00.000   256000.0
22       999618883  2  2012-11-19 14:45:00.000   256000.0
23       999618884  2  2012-11-19 14:50:00.000   256000.0
24       999618885  2  2012-11-19 14:55:00.000   256000.0
25       999618886  2  2012-11-19 15:00:00.000   256000.0
26       999618887  2  2012-11-19 15:05:00.000   256000.0
27       999618888  2  2012-11-19 15:10:00.000   256000.0
28       999618889  2  2012-11-19 15:15:00.000   256000.0
29       999618890  2  2012-11-19 15:20:00.000   256000.0
...            ... ..                      ...        ...
435191  1000054052  2  2017-05-29 08:00:00.000  4665000.0
435192  1000054053  2  2017-05-29 08:05:00.000  4665000.0
435193  1000054054  2  2017-05-29 08:10:00.000  4665000.0
435194  1000054055  2  2017-05-29 08:15:00.000  4665000.0
435195  1000054056  2  2017-05-29 08:20:00.000  4665000.0
435196  1000054057  2  2017-05-29 08:25:00.000  4665000.0
435197  1000054058  2  2017-05-29 08:30:00.000  4665000.0
435198  1000054059  2  2017-05-29 08:35:00.000  4665000.0
435199  1000054060  2  2017-05-29 08:40:00.000  4665000.0
435200  1000054061  2  2017-05-29 08:45:00.000  4665000.0
435201  1000054062  2  2017-05-29 08:50:00.000  4665000.0
435202  1000054063  2  2017-05-29 08:55:00.000  4665000.0
435203  1000054064  2  2017-05-29 09:00:00.000  4665000.0
435204  1000054065  2  2017-05-29 09:05:00.000  4665000.0
435205  1000054066  2  2017-05-29 09:10:00.000  4665000.0
435206  1000054067  2  2017-05-29 09:15:00.000  4665000.0
435207  1000054068  2  2017-05-29 09:20:00.000  4665000.0
435208  1000054069  2  2017-05-29 09:25:00.000  4665000.0
435209  1000054070  2  2017-05-29 09:30:00.000  4665000.0
435210  1000054071  2  2017-05-29 09:35:00.000  4665000.0
435211  1000054072  2  2017-05-29 09:40:00.000  4665000.0
435212  1000054073  2  2017-05-29 09:45:00.000  4665000.0
435213  1000054074  2  2017-05-29 09:50:00.000  4665000.0
435214  1000054075  2  2017-05-29 09:55:00.000  4665000.0
435215  1000054076  2  2017-05-29 10:00:00.000  4665000.0
435216  1000054077  2  2017-05-29 10:05:00.000  4665000.0
435217  1000054078  2  2017-05-29 10:10:00.000  4665000.0
435218  1000054079  2  2017-05-29 10:15:00.000  4665000.0
435219  1000054080  2  2017-05-29 10:20:00.000  4665000.0
435220  1000054081  2  2017-05-29 10:25:00.000  4665000.0

[435221 rows x 4 columns]

In [16]:
steamFlw_tot

               seq  t                       ts            v
0        999851364  2  2012-05-30 00:00:00.300   29359800.0
1        999851365  0  2012-05-30 00:02:16.000      32770.0
2        999851366  0  2012-05-30 00:02:16.000          2.0
3        999851367  2  2012-05-30 00:15:00.500   29359800.0
4        999851368  2  2012-05-30 00:30:00.600   29359800.0
5        999851369  2  2012-05-30 00:45:00.600   29359800.0
6        999851370  2  2012-05-30 01:00:00.400   29359800.0
7        999851371  2  2012-05-30 01:15:00.400   29359800.0
8        999851372  2  2012-05-30 01:30:00.600   29359800.0
9        999851373  2  2012-05-30 01:45:00.300   29359800.0
10       999851374  2  2012-05-30 02:00:00.500   29359800.0
11       999851375  2  2012-05-30 02:15:00.400   29359800.0
12       999851376  2  2012-05-30 02:30:00.600   29359800.0
13       999851377  2  2012-05-30 02:45:00.700   29359800.0
14       999851378  2  2012-05-30 03:00:00.300   29359800.0
15       999851379  2  2012-05-30 03:15:00.300   29359800.0
16       999851380  2  2012-05-30 03:30:00.500   29359800.0
17       999851381  2  2012-05-30 03:45:00.600   29359800.0
18       999851382  2  2012-05-30 04:00:00.600   29359800.0
19       999851383  2  2012-05-30 04:15:00.600   29359800.0
20       999851384  2  2012-05-30 04:30:00.300   29359800.0
21       999851385  2  2012-05-30 04:45:00.600   29359800.0
22       999851386  2  2012-05-30 05:00:00.700   29359800.0
23       999851387  2  2012-05-30 05:15:00.400   29359800.0
24       999851388  2  2012-05-30 05:30:00.400   29359800.0
25       999851389  2  2012-05-30 05:45:00.600   29359800.0
26       999851390  2  2012-05-30 06:00:00.600   29359800.0
27       999851391  2  2012-05-30 06:15:00.400   29359800.0
28       999851392  2  2012-05-30 06:30:00.500   29359800.0
29       999851393  2  2012-05-30 06:45:00.300   29359800.0
...            ... ..                      ...          ...
164741  1000016105  2  2017-05-29 03:00:00.400  105081776.0
164742  1000016106  2  2017-05-29 03:15:00.000  105081808.0
164743  1000016107  2  2017-05-29 03:30:00.100  105081832.0
164744  1000016108  2  2017-05-29 03:45:00.300  105081856.0
164745  1000016109  2  2017-05-29 04:00:00.200  105081880.0
164746  1000016110  2  2017-05-29 04:15:00.400  105081904.0
164747  1000016111  2  2017-05-29 04:30:00.000  105081928.0
164748  1000016112  2  2017-05-29 04:45:00.400  105081952.0
164749  1000016113  2  2017-05-29 05:00:00.100  105081976.0
164750  1000016114  2  2017-05-29 05:15:00.300  105082000.0
164751  1000016115  2  2017-05-29 05:30:00.400  105082024.0
164752  1000016116  2  2017-05-29 05:45:00.300  105082048.0
164753  1000016117  2  2017-05-29 06:00:00.000  105082072.0
164754  1000016118  2  2017-05-29 06:15:00.100  105082096.0
164755  1000016119  2  2017-05-29 06:30:00.100  105082128.0
164756  1000016120  2  2017-05-29 06:45:00.300  105082152.0
164757  1000016121  2  2017-05-29 07:00:00.100  105082176.0
164758  1000016122  2  2017-05-29 07:15:00.000  105082200.0
164759  1000016123  2  2017-05-29 07:30:00.100  105082224.0
164760  1000016124  2  2017-05-29 07:45:00.400  105082248.0
164761  1000016125  2  2017-05-29 08:00:00.300  105082272.0
164762  1000016126  2  2017-05-29 08:15:00.000  105082296.0
164763  1000016127  2  2017-05-29 08:30:00.100  105082320.0
164764  1000016128  2  2017-05-29 08:45:00.300  105082344.0
164765  1000016129  2  2017-05-29 09:00:00.300  105082368.0
164766  1000016130  2  2017-05-29 09:15:00.000  105082392.0
164767  1000016131  2  2017-05-29 09:30:00.300  105082416.0
164768  1000016132  2  2017-05-29 09:45:00.300  105082440.0
164769  1000016133  2  2017-05-29 10:00:00.400  105082472.0
164770  1000016134  2  2017-05-29 10:15:00.200  105082496.0

[164771 rows x 4 columns]

In [17]:
steamBtu_tot

               seq  t                       ts    v
0        999581163  2  2012-05-30 03:40:00.500  0.0
1        999581164  2  2012-05-30 03:45:00.700  0.0
2        999581165  2  2012-05-30 03:50:00.600  0.0
3        999581166  2  2012-05-30 03:55:00.600  0.0
4        999581167  2  2012-05-30 04:00:00.700  0.0
5        999581168  2  2012-05-30 04:05:00.600  0.0
6        999581169  2  2012-05-30 04:10:00.400  0.0
7        999581170  2  2012-05-30 04:15:00.700  0.0
8        999581171  2  2012-05-30 04:20:00.600  0.0
9        999581172  2  2012-05-30 04:25:00.600  0.0
10       999581173  2  2012-05-30 04:30:00.400  0.0
11       999581174  2  2012-05-30 04:35:00.700  0.0
12       999581175  2  2012-05-30 04:40:00.700  0.0
13       999581176  2  2012-05-30 04:45:00.700  0.0
14       999581177  2  2012-05-30 04:50:00.800  0.0
15       999581178  2  2012-05-30 04:55:00.800  0.0
16       999581179  2  2012-05-30 05:00:00.800  0.0
17       999581180  2  2012-05-30 05:05:00.700  0.0
18       999581181  2  2012-05-30 05:10:00.400  0.0
19       999581182  2  2012-05-30 05:15:00.500  0.0
20       999581183  2  2012-05-30 05:20:00.500  0.0
21       999581184  2  2012-05-30 05:25:00.400  0.0
22       999581185  2  2012-05-30 05:30:00.500  0.0
23       999581186  2  2012-05-30 05:35:00.500  0.0
24       999581187  2  2012-05-30 05:40:00.400  0.0
25       999581188  2  2012-05-30 05:45:00.700  0.0
26       999581189  2  2012-05-30 05:50:00.500  0.0
27       999581190  2  2012-05-30 05:55:00.800  0.0
28       999581191  2  2012-05-30 06:00:00.700  0.0
29       999581192  2  2012-05-30 06:05:00.500  0.0
...            ... ..                      ...  ...
467014  1000048177  2  2017-05-29 08:00:00.300  0.0
467015  1000048178  2  2017-05-29 08:05:00.200  0.0
467016  1000048179  2  2017-05-29 08:10:00.000  0.0
467017  1000048180  2  2017-05-29 08:15:00.000  0.0
467018  1000048181  2  2017-05-29 08:20:00.100  0.0
467019  1000048182  2  2017-05-29 08:25:00.200  0.0
467020  1000048183  2  2017-05-29 08:30:00.100  0.0
467021  1000048184  2  2017-05-29 08:35:00.100  0.0
467022  1000048185  2  2017-05-29 08:40:00.100  0.0
467023  1000048186  2  2017-05-29 08:45:00.300  0.0
467024  1000048187  2  2017-05-29 08:50:00.300  0.0
467025  1000048188  2  2017-05-29 08:55:00.400  0.0
467026  1000048189  2  2017-05-29 09:00:00.300  0.0
467027  1000048190  2  2017-05-29 09:05:00.300  0.0
467028  1000048191  2  2017-05-29 09:10:00.200  0.0
467029  1000048192  2  2017-05-29 09:15:00.000  0.0
467030  1000048193  2  2017-05-29 09:20:00.100  0.0
467031  1000048194  2  2017-05-29 09:25:00.000  0.0
467032  1000048195  2  2017-05-29 09:30:00.300  0.0
467033  1000048196  2  2017-05-29 09:35:00.000  0.0
467034  1000048197  2  2017-05-29 09:40:00.100  0.0
467035  1000048198  2  2017-05-29 09:45:00.300  0.0
467036  1000048199  2  2017-05-29 09:50:00.200  0.0
467037  1000048200  2  2017-05-29 09:55:00.500  0.0
467038  1000048201  2  2017-05-29 10:00:00.400  0.0
467039  1000048202  2  2017-05-29 10:05:00.000  0.0
467040  1000048203  2  2017-05-29 10:10:00.000  0.0
467041  1000048204  2  2017-05-29 10:15:00.200  0.0
467042  1000048205  2  2017-05-29 10:20:00.000  0.0
467043  1000048206  2  2017-05-29 10:25:00.200  0.0

[467044 rows x 4 columns]

In [18]:
reheatFlw_tot

               seq  t                       ts           v
0        999852600  2  2012-05-30 00:00:00.900  11612500.0
1        999852601  0  2012-05-30 00:02:16.600     32770.0
2        999852602  0  2012-05-30 00:02:16.600         2.0
3        999852603  2  2012-05-30 00:15:01.100  11613000.0
4        999852604  2  2012-05-30 00:30:01.200  11613400.0
5        999852605  2  2012-05-30 00:45:01.200  11613600.0
6        999852606  2  2012-05-30 01:00:01.000  11613800.0
7        999852607  2  2012-05-30 01:15:01.000  11614000.0
8        999852608  2  2012-05-30 01:30:01.200  11614200.0
9        999852609  2  2012-05-30 01:45:00.900  11614300.0
10       999852610  2  2012-05-30 02:00:01.100  11614400.0
11       999852611  2  2012-05-30 02:15:01.000  11614600.0
12       999852612  2  2012-05-30 02:30:01.200  11614700.0
13       999852613  2  2012-05-30 02:45:01.300  11614900.0
14       999852614  2  2012-05-30 03:00:00.900  11615000.0
15       999852615  2  2012-05-30 03:15:00.900  11615100.0
16       999852616  2  2012-05-30 03:30:01.100  11615300.0
17       999852617  2  2012-05-30 03:45:01.200  11615400.0
18       999852618  2  2012-05-30 04:00:01.200  11615600.0
19       999852619  2  2012-05-30 04:15:01.200  11615700.0
20       999852620  2  2012-05-30 04:30:00.900  11615800.0
21       999852621  2  2012-05-30 04:45:01.200  11616000.0
22       999852622  2  2012-05-30 05:00:01.300  11616100.0
23       999852623  2  2012-05-30 05:15:01.000  11616300.0
24       999852624  2  2012-05-30 05:30:01.000  11616400.0
25       999852625  2  2012-05-30 05:45:01.200  11616500.0
26       999852626  2  2012-05-30 06:00:01.200  11616700.0
27       999852627  2  2012-05-30 06:15:01.000  11616800.0
28       999852628  2  2012-05-30 06:30:01.100  11616900.0
29       999852629  2  2012-05-30 06:45:00.900  11617100.0
...            ... ..                      ...         ...
163505  1000016105  2  2017-05-29 03:00:00.400  13983509.0
163506  1000016106  2  2017-05-29 03:15:00.000  13983509.0
163507  1000016107  2  2017-05-29 03:30:00.100  13983509.0
163508  1000016108  2  2017-05-29 03:45:00.400  13983509.0
163509  1000016109  2  2017-05-29 04:00:00.200  13983509.0
163510  1000016110  2  2017-05-29 04:15:00.400  13983509.0
163511  1000016111  2  2017-05-29 04:30:00.000  13983509.0
163512  1000016112  2  2017-05-29 04:45:00.400  13983509.0
163513  1000016113  2  2017-05-29 05:00:00.100  13983509.0
163514  1000016114  2  2017-05-29 05:15:00.300  13983509.0
163515  1000016115  2  2017-05-29 05:30:00.400  13983509.0
163516  1000016116  2  2017-05-29 05:45:00.300  13983509.0
163517  1000016117  2  2017-05-29 06:00:00.000  13983509.0
163518  1000016118  2  2017-05-29 06:15:00.100  13983509.0
163519  1000016119  2  2017-05-29 06:30:00.100  13983509.0
163520  1000016120  2  2017-05-29 06:45:00.400  13983509.0
163521  1000016121  2  2017-05-29 07:00:00.100  13983509.0
163522  1000016122  2  2017-05-29 07:15:00.000  13983509.0
163523  1000016123  2  2017-05-29 07:30:00.100  13983509.0
163524  1000016124  2  2017-05-29 07:45:00.400  13983509.0
163525  1000016125  2  2017-05-29 08:00:00.300  13983509.0
163526  1000016126  2  2017-05-29 08:15:00.000  13983509.0
163527  1000016127  2  2017-05-29 08:30:00.100  13983509.0
163528  1000016128  2  2017-05-29 08:45:00.300  13983509.0
163529  1000016129  2  2017-05-29 09:00:00.300  13983509.0
163530  1000016130  2  2017-05-29 09:15:00.000  13983509.0
163531  1000016131  2  2017-05-29 09:30:00.300  13983509.0
163532  1000016132  2  2017-05-29 09:45:00.300  13983509.0
163533  1000016133  2  2017-05-29 10:00:00.400  13983509.0
163534  1000016134  2  2017-05-29 10:15:00.200  13983509.0

[163535 rows x 4 columns]

In [19]:
reheatBtu_tot

               seq  t                       ts           v
0        999581063  2  2012-05-30 03:40:00.400   718702.00
1        999581064  2  2012-05-30 03:45:00.600   718702.00
2        999581065  2  2012-05-30 03:50:00.500   718702.00
3        999581066  2  2012-05-30 03:55:00.500   718703.00
4        999581067  2  2012-05-30 04:00:00.600   718703.00
5        999581068  2  2012-05-30 04:05:00.500   718703.00
6        999581069  2  2012-05-30 04:10:00.300   718704.00
7        999581070  2  2012-05-30 04:15:00.600   718704.00
8        999581071  2  2012-05-30 04:20:00.500   718704.00
9        999581072  2  2012-05-30 04:25:00.500   718705.00
10       999581073  2  2012-05-30 04:30:00.300   718705.00
11       999581074  2  2012-05-30 04:35:00.600   718705.00
12       999581075  2  2012-05-30 04:40:00.600   718706.00
13       999581076  2  2012-05-30 04:45:00.600   718706.00
14       999581077  2  2012-05-30 04:50:00.300   718706.00
15       999581078  2  2012-05-30 04:55:00.700   718707.00
16       999581079  2  2012-05-30 05:00:00.700   718707.00
17       999581080  2  2012-05-30 05:05:00.600   718707.00
18       999581081  2  2012-05-30 05:10:00.300   718708.00
19       999581082  2  2012-05-30 05:15:00.500   718708.00
20       999581083  2  2012-05-30 05:20:00.400   718709.00
21       999581084  2  2012-05-30 05:25:00.300   718709.00
22       999581085  2  2012-05-30 05:30:00.400   718709.00
23       999581086  2  2012-05-30 05:35:00.400   718710.00
24       999581087  2  2012-05-30 05:40:00.400   718710.00
25       999581088  2  2012-05-30 05:45:00.600   718710.00
26       999581089  2  2012-05-30 05:50:00.400   718711.00
27       999581090  2  2012-05-30 05:55:00.700   718711.00
28       999581091  2  2012-05-30 06:00:00.600   718712.00
29       999581092  2  2012-05-30 06:05:00.400   718712.00
...            ... ..                      ...         ...
467114  1000048177  2  2017-05-29 08:00:00.300  1097796.25
467115  1000048178  2  2017-05-29 08:05:00.200  1097796.25
467116  1000048179  2  2017-05-29 08:10:00.000  1097796.25
467117  1000048180  2  2017-05-29 08:15:00.000  1097796.25
467118  1000048181  2  2017-05-29 08:20:00.100  1097796.25
467119  1000048182  2  2017-05-29 08:25:00.200  1097796.25
467120  1000048183  2  2017-05-29 08:30:00.100  1097796.25
467121  1000048184  2  2017-05-29 08:35:00.100  1097796.25
467122  1000048185  2  2017-05-29 08:40:00.100  1097796.25
467123  1000048186  2  2017-05-29 08:45:00.300  1097796.25
467124  1000048187  2  2017-05-29 08:50:00.300  1097796.25
467125  1000048188  2  2017-05-29 08:55:00.400  1097796.25
467126  1000048189  2  2017-05-29 09:00:00.400  1097796.25
467127  1000048190  2  2017-05-29 09:05:00.300  1097796.25
467128  1000048191  2  2017-05-29 09:10:00.200  1097796.25
467129  1000048192  2  2017-05-29 09:15:00.000  1097796.25
467130  1000048193  2  2017-05-29 09:20:00.100  1097796.25
467131  1000048194  2  2017-05-29 09:25:00.000  1097796.25
467132  1000048195  2  2017-05-29 09:30:00.300  1097796.25
467133  1000048196  2  2017-05-29 09:35:00.100  1097796.25
467134  1000048197  2  2017-05-29 09:40:00.200  1097796.25
467135  1000048198  2  2017-05-29 09:45:00.300  1097796.25
467136  1000048199  2  2017-05-29 09:50:00.200  1097796.25
467137  1000048200  2  2017-05-29 09:55:00.500  1097796.25
467138  1000048201  2  2017-05-29 10:00:00.400  1097796.25
467139  1000048202  2  2017-05-29 10:05:00.000  1097796.25
467140  1000048203  2  2017-05-29 10:10:00.000  1097796.25
467141  1000048204  2  2017-05-29 10:15:00.200  1097796.25
467142  1000048205  2  2017-05-29 10:20:00.000  1097796.25
467143  1000048206  2  2017-05-29 10:25:00.200  1097796.25

[467144 rows x 4 columns]

In [20]:
rainwaterSaving_tot

               seq  t                       ts         v
0        999851051  2  2012-05-30 00:00:03.200   82334.8
1        999851052  0  2012-05-30 00:02:16.000   32770.0
2        999851053  0  2012-05-30 00:02:16.000       2.0
3        999851054  2  2012-05-30 00:02:21.200   82334.8
4        999851055  2  2012-05-30 00:17:21.200   82334.8
5        999851056  2  2012-05-30 00:32:21.300   82334.8
6        999851057  2  2012-05-30 00:47:21.500   82334.8
7        999851058  2  2012-05-30 01:02:21.800   82334.8
8        999851059  2  2012-05-30 01:17:21.900   82334.8
9        999851060  2  2012-05-30 01:32:21.900   82334.8
10       999851061  2  2012-05-30 01:47:22.100   82334.8
11       999851062  2  2012-05-30 02:02:22.100   82334.8
12       999851063  2  2012-05-30 02:17:22.200   82334.8
13       999851064  2  2012-05-30 02:32:22.200   82334.8
14       999851065  2  2012-05-30 02:47:22.300   82334.8
15       999851066  2  2012-05-30 03:02:22.300   82334.8
16       999851067  2  2012-05-30 03:17:22.500   82334.8
17       999851068  2  2012-05-30 03:32:22.500   82334.8
18       999851069  2  2012-05-30 03:47:22.500   82334.8
19       999851070  2  2012-05-30 04:02:22.600   82334.8
20       999851071  2  2012-05-30 04:17:22.600   82334.8
21       999851072  2  2012-05-30 04:32:22.700   82334.8
22       999851073  2  2012-05-30 04:47:22.800   82334.8
23       999851074  2  2012-05-30 05:02:23.000   82334.8
24       999851075  2  2012-05-30 05:17:23.200   82334.8
25       999851076  2  2012-05-30 05:32:23.200   82334.8
26       999851077  2  2012-05-30 05:47:23.200   82334.8
27       999851078  2  2012-05-30 06:02:23.400   82334.8
28       999851079  2  2012-05-30 06:17:24.300   82334.8
29       999851080  2  2012-05-30 06:32:24.400   82334.8
...            ... ..                      ...       ...
165257  1000016308  2  2017-05-29 03:08:09.900  102635.0
165258  1000016309  2  2017-05-29 03:23:09.900  102636.0
165259  1000016310  2  2017-05-29 03:38:09.900  102636.0
165260  1000016311  2  2017-05-29 03:53:10.100  102636.0
165261  1000016312  2  2017-05-29 04:08:10.100  102637.0
165262  1000016313  2  2017-05-29 04:23:10.100  102637.0
165263  1000016314  2  2017-05-29 04:38:10.100  102637.0
165264  1000016315  2  2017-05-29 04:53:10.500  102638.0
165265  1000016316  2  2017-05-29 05:08:10.700  102638.0
165266  1000016317  2  2017-05-29 05:23:11.100  102639.0
165267  1000016318  2  2017-05-29 05:38:11.200  102639.0
165268  1000016319  2  2017-05-29 05:53:11.300  102639.0
165269  1000016320  2  2017-05-29 06:08:11.300  102640.0
165270  1000016321  2  2017-05-29 06:23:11.500  102640.0
165271  1000016322  2  2017-05-29 06:38:11.600  102640.0
165272  1000016323  2  2017-05-29 06:53:11.600  102641.0
165273  1000016324  2  2017-05-29 07:08:11.800  102641.0
165274  1000016325  2  2017-05-29 07:23:12.200  102641.0
165275  1000016326  2  2017-05-29 07:38:12.300  102642.0
165276  1000016327  2  2017-05-29 07:53:12.400  102642.0
165277  1000016328  2  2017-05-29 08:08:12.500  102642.0
165278  1000016329  2  2017-05-29 08:23:13.200  102643.0
165279  1000016330  2  2017-05-29 08:38:13.300  102643.0
165280  1000016331  2  2017-05-29 08:53:13.500  102643.0
165281  1000016332  2  2017-05-29 09:08:13.600  102644.0
165282  1000016333  2  2017-05-29 09:23:13.600  102644.0
165283  1000016334  2  2017-05-29 09:38:13.700  102644.0
165284  1000016335  2  2017-05-29 09:53:13.800  102645.0
165285  1000016336  2  2017-05-29 10:08:14.000  102645.0
165286  1000016337  2  2017-05-29 10:23:12.800  102645.0

[165287 rows x 4 columns]

In [21]:
radBtu_tot

               seq  t                       ts           v
0        999581064  2  2012-05-30 03:40:00.100   369417.00
1        999581065  2  2012-05-30 03:45:00.300   369417.00
2        999581066  2  2012-05-30 03:50:00.200   369417.00
3        999581067  2  2012-05-30 03:55:00.200   369417.00
4        999581068  2  2012-05-30 04:00:00.300   369417.00
5        999581069  2  2012-05-30 04:05:00.200   369417.00
6        999581070  2  2012-05-30 04:10:00.000   369417.00
7        999581071  2  2012-05-30 04:15:00.300   369417.00
8        999581072  2  2012-05-30 04:20:00.200   369417.00
9        999581073  2  2012-05-30 04:25:00.200   369417.00
10       999581074  2  2012-05-30 04:30:00.000   369417.00
11       999581075  2  2012-05-30 04:35:00.300   369417.00
12       999581076  2  2012-05-30 04:40:00.300   369417.00
13       999581077  2  2012-05-30 04:45:00.300   369417.00
14       999581078  2  2012-05-30 04:50:00.400   369417.00
15       999581079  2  2012-05-30 04:55:00.400   369417.00
16       999581080  2  2012-05-30 05:00:00.400   369417.00
17       999581081  2  2012-05-30 05:05:00.300   369417.00
18       999581082  2  2012-05-30 05:10:00.000   369417.00
19       999581083  2  2012-05-30 05:15:00.200   369417.00
20       999581084  2  2012-05-30 05:20:00.100   369417.00
21       999581085  2  2012-05-30 05:25:00.000   369417.00
22       999581086  2  2012-05-30 05:30:00.100   369417.00
23       999581087  2  2012-05-30 05:35:00.100   369417.00
24       999581088  2  2012-05-30 05:40:00.100   369417.00
25       999581089  2  2012-05-30 05:45:00.300   369417.00
26       999581090  2  2012-05-30 05:50:00.100   369417.00
27       999581091  2  2012-05-30 05:55:00.400   369417.00
28       999581092  2  2012-05-30 06:00:00.300   369417.00
29       999581093  2  2012-05-30 06:05:00.100   369417.00
...            ... ..                      ...         ...
467113  1000048177  2  2017-05-29 08:00:00.300  2346196.25
467114  1000048178  2  2017-05-29 08:05:00.200  2346196.25
467115  1000048179  2  2017-05-29 08:10:00.000  2346196.25
467116  1000048180  2  2017-05-29 08:15:00.000  2346196.25
467117  1000048181  2  2017-05-29 08:20:00.100  2346196.25
467118  1000048182  2  2017-05-29 08:25:00.200  2346196.25
467119  1000048183  2  2017-05-29 08:30:00.100  2346196.25
467120  1000048184  2  2017-05-29 08:35:00.100  2346196.25
467121  1000048185  2  2017-05-29 08:40:00.100  2346196.25
467122  1000048186  2  2017-05-29 08:45:00.300  2346196.25
467123  1000048187  2  2017-05-29 08:50:00.300  2346196.25
467124  1000048188  2  2017-05-29 08:55:00.400  2346196.25
467125  1000048189  2  2017-05-29 09:00:00.300  2346196.25
467126  1000048190  2  2017-05-29 09:05:00.300  2346196.25
467127  1000048191  2  2017-05-29 09:10:00.200  2346196.25
467128  1000048192  2  2017-05-29 09:15:00.000  2346196.25
467129  1000048193  2  2017-05-29 09:20:00.100  2346196.25
467130  1000048194  2  2017-05-29 09:25:00.000  2346196.25
467131  1000048195  2  2017-05-29 09:30:00.300  2346196.25
467132  1000048196  2  2017-05-29 09:35:00.100  2346196.25
467133  1000048197  2  2017-05-29 09:40:00.200  2346196.25
467134  1000048198  2  2017-05-29 09:45:00.300  2346196.25
467135  1000048199  2  2017-05-29 09:50:00.200  2346196.25
467136  1000048200  2  2017-05-29 09:55:00.500  2346196.25
467137  1000048201  2  2017-05-29 10:00:00.400  2346196.25
467138  1000048202  2  2017-05-29 10:05:00.000  2346196.25
467139  1000048203  2  2017-05-29 10:10:00.000  2346196.25
467140  1000048204  2  2017-05-29 10:15:00.200  2346196.25
467141  1000048205  2  2017-05-29 10:20:00.000  2346196.25
467142  1000048206  2  2017-05-29 10:25:00.200  2346196.25

[467143 rows x 4 columns]

In [22]:
radwaterFlw_tot

               seq  t                       ts           v
0        999851364  2  2012-05-30 00:00:00.100  16332100.0
1        999851365  0  2012-05-30 00:02:15.800     32770.0
2        999851366  0  2012-05-30 00:02:15.800         2.0
3        999851367  2  2012-05-30 00:15:00.300  16332100.0
4        999851368  2  2012-05-30 00:30:00.400  16332100.0
5        999851369  2  2012-05-30 00:45:00.500  16332100.0
6        999851370  2  2012-05-30 01:00:00.200  16332100.0
7        999851371  2  2012-05-30 01:15:00.200  16332100.0
8        999851372  2  2012-05-30 01:30:00.400  16332100.0
9        999851373  2  2012-05-30 01:45:00.100  16332100.0
10       999851374  2  2012-05-30 02:00:00.300  16332100.0
11       999851375  2  2012-05-30 02:15:00.200  16332100.0
12       999851376  2  2012-05-30 02:30:00.400  16332100.0
13       999851377  2  2012-05-30 02:45:00.500  16332100.0
14       999851378  2  2012-05-30 03:00:00.100  16332100.0
15       999851379  2  2012-05-30 03:15:00.100  16332100.0
16       999851380  2  2012-05-30 03:30:00.300  16332100.0
17       999851381  2  2012-05-30 03:45:00.400  16332100.0
18       999851382  2  2012-05-30 04:00:00.400  16332100.0
19       999851383  2  2012-05-30 04:15:00.400  16332100.0
20       999851384  2  2012-05-30 04:30:00.100  16332100.0
21       999851385  2  2012-05-30 04:45:00.400  16332100.0
22       999851386  2  2012-05-30 05:00:00.500  16332100.0
23       999851387  2  2012-05-30 05:15:00.200  16332100.0
24       999851388  2  2012-05-30 05:30:00.200  16332100.0
25       999851389  2  2012-05-30 05:45:00.400  16332100.0
26       999851390  2  2012-05-30 06:00:00.400  16332100.0
27       999851391  2  2012-05-30 06:15:00.200  16332100.0
28       999851392  2  2012-05-30 06:30:00.300  16332100.0
29       999851393  2  2012-05-30 06:45:00.100  16332100.0
...            ... ..                      ...         ...
164741  1000016105  2  2017-05-29 03:00:00.400  53203648.0
164742  1000016106  2  2017-05-29 03:15:00.000  53203648.0
164743  1000016107  2  2017-05-29 03:30:00.100  53203648.0
164744  1000016108  2  2017-05-29 03:45:00.400  53203648.0
164745  1000016109  2  2017-05-29 04:00:00.200  53203648.0
164746  1000016110  2  2017-05-29 04:15:00.400  53203648.0
164747  1000016111  2  2017-05-29 04:30:00.000  53203648.0
164748  1000016112  2  2017-05-29 04:45:00.400  53203648.0
164749  1000016113  2  2017-05-29 05:00:00.100  53203648.0
164750  1000016114  2  2017-05-29 05:15:00.300  53203648.0
164751  1000016115  2  2017-05-29 05:30:00.400  53203648.0
164752  1000016116  2  2017-05-29 05:45:00.300  53203648.0
164753  1000016117  2  2017-05-29 06:00:00.000  53203648.0
164754  1000016118  2  2017-05-29 06:15:00.100  53203648.0
164755  1000016119  2  2017-05-29 06:30:00.100  53203648.0
164756  1000016120  2  2017-05-29 06:45:00.400  53203648.0
164757  1000016121  2  2017-05-29 07:00:00.100  53203648.0
164758  1000016122  2  2017-05-29 07:15:00.000  53203648.0
164759  1000016123  2  2017-05-29 07:30:00.100  53203648.0
164760  1000016124  2  2017-05-29 07:45:00.400  53203648.0
164761  1000016125  2  2017-05-29 08:00:00.300  53203648.0
164762  1000016126  2  2017-05-29 08:15:00.000  53203648.0
164763  1000016127  2  2017-05-29 08:30:00.100  53203648.0
164764  1000016128  2  2017-05-29 08:45:00.300  53203648.0
164765  1000016129  2  2017-05-29 09:00:00.300  53203648.0
164766  1000016130  2  2017-05-29 09:15:00.000  53203648.0
164767  1000016131  2  2017-05-29 09:30:00.300  53203648.0
164768  1000016132  2  2017-05-29 09:45:00.300  53203648.0
164769  1000016133  2  2017-05-29 10:00:00.400  53203648.0
164770  1000016134  2  2017-05-29 10:15:00.200  53203648.0

[164771 rows x 4 columns]

In [23]:
m3kWh_tot

NameError: name 'm3kWh_tot' is not defined

In [24]:
m2kWh_tot

               seq  t                       ts          v
0        999591948  2  2012-05-30 00:00:00.100   583506.0
1        999591949  0  2012-05-30 06:23:23.800    32770.0
2        999591950  0  2012-05-30 06:23:23.800        2.0
3        999591951  0  2012-05-30 20:03:23.800    32770.0
4        999591952  0  2012-05-30 20:03:23.800        2.0
5        999591953  2  2012-05-30 20:05:00.100   583508.0
6        999591954  2  2012-05-30 20:10:00.000   583510.0
7        999591955  2  2012-05-30 20:15:00.100   583512.0
8        999591956  2  2012-05-30 20:20:00.200   583514.0
9        999591957  2  2012-05-30 20:25:00.100   583516.0
10       999591958  2  2012-05-30 20:30:00.000   583517.0
11       999591959  2  2012-05-30 20:35:00.000   583519.0
12       999591960  2  2012-05-30 20:40:00.000   583521.0
13       999591961  2  2012-05-30 20:45:00.000   583522.0
14       999591962  2  2012-05-30 20:50:00.000   583524.0
15       999591963  2  2012-05-30 20:55:00.100   583525.0
16       999591964  2  2012-05-30 21:00:00.000   583527.0
17       999591965  2  2012-05-30 21:05:00.100   583529.0
18       999591966  2  2012-05-30 21:10:00.000   583530.0
19       999591967  2  2012-05-30 21:15:00.200   583532.0
20       999591968  2  2012-05-30 21:20:00.100   583533.0
21       999591969  2  2012-05-30 21:25:00.100   583535.0
22       999591970  2  2012-05-30 21:30:00.100   583537.0
23       999591971  2  2012-05-30 21:35:00.100   583538.0
24       999591972  2  2012-05-30 21:40:00.000   583540.0
25       999591973  2  2012-05-30 21:45:00.000   583541.0
26       999591974  2  2012-05-30 21:50:00.000   583543.0
27       999591975  2  2012-05-30 21:55:00.100   583545.0
28       999591976  2  2012-05-30 22:00:00.000   583546.0
29       999591977  2  2012-05-30 22:05:00.100   583548.0
...            ... ..                      ...        ...
456032  1000047980  2  2017-05-29 08:00:00.000  1887100.0
456033  1000047981  2  2017-05-29 08:05:00.200  1887103.0
456034  1000047982  2  2017-05-29 08:10:00.000  1887105.0
456035  1000047983  2  2017-05-29 08:15:00.200  1887108.0
456036  1000047984  2  2017-05-29 08:20:00.100  1887110.0
456037  1000047985  2  2017-05-29 08:25:00.300  1887112.0
456038  1000047986  2  2017-05-29 08:30:00.200  1887115.0
456039  1000047987  2  2017-05-29 08:35:00.100  1887117.0
456040  1000047988  2  2017-05-29 08:40:00.000  1887119.0
456041  1000047989  2  2017-05-29 08:45:00.200  1887122.0
456042  1000047990  2  2017-05-29 08:50:00.200  1887124.0
456043  1000047991  2  2017-05-29 08:55:00.000  1887127.0
456044  1000047992  2  2017-05-29 09:00:00.200  1887129.0
456045  1000047993  2  2017-05-29 09:05:00.100  1887131.0
456046  1000047994  2  2017-05-29 09:10:00.300  1887134.0
456047  1000047995  2  2017-05-29 09:15:00.100  1887136.0
456048  1000047996  2  2017-05-29 09:20:00.100  1887139.0
456049  1000047997  2  2017-05-29 09:25:00.100  1887141.0
456050  1000047998  2  2017-05-29 09:30:00.200  1887144.0
456051  1000047999  2  2017-05-29 09:35:00.200  1887146.0
456052  1000048000  2  2017-05-29 09:40:00.200  1887149.0
456053  1000048001  2  2017-05-29 09:45:00.100  1887151.0
456054  1000048002  2  2017-05-29 09:50:00.100  1887154.0
456055  1000048003  2  2017-05-29 09:55:00.100  1887157.0
456056  1000048004  2  2017-05-29 10:00:00.200  1887160.0
456057  1000048005  2  2017-05-29 10:05:00.200  1887162.0
456058  1000048006  2  2017-05-29 10:10:00.300  1887165.0
456059  1000048007  2  2017-05-29 10:15:00.200  1887168.0
456060  1000048008  2  2017-05-29 10:20:00.000  1887170.0
456061  1000048009  2  2017-05-29 10:25:00.100  1887173.0

[456062 rows x 4 columns]

In [25]:
mldpSub_kWh_tot

               seq  t                       ts          v
0        999585951  2  2012-05-30 00:00:00.100   366695.0
1        999585952  0  2012-05-30 06:23:23.800    32770.0
2        999585953  0  2012-05-30 06:23:23.800        2.0
3        999585954  0  2012-05-30 20:03:23.800    32770.0
4        999585955  0  2012-05-30 20:03:23.800        2.0
5        999585956  2  2012-05-30 20:05:00.100   366695.0
6        999585957  2  2012-05-30 20:10:00.100   366695.0
7        999585958  2  2012-05-30 20:15:00.100   366695.0
8        999585959  2  2012-05-30 20:20:00.000   366695.0
9        999585960  2  2012-05-30 20:25:00.100   366695.0
10       999585961  2  2012-05-30 20:30:00.000   366695.0
11       999585962  2  2012-05-30 20:35:00.100   366695.0
12       999585963  2  2012-05-30 20:40:00.100   366695.0
13       999585964  2  2012-05-30 20:45:00.000   366695.0
14       999585965  2  2012-05-30 20:50:00.000   366695.0
15       999585966  2  2012-05-30 20:55:00.100   366695.0
16       999585967  2  2012-05-30 21:00:00.100   366695.0
17       999585968  2  2012-05-30 21:05:00.100   366695.0
18       999585969  2  2012-05-30 21:10:00.000   366695.0
19       999585970  2  2012-05-30 21:15:00.200   366695.0
20       999585971  2  2012-05-30 21:20:00.100   366695.0
21       999585972  2  2012-05-30 21:25:00.200   366695.0
22       999585973  2  2012-05-30 21:30:00.100   366695.0
23       999585974  2  2012-05-30 21:35:00.200   366695.0
24       999585975  2  2012-05-30 21:40:00.000   366695.0
25       999585976  2  2012-05-30 21:45:00.000   366695.0
26       999585977  2  2012-05-30 21:50:00.000   366695.0
27       999585978  2  2012-05-30 21:55:00.100   366695.0
28       999585979  2  2012-05-30 22:00:00.100   366695.0
29       999585980  2  2012-05-30 22:05:00.100   366695.0
...            ... ..                      ...        ...
462029  1000047980  2  2017-05-29 08:00:00.000  1000111.0
462030  1000047981  2  2017-05-29 08:05:00.200  1000112.0
462031  1000047982  2  2017-05-29 08:10:00.100  1000113.0
462032  1000047983  2  2017-05-29 08:15:00.200  1000113.0
462033  1000047984  2  2017-05-29 08:20:00.100  1000114.0
462034  1000047985  2  2017-05-29 08:25:00.000  1000115.0
462035  1000047986  2  2017-05-29 08:30:00.200  1000116.0
462036  1000047987  2  2017-05-29 08:35:00.100  1000116.0
462037  1000047988  2  2017-05-29 08:40:00.000  1000117.0
462038  1000047989  2  2017-05-29 08:45:00.300  1000118.0
462039  1000047990  2  2017-05-29 08:50:00.200  1000119.0
462040  1000047991  2  2017-05-29 08:55:00.000  1000120.0
462041  1000047992  2  2017-05-29 09:00:00.200  1000121.0
462042  1000047993  2  2017-05-29 09:05:00.100  1000122.0
462043  1000047994  2  2017-05-29 09:10:00.300  1000123.0
462044  1000047995  2  2017-05-29 09:15:00.200  1000124.0
462045  1000047996  2  2017-05-29 09:20:00.100  1000125.0
462046  1000047997  2  2017-05-29 09:25:00.200  1000126.0
462047  1000047998  2  2017-05-29 09:30:00.200  1000128.0
462048  1000047999  2  2017-05-29 09:35:00.200  1000129.0
462049  1000048000  2  2017-05-29 09:40:00.200  1000130.0
462050  1000048001  2  2017-05-29 09:45:00.100  1000132.0
462051  1000048002  2  2017-05-29 09:50:00.100  1000134.0
462052  1000048003  2  2017-05-29 09:55:00.200  1000135.0
462053  1000048004  2  2017-05-29 10:00:00.300  1000137.0
462054  1000048005  2  2017-05-29 10:05:00.200  1000138.0
462055  1000048006  2  2017-05-29 10:10:00.300  1000140.0
462056  1000048007  2  2017-05-29 10:15:00.200  1000141.0
462057  1000048008  2  2017-05-29 10:20:00.100  1000143.0
462058  1000048009  2  2017-05-29 10:25:00.100  1000145.0

[462059 rows x 4 columns]

In [26]:
makeupwaterFlw_tot

               seq  t                       ts        v
0        999853051  2  2012-05-30 00:00:03.200  60961.9
1        999853052  0  2012-05-30 00:02:16.000  32770.0
2        999853053  0  2012-05-30 00:02:16.000      2.0
3        999853054  2  2012-05-30 00:02:21.200  60961.9
4        999853055  2  2012-05-30 00:17:21.200  60961.9
5        999853056  2  2012-05-30 00:32:21.300  60961.9
6        999853057  2  2012-05-30 00:47:21.500  60961.9
7        999853058  2  2012-05-30 01:02:21.800  60961.9
8        999853059  2  2012-05-30 01:17:21.900  60961.9
9        999853060  2  2012-05-30 01:32:21.900  60961.9
10       999853061  2  2012-05-30 01:47:22.100  60961.9
11       999853062  2  2012-05-30 02:02:22.100  60961.9
12       999853063  2  2012-05-30 02:17:22.200  60961.9
13       999853064  2  2012-05-30 02:32:22.200  60961.9
14       999853065  2  2012-05-30 02:47:22.300  60961.9
15       999853066  2  2012-05-30 03:02:22.300  60961.9
16       999853067  2  2012-05-30 03:17:22.500  60961.9
17       999853068  2  2012-05-30 03:32:22.500  60961.9
18       999853069  2  2012-05-30 03:47:22.500  60961.9
19       999853070  2  2012-05-30 04:02:22.600  60961.9
20       999853071  2  2012-05-30 04:17:22.600  60961.9
21       999853072  2  2012-05-30 04:32:22.700  60961.9
22       999853073  2  2012-05-30 04:47:22.800  60961.9
23       999853074  2  2012-05-30 05:02:23.000  60961.9
24       999853075  2  2012-05-30 05:17:23.200  60961.9
25       999853076  2  2012-05-30 05:32:23.200  60961.9
26       999853077  2  2012-05-30 05:47:23.200  60961.9
27       999853078  2  2012-05-30 06:02:23.400  60961.9
28       999853079  2  2012-05-30 06:17:24.300  60961.9
29       999853080  2  2012-05-30 06:32:24.400  60961.9
...            ... ..                      ...      ...
163257  1000016308  2  2017-05-29 03:08:09.900  92329.0
163258  1000016309  2  2017-05-29 03:23:09.900  92329.0
163259  1000016310  2  2017-05-29 03:38:09.900  92329.0
163260  1000016311  2  2017-05-29 03:53:10.100  92329.0
163261  1000016312  2  2017-05-29 04:08:10.100  92329.0
163262  1000016313  2  2017-05-29 04:23:10.100  92329.0
163263  1000016314  2  2017-05-29 04:38:10.100  92329.0
163264  1000016315  2  2017-05-29 04:53:10.500  92329.0
163265  1000016316  2  2017-05-29 05:08:10.700  92329.0
163266  1000016317  2  2017-05-29 05:23:11.100  92329.0
163267  1000016318  2  2017-05-29 05:38:11.200  92329.0
163268  1000016319  2  2017-05-29 05:53:11.300  92329.0
163269  1000016320  2  2017-05-29 06:08:11.300  92329.0
163270  1000016321  2  2017-05-29 06:23:11.500  92329.0
163271  1000016322  2  2017-05-29 06:38:11.600  92329.0
163272  1000016323  2  2017-05-29 06:53:11.600  92329.0
163273  1000016324  2  2017-05-29 07:08:11.800  92329.0
163274  1000016325  2  2017-05-29 07:23:12.200  92329.0
163275  1000016326  2  2017-05-29 07:38:12.300  92329.0
163276  1000016327  2  2017-05-29 07:53:12.400  92329.0
163277  1000016328  2  2017-05-29 08:08:12.500  92329.0
163278  1000016329  2  2017-05-29 08:23:13.200  92329.0
163279  1000016330  2  2017-05-29 08:38:13.300  92329.0
163280  1000016331  2  2017-05-29 08:53:13.500  92329.0
163281  1000016332  2  2017-05-29 09:08:13.600  92329.0
163282  1000016333  2  2017-05-29 09:23:13.600  92329.0
163283  1000016334  2  2017-05-29 09:38:13.700  92329.0
163284  1000016335  2  2017-05-29 09:53:13.800  92329.0
163285  1000016336  2  2017-05-29 10:08:14.000  92329.0
163286  1000016337  2  2017-05-29 10:23:12.800  92329.0

[163287 rows x 4 columns]

In [27]:
m6kWtot

               seq  t                       ts       v
0        999906745  2  2015-10-26 09:41:00.100 -3270.4
1        999906746  2  2015-10-26 09:42:00.000 -3270.4
2        999906747  2  2015-10-26 09:43:00.100 -3270.4
3        999906748  2  2015-10-26 09:44:00.200 -3270.4
4        999906749  2  2015-10-26 09:45:00.200 -3270.4
5        999906750  2  2015-10-26 09:46:00.300 -3270.4
6        999906751  2  2015-10-26 09:47:00.100 -3270.4
7        999906752  2  2015-10-26 09:48:00.200 -3270.4
8        999906753  2  2015-10-26 09:49:00.100 -3270.4
9        999906754  2  2015-10-26 09:50:00.200 -3270.4
10       999906755  2  2015-10-26 09:51:00.200 -3270.4
11       999906756  2  2015-10-26 09:52:00.300 -3270.4
12       999906757  2  2015-10-26 09:53:00.100 -3270.4
13       999906758  2  2015-10-26 09:54:00.000 -3270.4
14       999906759  2  2015-10-26 09:55:00.100 -3270.4
15       999906760  2  2015-10-26 09:56:00.200 -3270.4
16       999906761  2  2015-10-26 09:57:00.100 -3270.4
17       999906762  2  2015-10-26 09:58:00.000 -3270.4
18       999906763  2  2015-10-26 09:59:00.100 -3270.4
19       999906764  2  2015-10-26 10:00:00.100 -3270.4
20       999906765  2  2015-10-26 10:01:00.200 -3270.4
21       999906766  2  2015-10-26 10:02:00.200 -3270.4
22       999906767  2  2015-10-26 10:03:00.200 -3270.4
23       999906768  2  2015-10-26 10:04:00.200 -3270.4
24       999906769  2  2015-10-26 10:05:00.000 -3270.4
25       999906770  2  2015-10-26 10:06:00.200 -3270.4
26       999906771  2  2015-10-26 10:07:00.000 -3270.4
27       999906772  2  2015-10-26 10:08:00.100 -3270.4
28       999906773  2  2015-10-26 10:09:00.100 -3270.4
29       999906774  2  2015-10-26 10:10:00.000 -3270.4
...            ... ..                      ...     ...
147311  1000054056  2  2017-05-29 08:00:00.000 -3270.4
147312  1000054057  2  2017-05-29 08:05:00.200 -3270.4
147313  1000054058  2  2017-05-29 08:10:00.100 -3270.4
147314  1000054059  2  2017-05-29 08:15:00.200 -3270.4
147315  1000054060  2  2017-05-29 08:20:00.100 -3270.4
147316  1000054061  2  2017-05-29 08:25:00.000 -3270.4
147317  1000054062  2  2017-05-29 08:30:00.200 -3270.4
147318  1000054063  2  2017-05-29 08:35:00.100 -3270.4
147319  1000054064  2  2017-05-29 08:40:00.100 -3270.4
147320  1000054065  2  2017-05-29 08:45:00.300 -3270.4
147321  1000054066  2  2017-05-29 08:50:00.200 -3270.4
147322  1000054067  2  2017-05-29 08:55:00.000 -3270.4
147323  1000054068  2  2017-05-29 09:00:00.300 -3270.4
147324  1000054069  2  2017-05-29 09:05:00.200 -3270.4
147325  1000054070  2  2017-05-29 09:10:00.000 -3270.4
147326  1000054071  2  2017-05-29 09:15:00.200 -3270.4
147327  1000054072  2  2017-05-29 09:20:00.100 -3270.4
147328  1000054073  2  2017-05-29 09:25:00.200 -3270.4
147329  1000054074  2  2017-05-29 09:30:00.200 -3270.4
147330  1000054075  2  2017-05-29 09:35:00.200 -3270.4
147331  1000054076  2  2017-05-29 09:40:00.300 -3270.4
147332  1000054077  2  2017-05-29 09:45:00.100 -3270.4
147333  1000054078  2  2017-05-29 09:50:00.100 -3270.4
147334  1000054079  2  2017-05-29 09:55:00.200 -3270.4
147335  1000054080  2  2017-05-29 10:00:00.300 -3270.4
147336  1000054081  2  2017-05-29 10:05:00.300 -3270.4
147337  1000054082  2  2017-05-29 10:10:00.300 -3270.4
147338  1000054083  2  2017-05-29 10:15:00.200 -3270.4
147339  1000054084  2  2017-05-29 10:20:00.100 -3270.4
147340  1000054085  2  2017-05-29 10:25:00.100 -3270.4

[147341 rows x 4 columns]

In [28]:
m6kWThermalRaw

               seq  t                       ts        v
0        999587983  2  2012-05-30 00:00:00.100     11.0
1        999587984  0  2012-05-30 06:23:23.800  32770.0
2        999587985  0  2012-05-30 06:23:23.800      2.0
3        999587986  0  2012-05-30 20:03:23.800  32770.0
4        999587987  0  2012-05-30 20:03:23.800      2.0
5        999587988  2  2012-05-30 20:05:00.100     11.0
6        999587989  2  2012-05-30 20:10:00.100     11.0
7        999587990  2  2012-05-30 20:15:00.100     11.0
8        999587991  2  2012-05-30 20:20:00.000     11.0
9        999587992  2  2012-05-30 20:25:00.100     11.0
10       999587993  2  2012-05-30 20:30:00.000     11.0
11       999587994  2  2012-05-30 20:35:00.100     11.0
12       999587995  2  2012-05-30 20:40:00.100     11.0
13       999587996  2  2012-05-30 20:45:00.100     11.0
14       999587997  2  2012-05-30 20:50:00.000     11.0
15       999587998  2  2012-05-30 20:55:00.100     11.0
16       999587999  2  2012-05-30 21:00:00.100     11.0
17       999588000  2  2012-05-30 21:05:00.100     11.0
18       999588001  2  2012-05-30 21:10:00.000     11.0
19       999588002  2  2012-05-30 21:15:00.000     11.0
20       999588003  2  2012-05-30 21:20:00.100     11.0
21       999588004  2  2012-05-30 21:25:00.200     11.0
22       999588005  2  2012-05-30 21:30:00.100     11.0
23       999588006  2  2012-05-30 21:35:00.200     11.0
24       999588007  2  2012-05-30 21:40:00.100     11.0
25       999588008  2  2012-05-30 21:45:00.100     11.0
26       999588009  2  2012-05-30 21:50:00.000     11.0
27       999588010  2  2012-05-30 21:55:00.100     11.0
28       999588011  2  2012-05-30 22:00:00.100     11.0
29       999588012  2  2012-05-30 22:05:00.200     11.0
...            ... ..                      ...      ...
459997  1000047980  2  2017-05-29 08:00:00.000     10.5
459998  1000047981  2  2017-05-29 08:05:00.200     10.7
459999  1000047982  2  2017-05-29 08:10:00.100     11.1
460000  1000047983  2  2017-05-29 08:15:00.200     10.5
460001  1000047984  2  2017-05-29 08:20:00.100     10.3
460002  1000047985  2  2017-05-29 08:25:00.000     10.2
460003  1000047986  2  2017-05-29 08:30:00.200     10.0
460004  1000047987  2  2017-05-29 08:35:00.100      9.7
460005  1000047988  2  2017-05-29 08:40:00.100     10.2
460006  1000047989  2  2017-05-29 08:45:00.300     10.5
460007  1000047990  2  2017-05-29 08:50:00.300     10.2
460008  1000047991  2  2017-05-29 08:55:00.000     10.0
460009  1000047992  2  2017-05-29 09:00:00.300     10.0
460010  1000047993  2  2017-05-29 09:05:00.200     10.4
460011  1000047994  2  2017-05-29 09:10:00.000     10.2
460012  1000047995  2  2017-05-29 09:15:00.200     10.5
460013  1000047996  2  2017-05-29 09:20:00.100     10.4
460014  1000047997  2  2017-05-29 09:25:00.200     10.6
460015  1000047998  2  2017-05-29 09:30:00.200     10.4
460016  1000047999  2  2017-05-29 09:35:00.200     10.3
460017  1000048000  2  2017-05-29 09:40:00.300     10.5
460018  1000048001  2  2017-05-29 09:45:00.100     10.0
460019  1000048002  2  2017-05-29 09:50:00.100     10.5
460020  1000048003  2  2017-05-29 09:55:00.200     10.7
460021  1000048004  2  2017-05-29 10:00:00.300     10.7
460022  1000048005  2  2017-05-29 10:05:00.300     10.6
460023  1000048006  2  2017-05-29 10:10:00.300     10.6
460024  1000048007  2  2017-05-29 10:15:00.300     10.8
460025  1000048008  2  2017-05-29 10:20:00.100     10.2
460026  1000048009  2  2017-05-29 10:25:00.200     10.5

[460027 rows x 4 columns]

In [29]:
m6kWThermalCalc

               seq  t                       ts        v
0        999585991  2  2012-05-30 00:00:00.100     11.0
1        999585992  0  2012-05-30 06:23:23.800  32770.0
2        999585993  0  2012-05-30 06:23:23.800      2.0
3        999585994  0  2012-05-30 20:03:23.800  32770.0
4        999585995  0  2012-05-30 20:03:23.800      2.0
5        999585996  2  2012-05-30 20:05:00.100     11.0
6        999585997  2  2012-05-30 20:10:00.100     11.0
7        999585998  2  2012-05-30 20:15:00.100     11.0
8        999585999  2  2012-05-30 20:20:00.000     11.0
9        999586000  2  2012-05-30 20:25:00.100     11.0
10       999586001  2  2012-05-30 20:30:00.000     11.0
11       999586002  2  2012-05-30 20:35:00.100     11.0
12       999586003  2  2012-05-30 20:40:00.100     11.0
13       999586004  2  2012-05-30 20:45:00.100     11.0
14       999586005  2  2012-05-30 20:50:00.000     11.0
15       999586006  2  2012-05-30 20:55:00.100     11.0
16       999586007  2  2012-05-30 21:00:00.100     11.0
17       999586008  2  2012-05-30 21:05:00.100     11.0
18       999586009  2  2012-05-30 21:10:00.000     11.0
19       999586010  2  2012-05-30 21:15:00.000     11.0
20       999586011  2  2012-05-30 21:20:00.100     11.0
21       999586012  2  2012-05-30 21:25:00.200     11.0
22       999586013  2  2012-05-30 21:30:00.100     11.0
23       999586014  2  2012-05-30 21:35:00.200     11.0
24       999586015  2  2012-05-30 21:40:00.000     11.0
25       999586016  2  2012-05-30 21:45:00.100     11.0
26       999586017  2  2012-05-30 21:50:00.000     11.0
27       999586018  2  2012-05-30 21:55:00.100     11.0
28       999586019  2  2012-05-30 22:00:00.100     11.0
29       999586020  2  2012-05-30 22:05:00.100     11.0
...            ... ..                      ...      ...
461989  1000047980  2  2017-05-29 08:00:00.000     14.8
461990  1000047981  2  2017-05-29 08:05:00.200     14.8
461991  1000047982  2  2017-05-29 08:10:00.100     14.8
461992  1000047983  2  2017-05-29 08:15:00.200     14.8
461993  1000047984  2  2017-05-29 08:20:00.100     14.8
461994  1000047985  2  2017-05-29 08:25:00.000     14.8
461995  1000047986  2  2017-05-29 08:30:00.200     14.8
461996  1000047987  2  2017-05-29 08:35:00.100     14.8
461997  1000047988  2  2017-05-29 08:40:00.100     14.8
461998  1000047989  2  2017-05-29 08:45:00.300     14.8
461999  1000047990  2  2017-05-29 08:50:00.200     14.8
462000  1000047991  2  2017-05-29 08:55:00.000     14.8
462001  1000047992  2  2017-05-29 09:00:00.300     14.8
462002  1000047993  2  2017-05-29 09:05:00.200     14.8
462003  1000047994  2  2017-05-29 09:10:00.000     14.8
462004  1000047995  2  2017-05-29 09:15:00.200     14.8
462005  1000047996  2  2017-05-29 09:20:00.100     14.8
462006  1000047997  2  2017-05-29 09:25:00.200     14.8
462007  1000047998  2  2017-05-29 09:30:00.200     14.8
462008  1000047999  2  2017-05-29 09:35:00.200     14.8
462009  1000048000  2  2017-05-29 09:40:00.300     14.8
462010  1000048001  2  2017-05-29 09:45:00.100     14.8
462011  1000048002  2  2017-05-29 09:50:00.100     14.8
462012  1000048003  2  2017-05-29 09:55:00.200     14.8
462013  1000048004  2  2017-05-29 10:00:00.300     14.8
462014  1000048005  2  2017-05-29 10:05:00.300     14.8
462015  1000048006  2  2017-05-29 10:10:00.300     14.8
462016  1000048007  2  2017-05-29 10:15:00.200     14.8
462017  1000048008  2  2017-05-29 10:20:00.100     14.8
462018  1000048009  2  2017-05-29 10:25:00.100     14.8

[462019 rows x 4 columns]

In [30]:
m6kWh_tot

               seq  t                       ts         v
0        999557609  2  2012-05-30 00:00:00.100  200316.0
1        999557610  0  2012-05-30 06:23:23.800   32770.0
2        999557611  0  2012-05-30 06:23:23.800       2.0
3        999557612  0  2012-05-30 20:03:23.800   32770.0
4        999557613  0  2012-05-30 20:03:23.800       2.0
5        999557614  2  2012-05-30 20:05:00.100  200316.0
6        999557615  2  2012-05-30 20:10:00.100  200316.0
7        999557616  2  2012-05-30 20:15:00.100  200316.0
8        999557617  2  2012-05-30 20:20:00.000  200316.0
9        999557618  2  2012-05-30 20:25:00.100  200316.0
10       999557619  2  2012-05-30 20:30:00.000  200316.0
11       999557620  2  2012-05-30 20:35:00.100  200316.0
12       999557621  2  2012-05-30 20:40:00.100  200316.0
13       999557622  2  2012-05-30 20:45:00.100  200316.0
14       999557623  2  2012-05-30 20:50:00.100  200316.0
15       999557624  2  2012-05-30 20:55:00.100  200316.0
16       999557625  2  2012-05-30 21:00:00.100  200316.0
17       999557626  2  2012-05-30 21:05:00.100  200316.0
18       999557627  2  2012-05-30 21:10:00.000  200316.0
19       999557628  2  2012-05-30 21:15:00.000  200316.0
20       999557629  2  2012-05-30 21:20:00.100  200316.0
21       999557630  2  2012-05-30 21:25:00.200  200316.0
22       999557631  2  2012-05-30 21:30:00.100  200316.0
23       999557632  2  2012-05-30 21:35:00.200  200316.0
24       999557633  2  2012-05-30 21:40:00.100  200316.0
25       999557634  2  2012-05-30 21:45:00.100  200316.0
26       999557635  2  2012-05-30 21:50:00.100  200316.0
27       999557636  2  2012-05-30 21:55:00.100  200316.0
28       999557637  2  2012-05-30 22:00:00.100  200316.0
29       999557638  2  2012-05-30 22:05:00.200  200316.0
...            ... ..                      ...       ...
496447  1000054056  2  2017-05-29 08:00:00.000  653045.0
496448  1000054057  2  2017-05-29 08:05:00.200  653046.0
496449  1000054058  2  2017-05-29 08:10:00.100  653046.0
496450  1000054059  2  2017-05-29 08:15:00.300  653047.0
496451  1000054060  2  2017-05-29 08:20:00.200  653048.0
496452  1000054061  2  2017-05-29 08:25:00.000  653049.0
496453  1000054062  2  2017-05-29 08:30:00.200  653050.0
496454  1000054063  2  2017-05-29 08:35:00.100  653051.0
496455  1000054064  2  2017-05-29 08:40:00.100  653051.0
496456  1000054065  2  2017-05-29 08:45:00.300  653052.0
496457  1000054066  2  2017-05-29 08:50:00.300  653053.0
496458  1000054067  2  2017-05-29 08:55:00.100  653054.0
496459  1000054068  2  2017-05-29 09:00:00.300  653055.0
496460  1000054069  2  2017-05-29 09:05:00.200  653056.0
496461  1000054070  2  2017-05-29 09:10:00.000  653057.0
496462  1000054071  2  2017-05-29 09:15:00.200  653058.0
496463  1000054072  2  2017-05-29 09:20:00.100  653058.0
496464  1000054073  2  2017-05-29 09:25:00.200  653059.0
496465  1000054074  2  2017-05-29 09:30:00.200  653060.0
496466  1000054075  2  2017-05-29 09:35:00.200  653061.0
496467  1000054076  2  2017-05-29 09:40:00.300  653062.0
496468  1000054077  2  2017-05-29 09:45:00.100  653063.0
496469  1000054078  2  2017-05-29 09:50:00.100  653064.0
496470  1000054079  2  2017-05-29 09:55:00.200  653064.0
496471  1000054080  2  2017-05-29 10:00:00.300  653065.0
496472  1000054081  2  2017-05-29 10:05:00.300  653066.0
496473  1000054082  2  2017-05-29 10:10:00.300  653067.0
496474  1000054083  2  2017-05-29 10:15:00.300  653068.0
496475  1000054084  2  2017-05-29 10:20:00.100  653069.0
496476  1000054085  2  2017-05-29 10:25:00.200  653070.0

[496477 rows x 4 columns]

In [31]:
m5kWh_tot

               seq  t                       ts          v
0        999557604  2  2012-05-30 00:00:00.100        0.0
1        999557605  0  2012-05-30 06:23:23.800    32770.0
2        999557606  0  2012-05-30 06:23:23.800        2.0
3        999557607  0  2012-05-30 20:03:23.800    32770.0
4        999557608  0  2012-05-30 20:03:23.800        2.0
5        999557609  2  2012-05-30 20:05:00.100        0.0
6        999557610  2  2012-05-30 20:10:00.100        0.0
7        999557611  2  2012-05-30 20:15:00.100        0.0
8        999557612  2  2012-05-30 20:20:00.000        0.0
9        999557613  2  2012-05-30 20:25:00.100        0.0
10       999557614  2  2012-05-30 20:30:00.000        0.0
11       999557615  2  2012-05-30 20:35:00.100        0.0
12       999557616  2  2012-05-30 20:40:00.100        0.0
13       999557617  2  2012-05-30 20:45:00.100        0.0
14       999557618  2  2012-05-30 20:50:00.000        0.0
15       999557619  2  2012-05-30 20:55:00.100        0.0
16       999557620  2  2012-05-30 21:00:00.100        0.0
17       999557621  2  2012-05-30 21:05:00.100        0.0
18       999557622  2  2012-05-30 21:10:00.000        0.0
19       999557623  2  2012-05-30 21:15:00.000        0.0
20       999557624  2  2012-05-30 21:20:00.100        0.0
21       999557625  2  2012-05-30 21:25:00.200        0.0
22       999557626  2  2012-05-30 21:30:00.100        0.0
23       999557627  2  2012-05-30 21:35:00.200        0.0
24       999557628  2  2012-05-30 21:40:00.000        0.0
25       999557629  2  2012-05-30 21:45:00.000        0.0
26       999557630  2  2012-05-30 21:50:00.000        0.0
27       999557631  2  2012-05-30 21:55:00.100        0.0
28       999557632  2  2012-05-30 22:00:00.100        0.0
29       999557633  2  2012-05-30 22:05:00.100        0.0
...            ... ..                      ...        ...
496452  1000054056  2  2017-05-29 08:00:00.000  6450681.0
496453  1000054057  2  2017-05-29 08:05:00.200  6450688.0
496454  1000054058  2  2017-05-29 08:10:00.100  6450696.0
496455  1000054059  2  2017-05-29 08:15:00.200  6450702.0
496456  1000054060  2  2017-05-29 08:20:00.100  6450710.0
496457  1000054061  2  2017-05-29 08:25:00.000  6450718.0
496458  1000054062  2  2017-05-29 08:30:00.200  6450725.0
496459  1000054063  2  2017-05-29 08:35:00.100  6450733.0
496460  1000054064  2  2017-05-29 08:40:00.100  6450741.0
496461  1000054065  2  2017-05-29 08:45:00.300  6450748.0
496462  1000054066  2  2017-05-29 08:50:00.200  6450755.0
496463  1000054067  2  2017-05-29 08:55:00.000  6450763.0
496464  1000054068  2  2017-05-29 09:00:00.300  6450770.0
496465  1000054069  2  2017-05-29 09:05:00.200  6450778.0
496466  1000054070  2  2017-05-29 09:10:00.000  6450785.0
496467  1000054071  2  2017-05-29 09:15:00.200  6450793.0
496468  1000054072  2  2017-05-29 09:20:00.100  6450800.0
496469  1000054073  2  2017-05-29 09:25:00.200  6450808.0
496470  1000054074  2  2017-05-29 09:30:00.200  6450815.0
496471  1000054075  2  2017-05-29 09:35:00.200  6450822.0
496472  1000054076  2  2017-05-29 09:40:00.300  6450830.0
496473  1000054077  2  2017-05-29 09:45:00.100  6450837.0
496474  1000054078  2  2017-05-29 09:50:00.100  6450845.0
496475  1000054079  2  2017-05-29 09:55:00.200  6450852.0
496476  1000054080  2  2017-05-29 10:00:00.300  6450860.0
496477  1000054081  2  2017-05-29 10:05:00.300  6450867.0
496478  1000054082  2  2017-05-29 10:10:00.300  6450875.0
496479  1000054083  2  2017-05-29 10:15:00.200  6450882.0
496480  1000054084  2  2017-05-29 10:20:00.100  6450890.0
496481  1000054085  2  2017-05-29 10:25:00.100  6450897.0

[496482 rows x 4 columns]

In [32]:
m5kWtot

               seq  t                       ts      v
0        999906745  2  2015-10-26 09:41:00.100  102.7
1        999906746  2  2015-10-26 09:42:00.000  114.7
2        999906747  2  2015-10-26 09:43:00.100  102.6
3        999906748  2  2015-10-26 09:44:00.200  100.2
4        999906749  2  2015-10-26 09:45:00.200  100.0
5        999906750  2  2015-10-26 09:46:00.300  101.2
6        999906751  2  2015-10-26 09:47:00.100  102.2
7        999906752  2  2015-10-26 09:48:00.200  101.6
8        999906753  2  2015-10-26 09:49:00.100  101.9
9        999906754  2  2015-10-26 09:50:00.200  101.5
10       999906755  2  2015-10-26 09:51:00.200  102.0
11       999906756  2  2015-10-26 09:52:00.200  100.3
12       999906757  2  2015-10-26 09:53:00.000   99.8
13       999906758  2  2015-10-26 09:54:00.000   99.6
14       999906759  2  2015-10-26 09:55:00.100  102.3
15       999906760  2  2015-10-26 09:56:00.200  112.6
16       999906761  2  2015-10-26 09:57:00.100  102.3
17       999906762  2  2015-10-26 09:58:00.000  102.1
18       999906763  2  2015-10-26 09:59:00.100  103.2
19       999906764  2  2015-10-26 10:00:00.100  100.0
20       999906765  2  2015-10-26 10:01:00.200   99.4
21       999906766  2  2015-10-26 10:02:00.200  102.5
22       999906767  2  2015-10-26 10:03:00.200  102.8
23       999906768  2  2015-10-26 10:04:00.200  102.0
24       999906769  2  2015-10-26 10:05:00.000  102.3
25       999906770  2  2015-10-26 10:06:00.200  102.5
26       999906771  2  2015-10-26 10:07:00.000   99.8
27       999906772  2  2015-10-26 10:08:00.100   99.0
28       999906773  2  2015-10-26 10:09:00.100  102.9
29       999906774  2  2015-10-26 10:10:00.000  102.9
...            ... ..                      ...    ...
147311  1000054056  2  2017-05-29 08:00:00.000   88.6
147312  1000054057  2  2017-05-29 08:05:00.200   89.2
147313  1000054058  2  2017-05-29 08:10:00.100   89.8
147314  1000054059  2  2017-05-29 08:15:00.200   73.1
147315  1000054060  2  2017-05-29 08:20:00.100   94.1
147316  1000054061  2  2017-05-29 08:25:00.000   92.5
147317  1000054062  2  2017-05-29 08:30:00.200   93.9
147318  1000054063  2  2017-05-29 08:35:00.100   90.5
147319  1000054064  2  2017-05-29 08:40:00.000   88.3
147320  1000054065  2  2017-05-29 08:45:00.300   88.6
147321  1000054066  2  2017-05-29 08:50:00.200   88.3
147322  1000054067  2  2017-05-29 08:55:00.000   88.3
147323  1000054068  2  2017-05-29 09:00:00.200   89.7
147324  1000054069  2  2017-05-29 09:05:00.100   88.9
147325  1000054070  2  2017-05-29 09:10:00.300   89.3
147326  1000054071  2  2017-05-29 09:15:00.200   88.8
147327  1000054072  2  2017-05-29 09:20:00.100   88.9
147328  1000054073  2  2017-05-29 09:25:00.200   90.2
147329  1000054074  2  2017-05-29 09:30:00.200   88.2
147330  1000054075  2  2017-05-29 09:35:00.200   88.8
147331  1000054076  2  2017-05-29 09:40:00.200   88.3
147332  1000054077  2  2017-05-29 09:45:00.100   89.1
147333  1000054078  2  2017-05-29 09:50:00.100   89.1
147334  1000054079  2  2017-05-29 09:55:00.200   89.6
147335  1000054080  2  2017-05-29 10:00:00.300   89.5
147336  1000054081  2  2017-05-29 10:05:00.200   88.7
147337  1000054082  2  2017-05-29 10:10:00.300   88.9
147338  1000054083  2  2017-05-29 10:15:00.200   88.2
147339  1000054084  2  2017-05-29 10:20:00.100   87.5
147340  1000054085  2  2017-05-29 10:25:00.100   88.2

[147341 rows x 4 columns]

In [33]:
m5kWThermalRaw

               seq  t                       ts        v
0        999587981  2  2012-05-30 00:00:00.100      0.0
1        999587982  0  2012-05-30 06:23:23.800  32770.0
2        999587983  0  2012-05-30 06:23:23.800      2.0
3        999587984  0  2012-05-30 20:03:23.800  32770.0
4        999587985  0  2012-05-30 20:03:23.800      2.0
5        999587986  2  2012-05-30 20:05:00.100      0.0
6        999587987  2  2012-05-30 20:10:00.100      0.0
7        999587988  2  2012-05-30 20:15:00.100      0.0
8        999587989  2  2012-05-30 20:20:00.000      0.0
9        999587990  2  2012-05-30 20:25:00.100      0.0
10       999587991  2  2012-05-30 20:30:00.000      0.0
11       999587992  2  2012-05-30 20:35:00.100      0.0
12       999587993  2  2012-05-30 20:40:00.100      0.0
13       999587994  2  2012-05-30 20:45:00.000      0.0
14       999587995  2  2012-05-30 20:50:00.000      0.0
15       999587996  2  2012-05-30 20:55:00.100      0.0
16       999587997  2  2012-05-30 21:00:00.100      0.0
17       999587998  2  2012-05-30 21:05:00.100      0.0
18       999587999  2  2012-05-30 21:10:00.000      0.0
19       999588000  2  2012-05-30 21:15:00.000      0.0
20       999588001  2  2012-05-30 21:20:00.100      0.0
21       999588002  2  2012-05-30 21:25:00.200      0.0
22       999588003  2  2012-05-30 21:30:00.100      0.0
23       999588004  2  2012-05-30 21:35:00.200      0.0
24       999588005  2  2012-05-30 21:40:00.000      0.0
25       999588006  2  2012-05-30 21:45:00.000      0.0
26       999588007  2  2012-05-30 21:50:00.000      0.0
27       999588008  2  2012-05-30 21:55:00.100      0.0
28       999588009  2  2012-05-30 22:00:00.100      0.0
29       999588010  2  2012-05-30 22:05:00.100      0.0
...            ... ..                      ...      ...
459999  1000047980  2  2017-05-29 08:00:00.000     89.8
460000  1000047981  2  2017-05-29 08:05:00.200     89.9
460001  1000047982  2  2017-05-29 08:10:00.100     90.2
460002  1000047983  2  2017-05-29 08:15:00.200     82.3
460003  1000047984  2  2017-05-29 08:20:00.100     88.7
460004  1000047985  2  2017-05-29 08:25:00.000     90.9
460005  1000047986  2  2017-05-29 08:30:00.200     91.5
460006  1000047987  2  2017-05-29 08:35:00.100     91.8
460007  1000047988  2  2017-05-29 08:40:00.100     91.1
460008  1000047989  2  2017-05-29 08:45:00.300     90.4
460009  1000047990  2  2017-05-29 08:50:00.200     89.5
460010  1000047991  2  2017-05-29 08:55:00.000     89.1
460011  1000047992  2  2017-05-29 09:00:00.200     89.2
460012  1000047993  2  2017-05-29 09:05:00.100     89.4
460013  1000047994  2  2017-05-29 09:10:00.300     89.5
460014  1000047995  2  2017-05-29 09:15:00.200     89.8
460015  1000047996  2  2017-05-29 09:20:00.100     89.5
460016  1000047997  2  2017-05-29 09:25:00.200     89.7
460017  1000047998  2  2017-05-29 09:30:00.200     89.5
460018  1000047999  2  2017-05-29 09:35:00.200     89.1
460019  1000048000  2  2017-05-29 09:40:00.200     89.1
460020  1000048001  2  2017-05-29 09:45:00.100     89.5
460021  1000048002  2  2017-05-29 09:50:00.100     90.4
460022  1000048003  2  2017-05-29 09:55:00.200     89.5
460023  1000048004  2  2017-05-29 10:00:00.300     89.3
460024  1000048005  2  2017-05-29 10:05:00.300     88.9
460025  1000048006  2  2017-05-29 10:10:00.300     89.2
460026  1000048007  2  2017-05-29 10:15:00.200     89.6
460027  1000048008  2  2017-05-29 10:20:00.100     89.2
460028  1000048009  2  2017-05-29 10:25:00.100     89.4

[460029 rows x 4 columns]

In [34]:
m5kWThermalCalc

               seq  t                       ts        v
0        999587992  2  2012-05-30 00:00:00.100    109.3
1        999587993  0  2012-05-30 06:23:23.800  32770.0
2        999587994  0  2012-05-30 06:23:23.800      2.0
3        999587995  0  2012-05-30 20:03:23.800  32770.0
4        999587996  0  2012-05-30 20:03:23.800      2.0
5        999587997  2  2012-05-30 20:05:00.100    109.3
6        999587998  2  2012-05-30 20:10:00.100    109.3
7        999587999  2  2012-05-30 20:15:00.100    109.3
8        999588000  2  2012-05-30 20:20:00.000    109.3
9        999588001  2  2012-05-30 20:25:00.100    109.3
10       999588002  2  2012-05-30 20:30:00.000    109.3
11       999588003  2  2012-05-30 20:35:00.100    109.3
12       999588004  2  2012-05-30 20:40:00.100    109.3
13       999588005  2  2012-05-30 20:45:00.000    109.3
14       999588006  2  2012-05-30 20:50:00.000    109.3
15       999588007  2  2012-05-30 20:55:00.100    109.3
16       999588008  2  2012-05-30 21:00:00.100    109.3
17       999588009  2  2012-05-30 21:05:00.100    109.3
18       999588010  2  2012-05-30 21:10:00.000    109.3
19       999588011  2  2012-05-30 21:15:00.000    109.3
20       999588012  2  2012-05-30 21:20:00.100    109.3
21       999588013  2  2012-05-30 21:25:00.200    109.3
22       999588014  2  2012-05-30 21:30:00.100    109.3
23       999588015  2  2012-05-30 21:35:00.200    109.3
24       999588016  2  2012-05-30 21:40:00.000    109.3
25       999588017  2  2012-05-30 21:45:00.000    109.3
26       999588018  2  2012-05-30 21:50:00.000    109.3
27       999588019  2  2012-05-30 21:55:00.100    109.3
28       999588020  2  2012-05-30 22:00:00.100    109.3
29       999588021  2  2012-05-30 22:05:00.100    109.3
...            ... ..                      ...      ...
459988  1000047980  2  2017-05-29 08:00:00.000    101.7
459989  1000047981  2  2017-05-29 08:05:00.200    101.7
459990  1000047982  2  2017-05-29 08:10:00.100    101.7
459991  1000047983  2  2017-05-29 08:15:00.200    101.7
459992  1000047984  2  2017-05-29 08:20:00.100    101.7
459993  1000047985  2  2017-05-29 08:25:00.000    101.7
459994  1000047986  2  2017-05-29 08:30:00.200    101.7
459995  1000047987  2  2017-05-29 08:35:00.100    101.7
459996  1000047988  2  2017-05-29 08:40:00.100    101.7
459997  1000047989  2  2017-05-29 08:45:00.300    101.7
459998  1000047990  2  2017-05-29 08:50:00.200    101.7
459999  1000047991  2  2017-05-29 08:55:00.000    101.7
460000  1000047992  2  2017-05-29 09:00:00.200    101.7
460001  1000047993  2  2017-05-29 09:05:00.100    101.7
460002  1000047994  2  2017-05-29 09:10:00.300    101.7
460003  1000047995  2  2017-05-29 09:15:00.200    101.7
460004  1000047996  2  2017-05-29 09:20:00.100    101.7
460005  1000047997  2  2017-05-29 09:25:00.200    101.7
460006  1000047998  2  2017-05-29 09:30:00.200    101.7
460007  1000047999  2  2017-05-29 09:35:00.200    101.7
460008  1000048000  2  2017-05-29 09:40:00.200    101.7
460009  1000048001  2  2017-05-29 09:45:00.100    101.7
460010  1000048002  2  2017-05-29 09:50:00.100    101.7
460011  1000048003  2  2017-05-29 09:55:00.200    101.7
460012  1000048004  2  2017-05-29 10:00:00.300    101.7
460013  1000048005  2  2017-05-29 10:05:00.300    101.7
460014  1000048006  2  2017-05-29 10:10:00.300    101.7
460015  1000048007  2  2017-05-29 10:15:00.200    101.7
460016  1000048008  2  2017-05-29 10:20:00.100    101.7
460017  1000048009  2  2017-05-29 10:25:00.100    101.7

[460018 rows x 4 columns]

In [35]:
m4kWThermalRaw

               seq  t                       ts        v
0        999587980  2  2012-05-30 00:00:00.100     24.0
1        999587981  0  2012-05-30 06:23:23.800  32770.0
2        999587982  0  2012-05-30 06:23:23.800      2.0
3        999587983  0  2012-05-30 20:03:23.800  32770.0
4        999587984  0  2012-05-30 20:03:23.800      2.0
5        999587985  2  2012-05-30 20:05:00.100     24.0
6        999587986  2  2012-05-30 20:10:00.100     24.0
7        999587987  2  2012-05-30 20:15:00.100     24.0
8        999587988  2  2012-05-30 20:20:00.000     24.0
9        999587989  2  2012-05-30 20:25:00.100     24.0
10       999587990  2  2012-05-30 20:30:00.000     24.0
11       999587991  2  2012-05-30 20:35:00.000     24.0
12       999587992  2  2012-05-30 20:40:00.100     24.0
13       999587993  2  2012-05-30 20:45:00.000     24.0
14       999587994  2  2012-05-30 20:50:00.000     24.0
15       999587995  2  2012-05-30 20:55:00.100     24.0
16       999587996  2  2012-05-30 21:00:00.100     24.0
17       999587997  2  2012-05-30 21:05:00.100     24.0
18       999587998  2  2012-05-30 21:10:00.000     24.0
19       999587999  2  2012-05-30 21:15:00.200     24.0
20       999588000  2  2012-05-30 21:20:00.100     24.0
21       999588001  2  2012-05-30 21:25:00.200     24.0
22       999588002  2  2012-05-30 21:30:00.100     24.0
23       999588003  2  2012-05-30 21:35:00.200     24.0
24       999588004  2  2012-05-30 21:40:00.000     24.0
25       999588005  2  2012-05-30 21:45:00.000     24.0
26       999588006  2  2012-05-30 21:50:00.000     24.0
27       999588007  2  2012-05-30 21:55:00.100     24.0
28       999588008  2  2012-05-30 22:00:00.100     24.0
29       999588009  2  2012-05-30 22:05:00.100     24.0
...            ... ..                      ...      ...
460000  1000047980  2  2017-05-29 08:00:00.000      8.4
460001  1000047981  2  2017-05-29 08:05:00.200      8.7
460002  1000047982  2  2017-05-29 08:10:00.100      8.5
460003  1000047983  2  2017-05-29 08:15:00.200      8.5
460004  1000047984  2  2017-05-29 08:20:00.100      8.5
460005  1000047985  2  2017-05-29 08:25:00.000      9.0
460006  1000047986  2  2017-05-29 08:30:00.200      9.3
460007  1000047987  2  2017-05-29 08:35:00.100      9.4
460008  1000047988  2  2017-05-29 08:40:00.000      9.7
460009  1000047989  2  2017-05-29 08:45:00.300     10.1
460010  1000047990  2  2017-05-29 08:50:00.200     10.4
460011  1000047991  2  2017-05-29 08:55:00.000     10.8
460012  1000047992  2  2017-05-29 09:00:00.200     11.0
460013  1000047993  2  2017-05-29 09:05:00.100     11.3
460014  1000047994  2  2017-05-29 09:10:00.300     12.3
460015  1000047995  2  2017-05-29 09:15:00.100     12.8
460016  1000047996  2  2017-05-29 09:20:00.100     13.3
460017  1000047997  2  2017-05-29 09:25:00.200     14.3
460018  1000047998  2  2017-05-29 09:30:00.200     15.0
460019  1000047999  2  2017-05-29 09:35:00.200     15.9
460020  1000048000  2  2017-05-29 09:40:00.200     16.9
460021  1000048001  2  2017-05-29 09:45:00.100     17.4
460022  1000048002  2  2017-05-29 09:50:00.100     17.9
460023  1000048003  2  2017-05-29 09:55:00.200     18.0
460024  1000048004  2  2017-05-29 10:00:00.200     18.1
460025  1000048005  2  2017-05-29 10:05:00.200     18.7
460026  1000048006  2  2017-05-29 10:10:00.300     19.0
460027  1000048007  2  2017-05-29 10:15:00.200     19.5
460028  1000048008  2  2017-05-29 10:20:00.100     19.7
460029  1000048009  2  2017-05-29 10:25:00.100     20.0

[460030 rows x 4 columns]

In [36]:
m4kWThermalCalc

               seq  t                       ts        v
0        999585995  2  2012-05-30 00:00:00.100     24.0
1        999585996  0  2012-05-30 06:23:23.800  32770.0
2        999585997  0  2012-05-30 06:23:23.800      2.0
3        999585998  0  2012-05-30 20:03:23.800  32770.0
4        999585999  0  2012-05-30 20:03:23.800      2.0
5        999586000  2  2012-05-30 20:05:00.100     24.0
6        999586001  2  2012-05-30 20:10:00.100     24.0
7        999586002  2  2012-05-30 20:15:00.100     24.0
8        999586003  2  2012-05-30 20:20:00.000     24.0
9        999586004  2  2012-05-30 20:25:00.100     24.0
10       999586005  2  2012-05-30 20:30:00.000     24.0
11       999586006  2  2012-05-30 20:35:00.000     24.0
12       999586007  2  2012-05-30 20:40:00.100     24.0
13       999586008  2  2012-05-30 20:45:00.000     24.0
14       999586009  2  2012-05-30 20:50:00.000     24.0
15       999586010  2  2012-05-30 20:55:00.100     24.0
16       999586011  2  2012-05-30 21:00:00.100     24.0
17       999586012  2  2012-05-30 21:05:00.100     24.0
18       999586013  2  2012-05-30 21:10:00.000     24.0
19       999586014  2  2012-05-30 21:15:00.200     24.0
20       999586015  2  2012-05-30 21:20:00.100     24.0
21       999586016  2  2012-05-30 21:25:00.100     24.0
22       999586017  2  2012-05-30 21:30:00.100     24.0
23       999586018  2  2012-05-30 21:35:00.200     24.0
24       999586019  2  2012-05-30 21:40:00.000     24.0
25       999586020  2  2012-05-30 21:45:00.000     24.0
26       999586021  2  2012-05-30 21:50:00.000     24.0
27       999586022  2  2012-05-30 21:55:00.100     24.0
28       999586023  2  2012-05-30 22:00:00.100     24.0
29       999586024  2  2012-05-30 22:05:00.100     24.0
...            ... ..                      ...      ...
461985  1000047980  2  2017-05-29 08:00:00.000     27.6
461986  1000047981  2  2017-05-29 08:05:00.200     27.6
461987  1000047982  2  2017-05-29 08:10:00.100     27.6
461988  1000047983  2  2017-05-29 08:15:00.200     27.6
461989  1000047984  2  2017-05-29 08:20:00.100     27.6
461990  1000047985  2  2017-05-29 08:25:00.000     27.6
461991  1000047986  2  2017-05-29 08:30:00.200     27.6
461992  1000047987  2  2017-05-29 08:35:00.100     27.6
461993  1000047988  2  2017-05-29 08:40:00.000     27.6
461994  1000047989  2  2017-05-29 08:45:00.200     27.6
461995  1000047990  2  2017-05-29 08:50:00.200     27.6
461996  1000047991  2  2017-05-29 08:55:00.000     27.6
461997  1000047992  2  2017-05-29 09:00:00.200     27.6
461998  1000047993  2  2017-05-29 09:05:00.100     27.6
461999  1000047994  2  2017-05-29 09:10:00.300     27.6
462000  1000047995  2  2017-05-29 09:15:00.100     27.6
462001  1000047996  2  2017-05-29 09:20:00.100     27.6
462002  1000047997  2  2017-05-29 09:25:00.100     27.6
462003  1000047998  2  2017-05-29 09:30:00.200     27.6
462004  1000047999  2  2017-05-29 09:35:00.200     27.6
462005  1000048000  2  2017-05-29 09:40:00.200     27.6
462006  1000048001  2  2017-05-29 09:45:00.100     27.6
462007  1000048002  2  2017-05-29 09:50:00.100     27.6
462008  1000048003  2  2017-05-29 09:55:00.200     27.6
462009  1000048004  2  2017-05-29 10:00:00.200     27.6
462010  1000048005  2  2017-05-29 10:05:00.200     27.6
462011  1000048006  2  2017-05-29 10:10:00.300     27.6
462012  1000048007  2  2017-05-29 10:15:00.200     27.6
462013  1000048008  2  2017-05-29 10:20:00.100     27.6
462014  1000048009  2  2017-05-29 10:25:00.100     27.6

[462015 rows x 4 columns]

In [37]:
m3kWThermalRaw

               seq  t                       ts        v
0        999589984  2  2012-05-30 00:00:00.100     13.4
1        999589985  0  2012-05-30 06:23:23.800  32770.0
2        999589986  0  2012-05-30 06:23:23.800      2.0
3        999589987  0  2012-05-30 20:03:23.800  32770.0
4        999589988  0  2012-05-30 20:03:23.800      2.0
5        999589989  2  2012-05-30 20:05:00.100      3.6
6        999589990  2  2012-05-30 20:10:00.100     10.4
7        999589991  2  2012-05-30 20:15:00.100     15.7
8        999589992  2  2012-05-30 20:20:00.200     17.7
9        999589993  2  2012-05-30 20:25:00.100     18.4
10       999589994  2  2012-05-30 20:30:00.000     19.1
11       999589995  2  2012-05-30 20:35:00.000     18.8
12       999589996  2  2012-05-30 20:40:00.100     18.8
13       999589997  2  2012-05-30 20:45:00.000     18.7
14       999589998  2  2012-05-30 20:50:00.000     18.9
15       999589999  2  2012-05-30 20:55:00.100     18.7
16       999590000  2  2012-05-30 21:00:00.000     18.6
17       999590001  2  2012-05-30 21:05:00.100     18.9
18       999590002  2  2012-05-30 21:10:00.000     19.0
19       999590003  2  2012-05-30 21:15:00.200     19.2
20       999590004  2  2012-05-30 21:20:00.100     19.2
21       999590005  2  2012-05-30 21:25:00.100     18.8
22       999590006  2  2012-05-30 21:30:00.100     18.2
23       999590007  2  2012-05-30 21:35:00.100     17.9
24       999590008  2  2012-05-30 21:40:00.000     17.7
25       999590009  2  2012-05-30 21:45:00.000     17.9
26       999590010  2  2012-05-30 21:50:00.000     18.1
27       999590011  2  2012-05-30 21:55:00.100     18.2
28       999590012  2  2012-05-30 22:00:00.100     17.8
29       999590013  2  2012-05-30 22:05:00.100     17.0
...            ... ..                      ...      ...
457996  1000047980  2  2017-05-29 08:00:00.000     15.4
457997  1000047981  2  2017-05-29 08:05:00.200     16.1
457998  1000047982  2  2017-05-29 08:10:00.000     15.4
457999  1000047983  2  2017-05-29 08:15:00.200     15.4
458000  1000047984  2  2017-05-29 08:20:00.100     16.0
458001  1000047985  2  2017-05-29 08:25:00.300     17.4
458002  1000047986  2  2017-05-29 08:30:00.200     16.9
458003  1000047987  2  2017-05-29 08:35:00.100     16.4
458004  1000047988  2  2017-05-29 08:40:00.000     16.5
458005  1000047989  2  2017-05-29 08:45:00.200     16.7
458006  1000047990  2  2017-05-29 08:50:00.200     17.0
458007  1000047991  2  2017-05-29 08:55:00.000     17.4
458008  1000047992  2  2017-05-29 09:00:00.200     19.0
458009  1000047993  2  2017-05-29 09:05:00.100     18.8
458010  1000047994  2  2017-05-29 09:10:00.300     19.4
458011  1000047995  2  2017-05-29 09:15:00.100     19.8
458012  1000047996  2  2017-05-29 09:20:00.100     20.2
458013  1000047997  2  2017-05-29 09:25:00.100     21.5
458014  1000047998  2  2017-05-29 09:30:00.200     22.9
458015  1000047999  2  2017-05-29 09:35:00.200     24.1
458016  1000048000  2  2017-05-29 09:40:00.200     24.8
458017  1000048001  2  2017-05-29 09:45:00.100     24.9
458018  1000048002  2  2017-05-29 09:50:00.100     25.2
458019  1000048003  2  2017-05-29 09:55:00.100     25.3
458020  1000048004  2  2017-05-29 10:00:00.200     25.2
458021  1000048005  2  2017-05-29 10:05:00.200     25.8
458022  1000048006  2  2017-05-29 10:10:00.300     26.2
458023  1000048007  2  2017-05-29 10:15:00.200     26.7
458024  1000048008  2  2017-05-29 10:20:00.000     26.9
458025  1000048009  2  2017-05-29 10:25:00.100     27.2

[458026 rows x 4 columns]

In [38]:
m3kWThermalCalc

               seq  t                       ts        v
0        999585995  2  2012-05-30 00:00:00.100     37.9
1        999585996  0  2012-05-30 06:23:23.800  32770.0
2        999585997  0  2012-05-30 06:23:23.800      2.0
3        999585998  0  2012-05-30 20:03:23.800  32770.0
4        999585999  0  2012-05-30 20:03:23.800      2.0
5        999586000  2  2012-05-30 20:05:00.100     37.9
6        999586001  2  2012-05-30 20:10:00.100     37.9
7        999586002  2  2012-05-30 20:15:00.100     37.9
8        999586003  2  2012-05-30 20:20:00.200     37.9
9        999586004  2  2012-05-30 20:25:00.100     37.9
10       999586005  2  2012-05-30 20:30:00.000     37.9
11       999586006  2  2012-05-30 20:35:00.000     37.9
12       999586007  2  2012-05-30 20:40:00.100     37.9
13       999586008  2  2012-05-30 20:45:00.200     37.9
14       999586009  2  2012-05-30 20:50:00.000     37.9
15       999586010  2  2012-05-30 20:55:00.100     37.9
16       999586011  2  2012-05-30 21:00:00.000     37.9
17       999586012  2  2012-05-30 21:05:00.100     37.9
18       999586013  2  2012-05-30 21:10:00.000     37.9
19       999586014  2  2012-05-30 21:15:00.200     37.9
20       999586015  2  2012-05-30 21:20:00.100     37.9
21       999586016  2  2012-05-30 21:25:00.100     37.9
22       999586017  2  2012-05-30 21:30:00.100     37.9
23       999586018  2  2012-05-30 21:35:00.100     37.9
24       999586019  2  2012-05-30 21:40:00.000     37.9
25       999586020  2  2012-05-30 21:45:00.000     37.9
26       999586021  2  2012-05-30 21:50:00.000     37.9
27       999586022  2  2012-05-30 21:55:00.100     37.9
28       999586023  2  2012-05-30 22:00:00.000     37.9
29       999586024  2  2012-05-30 22:05:00.100     37.9
...            ... ..                      ...      ...
461985  1000047980  2  2017-05-29 08:00:00.000     37.2
461986  1000047981  2  2017-05-29 08:05:00.200     37.2
461987  1000047982  2  2017-05-29 08:10:00.000     37.2
461988  1000047983  2  2017-05-29 08:15:00.200     37.2
461989  1000047984  2  2017-05-29 08:20:00.100     37.2
461990  1000047985  2  2017-05-29 08:25:00.300     37.2
461991  1000047986  2  2017-05-29 08:30:00.200     37.2
461992  1000047987  2  2017-05-29 08:35:00.100     37.2
461993  1000047988  2  2017-05-29 08:40:00.000     37.2
461994  1000047989  2  2017-05-29 08:45:00.200     37.2
461995  1000047990  2  2017-05-29 08:50:00.200     37.2
461996  1000047991  2  2017-05-29 08:55:00.000     37.2
461997  1000047992  2  2017-05-29 09:00:00.200     37.2
461998  1000047993  2  2017-05-29 09:05:00.100     37.2
461999  1000047994  2  2017-05-29 09:10:00.300     37.2
462000  1000047995  2  2017-05-29 09:15:00.100     37.2
462001  1000047996  2  2017-05-29 09:20:00.100     37.2
462002  1000047997  2  2017-05-29 09:25:00.100     37.2
462003  1000047998  2  2017-05-29 09:30:00.200     37.2
462004  1000047999  2  2017-05-29 09:35:00.200     37.2
462005  1000048000  2  2017-05-29 09:40:00.200     37.2
462006  1000048001  2  2017-05-29 09:45:00.100     37.2
462007  1000048002  2  2017-05-29 09:50:00.100     37.2
462008  1000048003  2  2017-05-29 09:55:00.100     37.2
462009  1000048004  2  2017-05-29 10:00:00.200     37.2
462010  1000048005  2  2017-05-29 10:05:00.200     37.2
462011  1000048006  2  2017-05-29 10:10:00.300     37.2
462012  1000048007  2  2017-05-29 10:15:00.200     37.2
462013  1000048008  2  2017-05-29 10:20:00.000     37.2
462014  1000048009  2  2017-05-29 10:25:00.100     37.2

[462015 rows x 4 columns]

In [39]:
m2kWtot

               seq  t                       ts        v
0        999587325  2  2012-05-30 00:00:00.100     29.1
1        999587326  0  2012-05-30 06:23:23.800  32770.0
2        999587327  0  2012-05-30 06:23:23.800      2.0
3        999587328  0  2012-05-30 20:03:23.800  32770.0
4        999587329  0  2012-05-30 20:03:23.800      2.0
5        999587330  2  2012-05-30 20:05:00.100     24.6
6        999587331  2  2012-05-30 20:10:00.000     25.3
7        999587332  2  2012-05-30 20:15:00.000     22.9
8        999587333  2  2012-05-30 20:20:00.100     22.2
9        999587334  2  2012-05-30 20:25:00.100     21.8
10       999587335  2  2012-05-30 20:30:00.000     20.1
11       999587336  2  2012-05-30 20:35:00.000     20.3
12       999587337  2  2012-05-30 20:40:00.000     20.6
13       999587338  2  2012-05-30 20:45:00.000     18.9
14       999587339  2  2012-05-30 20:50:00.000     20.3
15       999587340  2  2012-05-30 20:55:00.100     19.1
16       999587341  2  2012-05-30 21:00:00.000     19.0
17       999587342  2  2012-05-30 21:05:00.100     18.9
18       999587343  2  2012-05-30 21:10:00.000     19.8
19       999587344  2  2012-05-30 21:15:00.100     19.8
20       999587345  2  2012-05-30 21:20:00.100     18.2
21       999587346  2  2012-05-30 21:25:00.100     19.2
22       999587347  2  2012-05-30 21:30:00.000     19.0
23       999587348  2  2012-05-30 21:35:00.100     19.3
24       999587349  2  2012-05-30 21:40:00.000     17.8
25       999587350  2  2012-05-30 21:45:00.000     18.3
26       999587351  2  2012-05-30 21:50:00.000     19.6
27       999587352  2  2012-05-30 21:55:00.100     19.7
28       999587353  2  2012-05-30 22:00:00.000     18.7
29       999587354  2  2012-05-30 22:05:00.100     19.6
...            ... ..                      ...      ...
460855  1000048180  2  2017-05-29 08:00:00.300     28.5
460856  1000048181  2  2017-05-29 08:05:00.100     27.8
460857  1000048182  2  2017-05-29 08:10:00.000     27.3
460858  1000048183  2  2017-05-29 08:15:00.200     27.2
460859  1000048184  2  2017-05-29 08:20:00.100     27.5
460860  1000048185  2  2017-05-29 08:25:00.300     27.1
460861  1000048186  2  2017-05-29 08:30:00.100     28.6
460862  1000048187  2  2017-05-29 08:35:00.000     27.7
460863  1000048188  2  2017-05-29 08:40:00.000     28.5
460864  1000048189  2  2017-05-29 08:45:00.200     29.1
460865  1000048190  2  2017-05-29 08:50:00.200     28.2
460866  1000048191  2  2017-05-29 08:55:00.000     27.1
460867  1000048192  2  2017-05-29 09:00:00.100     30.0
460868  1000048193  2  2017-05-29 09:05:00.100     30.6
460869  1000048194  2  2017-05-29 09:10:00.300     28.7
460870  1000048195  2  2017-05-29 09:15:00.100     29.3
460871  1000048196  2  2017-05-29 09:20:00.100     28.6
460872  1000048197  2  2017-05-29 09:25:00.100     31.4
460873  1000048198  2  2017-05-29 09:30:00.100     30.7
460874  1000048199  2  2017-05-29 09:35:00.100     28.2
460875  1000048200  2  2017-05-29 09:40:00.100     28.3
460876  1000048201  2  2017-05-29 09:45:00.100     32.8
460877  1000048202  2  2017-05-29 09:50:00.100     32.0
460878  1000048203  2  2017-05-29 09:55:00.100     32.1
460879  1000048204  2  2017-05-29 10:00:00.200     30.9
460880  1000048205  2  2017-05-29 10:05:00.200     36.0
460881  1000048206  2  2017-05-29 10:10:00.200     32.5
460882  1000048207  2  2017-05-29 10:15:00.200     29.2
460883  1000048208  2  2017-05-29 10:20:00.000     28.3
460884  1000048209  2  2017-05-29 10:25:00.100     28.3

[460885 rows x 4 columns]

In [40]:
m2kWThermalRaw

               seq  t                       ts        v
0        999589984  2  2012-05-30 00:00:00.100     13.4
1        999589985  0  2012-05-30 06:23:23.800  32770.0
2        999589986  0  2012-05-30 06:23:23.800      2.0
3        999589987  0  2012-05-30 20:03:23.800  32770.0
4        999589988  0  2012-05-30 20:03:23.800      2.0
5        999589989  2  2012-05-30 20:05:00.100      3.6
6        999589990  2  2012-05-30 20:10:00.100     10.4
7        999589991  2  2012-05-30 20:15:00.100     15.7
8        999589992  2  2012-05-30 20:20:00.200     17.7
9        999589993  2  2012-05-30 20:25:00.100     18.4
10       999589994  2  2012-05-30 20:30:00.000     19.1
11       999589995  2  2012-05-30 20:35:00.000     18.8
12       999589996  2  2012-05-30 20:40:00.100     18.8
13       999589997  2  2012-05-30 20:45:00.000     18.7
14       999589998  2  2012-05-30 20:50:00.000     18.9
15       999589999  2  2012-05-30 20:55:00.100     18.7
16       999590000  2  2012-05-30 21:00:00.000     18.6
17       999590001  2  2012-05-30 21:05:00.100     18.9
18       999590002  2  2012-05-30 21:10:00.000     19.0
19       999590003  2  2012-05-30 21:15:00.200     19.2
20       999590004  2  2012-05-30 21:20:00.100     19.2
21       999590005  2  2012-05-30 21:25:00.100     18.8
22       999590006  2  2012-05-30 21:30:00.100     18.2
23       999590007  2  2012-05-30 21:35:00.100     17.9
24       999590008  2  2012-05-30 21:40:00.000     17.7
25       999590009  2  2012-05-30 21:45:00.000     17.9
26       999590010  2  2012-05-30 21:50:00.000     18.1
27       999590011  2  2012-05-30 21:55:00.100     18.2
28       999590012  2  2012-05-30 22:00:00.100     17.8
29       999590013  2  2012-05-30 22:05:00.100     17.0
...            ... ..                      ...      ...
457996  1000047980  2  2017-05-29 08:00:00.000     15.4
457997  1000047981  2  2017-05-29 08:05:00.200     16.1
457998  1000047982  2  2017-05-29 08:10:00.000     15.4
457999  1000047983  2  2017-05-29 08:15:00.200     15.4
458000  1000047984  2  2017-05-29 08:20:00.100     16.0
458001  1000047985  2  2017-05-29 08:25:00.300     17.4
458002  1000047986  2  2017-05-29 08:30:00.200     16.9
458003  1000047987  2  2017-05-29 08:35:00.100     16.4
458004  1000047988  2  2017-05-29 08:40:00.000     16.5
458005  1000047989  2  2017-05-29 08:45:00.200     16.7
458006  1000047990  2  2017-05-29 08:50:00.200     17.0
458007  1000047991  2  2017-05-29 08:55:00.000     17.4
458008  1000047992  2  2017-05-29 09:00:00.200     19.0
458009  1000047993  2  2017-05-29 09:05:00.100     18.8
458010  1000047994  2  2017-05-29 09:10:00.300     19.4
458011  1000047995  2  2017-05-29 09:15:00.100     19.8
458012  1000047996  2  2017-05-29 09:20:00.100     20.2
458013  1000047997  2  2017-05-29 09:25:00.100     21.5
458014  1000047998  2  2017-05-29 09:30:00.200     22.9
458015  1000047999  2  2017-05-29 09:35:00.200     24.1
458016  1000048000  2  2017-05-29 09:40:00.200     24.8
458017  1000048001  2  2017-05-29 09:45:00.100     24.9
458018  1000048002  2  2017-05-29 09:50:00.100     25.2
458019  1000048003  2  2017-05-29 09:55:00.100     25.3
458020  1000048004  2  2017-05-29 10:00:00.200     25.2
458021  1000048005  2  2017-05-29 10:05:00.200     25.8
458022  1000048006  2  2017-05-29 10:10:00.300     26.2
458023  1000048007  2  2017-05-29 10:15:00.200     26.7
458024  1000048008  2  2017-05-29 10:20:00.000     26.9
458025  1000048009  2  2017-05-29 10:25:00.100     27.2

[458026 rows x 4 columns]

In [41]:
m2kWThermalCalc

               seq  t                       ts        v
0        999587997  2  2012-05-30 00:00:00.100     44.8
1        999587998  0  2012-05-30 06:23:23.800  32770.0
2        999587999  0  2012-05-30 06:23:23.800      2.0
3        999588000  0  2012-05-30 20:03:23.800  32770.0
4        999588001  0  2012-05-30 20:03:23.800      2.0
5        999588002  2  2012-05-30 20:05:00.100     44.8
6        999588003  2  2012-05-30 20:10:00.000     44.8
7        999588004  2  2012-05-30 20:15:00.000     44.8
8        999588005  2  2012-05-30 20:20:00.200     44.8
9        999588006  2  2012-05-30 20:25:00.100     44.8
10       999588007  2  2012-05-30 20:30:00.000     44.8
11       999588008  2  2012-05-30 20:35:00.000     44.8
12       999588009  2  2012-05-30 20:40:00.000     44.8
13       999588010  2  2012-05-30 20:45:00.000     44.8
14       999588011  2  2012-05-30 20:50:00.000     44.8
15       999588012  2  2012-05-30 20:55:00.100     44.8
16       999588013  2  2012-05-30 21:00:00.000     44.8
17       999588014  2  2012-05-30 21:05:00.100     44.8
18       999588015  2  2012-05-30 21:10:00.000     44.8
19       999588016  2  2012-05-30 21:15:00.100     44.8
20       999588017  2  2012-05-30 21:20:00.100     44.8
21       999588018  2  2012-05-30 21:25:00.100     44.8
22       999588019  2  2012-05-30 21:30:00.100     44.8
23       999588020  2  2012-05-30 21:35:00.100     44.8
24       999588021  2  2012-05-30 21:40:00.000     44.8
25       999588022  2  2012-05-30 21:45:00.000     44.8
26       999588023  2  2012-05-30 21:50:00.000     44.8
27       999588024  2  2012-05-30 21:55:00.100     44.8
28       999588025  2  2012-05-30 22:00:00.000     44.8
29       999588026  2  2012-05-30 22:05:00.100     44.8
...            ... ..                      ...      ...
459983  1000047980  2  2017-05-29 08:00:00.300     44.8
459984  1000047981  2  2017-05-29 08:05:00.200     44.8
459985  1000047982  2  2017-05-29 08:10:00.000     44.8
459986  1000047983  2  2017-05-29 08:15:00.200     44.8
459987  1000047984  2  2017-05-29 08:20:00.100     44.8
459988  1000047985  2  2017-05-29 08:25:00.300     44.8
459989  1000047986  2  2017-05-29 08:30:00.200     44.8
459990  1000047987  2  2017-05-29 08:35:00.000     44.8
459991  1000047988  2  2017-05-29 08:40:00.000     44.8
459992  1000047989  2  2017-05-29 08:45:00.200     44.8
459993  1000047990  2  2017-05-29 08:50:00.200     44.8
459994  1000047991  2  2017-05-29 08:55:00.000     44.8
459995  1000047992  2  2017-05-29 09:00:00.100     44.8
459996  1000047993  2  2017-05-29 09:05:00.100     44.8
459997  1000047994  2  2017-05-29 09:10:00.300     44.8
459998  1000047995  2  2017-05-29 09:15:00.100     44.8
459999  1000047996  2  2017-05-29 09:20:00.100     44.8
460000  1000047997  2  2017-05-29 09:25:00.100     44.8
460001  1000047998  2  2017-05-29 09:30:00.100     44.8
460002  1000047999  2  2017-05-29 09:35:00.100     44.8
460003  1000048000  2  2017-05-29 09:40:00.100     44.8
460004  1000048001  2  2017-05-29 09:45:00.100     44.8
460005  1000048002  2  2017-05-29 09:50:00.100     44.8
460006  1000048003  2  2017-05-29 09:55:00.100     44.8
460007  1000048004  2  2017-05-29 10:00:00.200     44.8
460008  1000048005  2  2017-05-29 10:05:00.200     44.8
460009  1000048006  2  2017-05-29 10:10:00.200     44.8
460010  1000048007  2  2017-05-29 10:15:00.200     44.8
460011  1000048008  2  2017-05-29 10:20:00.000     44.8
460012  1000048009  2  2017-05-29 10:25:00.100     44.8

[460013 rows x 4 columns]

In [42]:
m1kWh_tot

               seq  t                       ts        v
0        999555602  2  2012-05-30 00:00:00.100   6364.0
1        999555603  0  2012-05-30 06:23:23.800  32770.0
2        999555604  0  2012-05-30 06:23:23.800      2.0
3        999555605  0  2012-05-30 20:03:23.800  32770.0
4        999555606  0  2012-05-30 20:03:23.800      2.0
5        999555607  2  2012-05-30 20:05:00.100   6364.0
6        999555608  2  2012-05-30 20:10:00.000   6364.0
7        999555609  2  2012-05-30 20:15:00.000   6364.0
8        999555610  2  2012-05-30 20:20:00.100   6364.0
9        999555611  2  2012-05-30 20:25:00.100   6364.0
10       999555612  2  2012-05-30 20:30:00.000   6364.0
11       999555613  2  2012-05-30 20:35:00.000   6364.0
12       999555614  2  2012-05-30 20:40:00.000   6364.0
13       999555615  2  2012-05-30 20:45:00.000   6364.0
14       999555616  2  2012-05-30 20:50:00.000   6364.0
15       999555617  2  2012-05-30 20:55:00.100   6364.0
16       999555618  2  2012-05-30 21:00:00.000   6364.0
17       999555619  2  2012-05-30 21:05:00.100   6364.0
18       999555620  2  2012-05-30 21:10:00.000   6364.0
19       999555621  2  2012-05-30 21:15:00.100   6365.0
20       999555622  2  2012-05-30 21:20:00.100   6365.0
21       999555623  2  2012-05-30 21:25:00.100   6365.0
22       999555624  2  2012-05-30 21:30:00.000   6365.0
23       999555625  2  2012-05-30 21:35:00.100   6365.0
24       999555626  2  2012-05-30 21:40:00.000   6365.0
25       999555627  2  2012-05-30 21:45:00.000   6365.0
26       999555628  2  2012-05-30 21:50:00.000   6365.0
27       999555629  2  2012-05-30 21:55:00.100   6365.0
28       999555630  2  2012-05-30 22:00:00.000   6365.0
29       999555631  2  2012-05-30 22:05:00.100   6365.0
...            ... ..                      ...      ...
498454  1000054056  2  2017-05-29 08:00:00.300  16928.0
498455  1000054057  2  2017-05-29 08:05:00.100  16928.0
498456  1000054058  2  2017-05-29 08:10:00.000  16928.0
498457  1000054059  2  2017-05-29 08:15:00.200  16928.0
498458  1000054060  2  2017-05-29 08:20:00.100  16928.0
498459  1000054061  2  2017-05-29 08:25:00.300  16928.0
498460  1000054062  2  2017-05-29 08:30:00.100  16928.0
498461  1000054063  2  2017-05-29 08:35:00.000  16928.0
498462  1000054064  2  2017-05-29 08:40:00.000  16928.0
498463  1000054065  2  2017-05-29 08:45:00.200  16928.0
498464  1000054066  2  2017-05-29 08:50:00.200  16928.0
498465  1000054067  2  2017-05-29 08:55:00.000  16928.0
498466  1000054068  2  2017-05-29 09:00:00.100  16928.0
498467  1000054069  2  2017-05-29 09:05:00.100  16928.0
498468  1000054070  2  2017-05-29 09:10:00.300  16928.0
498469  1000054071  2  2017-05-29 09:15:00.100  16928.0
498470  1000054072  2  2017-05-29 09:20:00.100  16928.0
498471  1000054073  2  2017-05-29 09:25:00.100  16928.0
498472  1000054074  2  2017-05-29 09:30:00.100  16928.0
498473  1000054075  2  2017-05-29 09:35:00.100  16928.0
498474  1000054076  2  2017-05-29 09:40:00.100  16928.0
498475  1000054077  2  2017-05-29 09:45:00.100  16928.0
498476  1000054078  2  2017-05-29 09:50:00.100  16928.0
498477  1000054079  2  2017-05-29 09:55:00.100  16928.0
498478  1000054080  2  2017-05-29 10:00:00.200  16928.0
498479  1000054081  2  2017-05-29 10:05:00.200  16928.0
498480  1000054082  2  2017-05-29 10:10:00.200  16928.0
498481  1000054083  2  2017-05-29 10:15:00.200  16928.0
498482  1000054084  2  2017-05-29 10:20:00.000  16928.0
498483  1000054085  2  2017-05-29 10:25:00.100  16928.0

[498484 rows x 4 columns]

In [43]:
m1kWtot

               seq  t                       ts    v
0        999906745  2  2015-10-26 09:38:00.100  0.2
1        999906746  2  2015-10-26 09:39:00.200  0.2
2        999906747  2  2015-10-26 09:40:00.100  0.2
3        999906748  2  2015-10-26 09:41:00.100  0.2
4        999906749  2  2015-10-26 09:42:00.000  0.2
5        999906750  2  2015-10-26 09:43:00.100  0.2
6        999906751  2  2015-10-26 09:44:00.200  0.2
7        999906752  2  2015-10-26 09:45:00.200  0.2
8        999906753  2  2015-10-26 09:46:00.200  0.2
9        999906754  2  2015-10-26 09:47:00.100  0.2
10       999906755  2  2015-10-26 09:48:00.200  0.2
11       999906756  2  2015-10-26 09:49:00.100  0.2
12       999906757  2  2015-10-26 09:50:00.200  0.2
13       999906758  2  2015-10-26 09:51:00.200  0.2
14       999906759  2  2015-10-26 09:52:00.200  0.2
15       999906760  2  2015-10-26 09:53:00.000  0.2
16       999906761  2  2015-10-26 09:54:00.000  0.2
17       999906762  2  2015-10-26 09:55:00.000  0.2
18       999906763  2  2015-10-26 09:56:00.200  0.2
19       999906764  2  2015-10-26 09:57:00.100  0.2
20       999906765  2  2015-10-26 09:58:00.000  0.2
21       999906766  2  2015-10-26 09:59:00.000  0.2
22       999906767  2  2015-10-26 10:00:00.100  0.2
23       999906768  2  2015-10-26 10:01:00.200  0.2
24       999906769  2  2015-10-26 10:02:00.200  0.2
25       999906770  2  2015-10-26 10:03:00.200  0.2
26       999906771  2  2015-10-26 10:04:00.100  0.2
27       999906772  2  2015-10-26 10:05:00.000  0.2
28       999906773  2  2015-10-26 10:06:00.200  0.2
29       999906774  2  2015-10-26 10:07:00.200  0.2
...            ... ..                      ...  ...
147311  1000054056  2  2017-05-29 08:00:00.300  0.3
147312  1000054057  2  2017-05-29 08:05:00.100  0.3
147313  1000054058  2  2017-05-29 08:10:00.000  0.3
147314  1000054059  2  2017-05-29 08:15:00.100  0.3
147315  1000054060  2  2017-05-29 08:20:00.100  0.3
147316  1000054061  2  2017-05-29 08:25:00.300  0.3
147317  1000054062  2  2017-05-29 08:30:00.100  0.3
147318  1000054063  2  2017-05-29 08:35:00.000  0.3
147319  1000054064  2  2017-05-29 08:40:00.000  0.3
147320  1000054065  2  2017-05-29 08:45:00.200  0.3
147321  1000054066  2  2017-05-29 08:50:00.200  0.3
147322  1000054067  2  2017-05-29 08:55:00.000  0.3
147323  1000054068  2  2017-05-29 09:00:00.100  0.3
147324  1000054069  2  2017-05-29 09:05:00.100  0.3
147325  1000054070  2  2017-05-29 09:10:00.200  0.3
147326  1000054071  2  2017-05-29 09:15:00.100  0.3
147327  1000054072  2  2017-05-29 09:20:00.000  0.3
147328  1000054073  2  2017-05-29 09:25:00.100  0.3
147329  1000054074  2  2017-05-29 09:30:00.100  0.3
147330  1000054075  2  2017-05-29 09:35:00.100  0.3
147331  1000054076  2  2017-05-29 09:40:00.100  0.3
147332  1000054077  2  2017-05-29 09:45:00.000  0.3
147333  1000054078  2  2017-05-29 09:50:00.000  0.3
147334  1000054079  2  2017-05-29 09:55:00.100  0.3
147335  1000054080  2  2017-05-29 10:00:00.100  0.3
147336  1000054081  2  2017-05-29 10:05:00.200  0.3
147337  1000054082  2  2017-05-29 10:10:00.200  0.3
147338  1000054083  2  2017-05-29 10:15:00.200  0.3
147339  1000054084  2  2017-05-29 10:20:00.000  0.3
147340  1000054085  2  2017-05-29 10:25:00.100  0.3

[147341 rows x 4 columns]

In [44]:
m1kWThermalRaw

               seq  t                       ts        v
0        999584981  2  2012-05-30 00:00:00.100      0.2
1        999584982  0  2012-05-30 06:23:23.800  32770.0
2        999584983  0  2012-05-30 06:23:23.800      2.0
3        999584984  0  2012-05-30 20:03:23.800  32770.0
4        999584985  0  2012-05-30 20:03:23.800      2.0
5        999584986  2  2012-05-30 20:05:00.100      0.0
6        999584987  2  2012-05-30 20:10:00.000      0.0
7        999584988  2  2012-05-30 20:15:00.000      0.0
8        999584989  2  2012-05-30 20:20:00.100      0.1
9        999584990  2  2012-05-30 20:25:00.100      0.3
10       999584991  2  2012-05-30 20:30:00.000      0.4
11       999584992  2  2012-05-30 20:35:00.000      0.4
12       999584993  2  2012-05-30 20:40:00.000      0.4
13       999584994  2  2012-05-30 20:45:00.000      0.4
14       999584995  2  2012-05-30 20:50:00.000      0.4
15       999584996  2  2012-05-30 20:55:00.100      0.3
16       999584997  2  2012-05-30 21:00:00.000      0.2
17       999584998  2  2012-05-30 21:05:00.100      0.3
18       999584999  2  2012-05-30 21:10:00.000      0.4
19       999585000  2  2012-05-30 21:15:00.100      0.4
20       999585001  2  2012-05-30 21:20:00.100      0.4
21       999585002  2  2012-05-30 21:25:00.100      0.4
22       999585003  2  2012-05-30 21:30:00.000      0.4
23       999585004  2  2012-05-30 21:35:00.100      0.4
24       999585005  2  2012-05-30 21:40:00.000      0.4
25       999585006  2  2012-05-30 21:45:00.000      0.4
26       999585007  2  2012-05-30 21:50:00.000      0.4
27       999585008  2  2012-05-30 21:55:00.100      0.4
28       999585009  2  2012-05-30 22:00:00.000      0.4
29       999585010  2  2012-05-30 22:05:00.100      0.4
...            ... ..                      ...      ...
462720  1000047701  2  2017-05-29 07:55:00.100      0.3
462721  1000047702  2  2017-05-29 08:00:00.300      0.3
462722  1000047703  2  2017-05-29 08:05:00.100      0.3
462723  1000047704  2  2017-05-29 08:10:00.000      0.3
462724  1000047705  2  2017-05-29 08:15:00.200      0.3
462725  1000047706  2  2017-05-29 08:20:00.100      0.3
462726  1000047707  2  2017-05-29 08:25:00.300      0.3
462727  1000047708  2  2017-05-29 08:30:00.100      0.3
462728  1000047709  2  2017-05-29 08:35:00.000      0.3
462729  1000047710  2  2017-05-29 08:40:00.000      0.3
462730  1000047711  2  2017-05-29 08:45:00.200      0.3
462731  1000047712  2  2017-05-29 08:50:00.200      0.3
462732  1000047713  2  2017-05-29 08:55:00.000      0.3
462733  1000047714  2  2017-05-29 09:00:00.100      0.3
462734  1000047715  2  2017-05-29 09:05:00.100      0.3
462735  1000047716  2  2017-05-29 09:10:00.300      0.3
462736  1000047717  2  2017-05-29 09:15:00.100      0.3
462737  1000047718  2  2017-05-29 09:20:00.100      0.3
462738  1000047719  2  2017-05-29 09:25:00.100      0.3
462739  1000047720  2  2017-05-29 09:30:00.100      0.3
462740  1000047721  2  2017-05-29 09:35:00.100      0.3
462741  1000047722  2  2017-05-29 09:40:00.100      0.3
462742  1000047723  2  2017-05-29 09:45:00.100      0.3
462743  1000047724  2  2017-05-29 09:50:00.100      0.3
462744  1000047725  2  2017-05-29 09:55:00.100      0.3
462745  1000047726  2  2017-05-29 10:00:00.100      0.3
462746  1000047727  2  2017-05-29 10:05:00.200      0.3
462747  1000047728  2  2017-05-29 10:10:00.200      0.3
462748  1000047729  2  2017-05-29 10:15:00.200      0.3
462749  1000047730  2  2017-05-29 10:20:00.000      0.3

[462750 rows x 4 columns]

In [45]:
m1kWThermalCalc

               seq  t                       ts        v
0        999586982  2  2012-05-30 00:00:00.100      0.4
1        999586983  0  2012-05-30 06:23:23.800  32770.0
2        999586984  0  2012-05-30 06:23:23.800      2.0
3        999586985  0  2012-05-30 20:03:23.800  32770.0
4        999586986  0  2012-05-30 20:03:23.800      2.0
5        999586987  2  2012-05-30 20:05:00.100      0.4
6        999586988  2  2012-05-30 20:10:00.000      0.4
7        999586989  2  2012-05-30 20:15:00.000      0.4
8        999586990  2  2012-05-30 20:20:00.100      0.4
9        999586991  2  2012-05-30 20:25:00.100      0.4
10       999586992  2  2012-05-30 20:30:00.000      0.4
11       999586993  2  2012-05-30 20:35:00.000      0.4
12       999586994  2  2012-05-30 20:40:00.000      0.4
13       999586995  2  2012-05-30 20:45:00.000      0.4
14       999586996  2  2012-05-30 20:50:00.000      0.4
15       999586997  2  2012-05-30 20:55:00.100      0.4
16       999586998  2  2012-05-30 21:00:00.000      0.4
17       999586999  2  2012-05-30 21:05:00.100      0.4
18       999587000  2  2012-05-30 21:10:00.000      0.4
19       999587001  2  2012-05-30 21:15:00.100      0.4
20       999587002  2  2012-05-30 21:20:00.100      0.4
21       999587003  2  2012-05-30 21:25:00.100      0.4
22       999587004  2  2012-05-30 21:30:00.000      0.4
23       999587005  2  2012-05-30 21:35:00.100      0.4
24       999587006  2  2012-05-30 21:40:00.000      0.4
25       999587007  2  2012-05-30 21:45:00.000      0.4
26       999587008  2  2012-05-30 21:50:00.000      0.4
27       999587009  2  2012-05-30 21:55:00.100      0.4
28       999587010  2  2012-05-30 22:00:00.000      0.4
29       999587011  2  2012-05-30 22:05:00.100      0.4
...            ... ..                      ...      ...
460719  1000047701  2  2017-05-29 07:55:00.100      0.3
460720  1000047702  2  2017-05-29 08:00:00.300      0.3
460721  1000047703  2  2017-05-29 08:05:00.100      0.3
460722  1000047704  2  2017-05-29 08:10:00.000      0.3
460723  1000047705  2  2017-05-29 08:15:00.200      0.3
460724  1000047706  2  2017-05-29 08:20:00.100      0.3
460725  1000047707  2  2017-05-29 08:25:00.300      0.3
460726  1000047708  2  2017-05-29 08:30:00.100      0.3
460727  1000047709  2  2017-05-29 08:35:00.000      0.3
460728  1000047710  2  2017-05-29 08:40:00.000      0.3
460729  1000047711  2  2017-05-29 08:45:00.200      0.3
460730  1000047712  2  2017-05-29 08:50:00.200      0.3
460731  1000047713  2  2017-05-29 08:55:00.000      0.3
460732  1000047714  2  2017-05-29 09:00:00.100      0.3
460733  1000047715  2  2017-05-29 09:05:00.100      0.3
460734  1000047716  2  2017-05-29 09:10:00.300      0.3
460735  1000047717  2  2017-05-29 09:15:00.100      0.3
460736  1000047718  2  2017-05-29 09:20:00.100      0.3
460737  1000047719  2  2017-05-29 09:25:00.100      0.3
460738  1000047720  2  2017-05-29 09:30:00.100      0.3
460739  1000047721  2  2017-05-29 09:35:00.100      0.3
460740  1000047722  2  2017-05-29 09:40:00.100      0.3
460741  1000047723  2  2017-05-29 09:45:00.000      0.3
460742  1000047724  2  2017-05-29 09:50:00.000      0.3
460743  1000047725  2  2017-05-29 09:55:00.100      0.3
460744  1000047726  2  2017-05-29 10:00:00.100      0.3
460745  1000047727  2  2017-05-29 10:05:00.200      0.3
460746  1000047728  2  2017-05-29 10:10:00.200      0.3
460747  1000047729  2  2017-05-29 10:15:00.200      0.3
460748  1000047730  2  2017-05-29 10:20:00.000      0.3

[460749 rows x 4 columns]

In [46]:
labFlw_tot

               seq  t                       ts        v
0        999851053  2  2012-05-30 00:00:02.400  19274.4
1        999851054  0  2012-05-30 00:02:16.000  32770.0
2        999851055  0  2012-05-30 00:02:16.000      2.0
3        999851056  2  2012-05-30 00:02:21.200  19274.4
4        999851057  2  2012-05-30 00:17:21.200  19275.5
5        999851058  2  2012-05-30 00:32:21.300  19276.7
6        999851059  2  2012-05-30 00:47:21.500  19277.7
7        999851060  2  2012-05-30 01:02:21.800  19277.7
8        999851061  2  2012-05-30 01:17:21.900  19277.7
9        999851062  2  2012-05-30 01:32:21.900  19277.7
10       999851063  2  2012-05-30 01:47:22.100  19277.7
11       999851064  2  2012-05-30 02:02:22.100  19277.7
12       999851065  2  2012-05-30 02:17:22.200  19277.7
13       999851066  2  2012-05-30 02:32:22.200  19277.7
14       999851067  2  2012-05-30 02:47:22.300  19277.7
15       999851068  2  2012-05-30 03:02:22.400  19277.7
16       999851069  2  2012-05-30 03:17:22.500  19277.7
17       999851070  2  2012-05-30 03:32:22.500  19277.7
18       999851071  2  2012-05-30 03:47:22.500  19277.7
19       999851072  2  2012-05-30 04:02:22.600  19277.7
20       999851073  2  2012-05-30 04:17:22.600  19277.7
21       999851074  2  2012-05-30 04:32:22.700  19277.7
22       999851075  2  2012-05-30 04:47:22.800  19277.7
23       999851076  2  2012-05-30 05:02:23.000  19277.7
24       999851077  2  2012-05-30 05:17:23.200  19277.7
25       999851078  2  2012-05-30 05:32:23.200  19277.7
26       999851079  2  2012-05-30 05:47:23.200  19277.7
27       999851080  2  2012-05-30 06:02:23.400  19277.7
28       999851081  2  2012-05-30 06:17:24.300  19277.7
29       999851082  2  2012-05-30 06:32:24.400  19277.7
...            ... ..                      ...      ...
165255  1000016308  2  2017-05-29 03:08:10.600  69500.8
165256  1000016309  2  2017-05-29 03:23:10.300  69502.0
165257  1000016310  2  2017-05-29 03:38:10.300  69503.1
165258  1000016311  2  2017-05-29 03:53:10.500  69504.3
165259  1000016312  2  2017-05-29 04:08:10.500  69505.4
165260  1000016313  2  2017-05-29 04:23:10.100  69506.6
165261  1000016314  2  2017-05-29 04:38:10.200  69507.7
165262  1000016315  2  2017-05-29 04:53:10.100  69508.8
165263  1000016316  2  2017-05-29 05:08:10.400  69510.0
165264  1000016317  2  2017-05-29 05:23:10.800  69511.1
165265  1000016318  2  2017-05-29 05:38:10.900  69512.3
165266  1000016319  2  2017-05-29 05:53:10.900  69513.4
165267  1000016320  2  2017-05-29 06:08:11.000  69514.6
165268  1000016321  2  2017-05-29 06:23:11.200  69515.7
165269  1000016322  2  2017-05-29 06:38:11.300  69516.9
165270  1000016323  2  2017-05-29 06:53:11.600  69518.0
165271  1000016324  2  2017-05-29 07:08:11.800  69519.1
165272  1000016325  2  2017-05-29 07:23:12.200  69520.3
165273  1000016326  2  2017-05-29 07:38:12.300  69521.4
165274  1000016327  2  2017-05-29 07:53:12.400  69522.6
165275  1000016328  2  2017-05-29 08:08:12.500  69523.7
165276  1000016329  2  2017-05-29 08:23:13.200  69524.9
165277  1000016330  2  2017-05-29 08:38:13.300  69526.0
165278  1000016331  2  2017-05-29 08:53:13.600  69527.2
165279  1000016332  2  2017-05-29 09:08:13.600  69528.3
165280  1000016333  2  2017-05-29 09:23:13.600  69529.5
165281  1000016334  2  2017-05-29 09:38:13.700  69530.6
165282  1000016335  2  2017-05-29 09:53:13.800  69531.7
165283  1000016336  2  2017-05-29 10:08:14.000  69532.9
165284  1000016337  2  2017-05-29 10:23:12.800  69534.0

[165285 rows x 4 columns]

In [47]:
greywaterFlw_tot

               seq  t                       ts         v
0        999851052  2  2012-05-30 00:00:03.200  143297.0
1        999851053  0  2012-05-30 00:02:16.000   32770.0
2        999851054  0  2012-05-30 00:02:16.000       2.0
3        999851055  2  2012-05-30 00:02:21.200  143297.0
4        999851056  2  2012-05-30 00:17:21.200  143297.0
5        999851057  2  2012-05-30 00:32:21.300  143297.0
6        999851058  2  2012-05-30 00:47:21.500  143297.0
7        999851059  2  2012-05-30 01:02:21.800  143297.0
8        999851060  2  2012-05-30 01:17:21.900  143297.0
9        999851061  2  2012-05-30 01:32:21.900  143297.0
10       999851062  2  2012-05-30 01:47:22.100  143297.0
11       999851063  2  2012-05-30 02:02:22.100  143297.0
12       999851064  2  2012-05-30 02:17:22.200  143297.0
13       999851065  2  2012-05-30 02:32:22.200  143297.0
14       999851066  2  2012-05-30 02:47:22.300  143297.0
15       999851067  2  2012-05-30 03:02:22.300  143297.0
16       999851068  2  2012-05-30 03:17:22.500  143297.0
17       999851069  2  2012-05-30 03:32:22.500  143297.0
18       999851070  2  2012-05-30 03:47:22.500  143297.0
19       999851071  2  2012-05-30 04:02:22.600  143297.0
20       999851072  2  2012-05-30 04:17:22.600  143297.0
21       999851073  2  2012-05-30 04:32:22.700  143297.0
22       999851074  2  2012-05-30 04:47:22.800  143297.0
23       999851075  2  2012-05-30 05:02:23.000  143297.0
24       999851076  2  2012-05-30 05:17:23.200  143297.0
25       999851077  2  2012-05-30 05:32:23.200  143297.0
26       999851078  2  2012-05-30 05:47:23.200  143297.0
27       999851079  2  2012-05-30 06:02:23.400  143297.0
28       999851080  2  2012-05-30 06:17:24.300  143297.0
29       999851081  2  2012-05-30 06:32:24.400  143297.0
...            ... ..                      ...       ...
165256  1000016308  2  2017-05-29 03:08:09.500  194964.0
165257  1000016309  2  2017-05-29 03:23:09.100  194965.0
165258  1000016310  2  2017-05-29 03:38:09.200  194965.0
165259  1000016311  2  2017-05-29 03:53:09.300  194965.0
165260  1000016312  2  2017-05-29 04:08:09.400  194966.0
165261  1000016313  2  2017-05-29 04:23:09.000  194966.0
165262  1000016314  2  2017-05-29 04:38:09.000  194966.0
165263  1000016315  2  2017-05-29 04:53:09.100  194967.0
165264  1000016316  2  2017-05-29 05:08:09.300  194967.0
165265  1000016317  2  2017-05-29 05:23:09.700  194967.0
165266  1000016318  2  2017-05-29 05:38:09.800  194968.0
165267  1000016319  2  2017-05-29 05:53:09.900  194968.0
165268  1000016320  2  2017-05-29 06:08:09.900  194969.0
165269  1000016321  2  2017-05-29 06:23:10.100  194969.0
165270  1000016322  2  2017-05-29 06:38:10.200  194969.0
165271  1000016323  2  2017-05-29 06:53:10.500  194970.0
165272  1000016324  2  2017-05-29 07:08:10.700  194970.0
165273  1000016325  2  2017-05-29 07:23:11.100  194970.0
165274  1000016326  2  2017-05-29 07:38:11.200  194971.0
165275  1000016327  2  2017-05-29 07:53:11.300  194971.0
165276  1000016328  2  2017-05-29 08:08:11.400  194971.0
165277  1000016329  2  2017-05-29 08:23:12.100  194972.0
165278  1000016330  2  2017-05-29 08:38:12.300  194972.0
165279  1000016331  2  2017-05-29 08:53:12.400  194972.0
165280  1000016332  2  2017-05-29 09:08:12.400  194973.0
165281  1000016333  2  2017-05-29 09:23:12.500  194973.0
165282  1000016334  2  2017-05-29 09:38:12.500  194973.0
165283  1000016335  2  2017-05-29 09:53:12.700  194974.0
165284  1000016336  2  2017-05-29 10:08:12.900  194974.0
165285  1000016337  2  2017-05-29 10:23:11.700  194974.0

[165286 rows x 4 columns]

In [48]:
grdlFlw_tot

               seq  t                       ts           v
0        999851052  2  2012-05-30 00:00:01.000  18040700.0
1        999851053  0  2012-05-30 00:02:16.000     32770.0
2        999851054  0  2012-05-30 00:02:16.000         2.0
3        999851055  2  2012-05-30 00:02:21.200  18040700.0
4        999851056  2  2012-05-30 00:17:21.200  18040700.0
5        999851057  2  2012-05-30 00:32:21.300  18040700.0
6        999851058  2  2012-05-30 00:47:21.500  18040700.0
7        999851059  2  2012-05-30 01:02:21.800  18040700.0
8        999851060  2  2012-05-30 01:17:21.900  18040700.0
9        999851061  2  2012-05-30 01:32:21.900  18040700.0
10       999851062  2  2012-05-30 01:47:22.100  18040700.0
11       999851063  2  2012-05-30 02:02:22.100  18040700.0
12       999851064  2  2012-05-30 02:17:22.200  18040700.0
13       999851065  2  2012-05-30 02:32:22.200  18040700.0
14       999851066  2  2012-05-30 02:47:22.300  18040700.0
15       999851067  2  2012-05-30 03:02:22.400  18040700.0
16       999851068  2  2012-05-30 03:17:22.500  18040700.0
17       999851069  2  2012-05-30 03:32:22.500  18040700.0
18       999851070  2  2012-05-30 03:47:22.500  18040700.0
19       999851071  2  2012-05-30 04:02:22.600  18040700.0
20       999851072  2  2012-05-30 04:17:22.600  18040700.0
21       999851073  2  2012-05-30 04:32:22.700  18040700.0
22       999851074  2  2012-05-30 04:47:22.800  18040700.0
23       999851075  2  2012-05-30 05:02:23.000  18040700.0
24       999851076  2  2012-05-30 05:17:23.200  18040700.0
25       999851077  2  2012-05-30 05:32:23.200  18040700.0
26       999851078  2  2012-05-30 05:47:23.200  18040700.0
27       999851079  2  2012-05-30 06:02:23.400  18040700.0
28       999851080  2  2012-05-30 06:17:24.300  18040700.0
29       999851081  2  2012-05-30 06:32:24.400  18040800.0
...            ... ..                      ...         ...
165256  1000016308  2  2017-05-29 03:08:10.600  52819580.0
165257  1000016309  2  2017-05-29 03:23:10.300  52819584.0
165258  1000016310  2  2017-05-29 03:38:10.300  52819584.0
165259  1000016311  2  2017-05-29 03:53:10.500  52819584.0
165260  1000016312  2  2017-05-29 04:08:10.500  52819584.0
165261  1000016313  2  2017-05-29 04:23:10.100  52819584.0
165262  1000016314  2  2017-05-29 04:38:10.200  52819584.0
165263  1000016315  2  2017-05-29 04:53:10.100  52819584.0
165264  1000016316  2  2017-05-29 05:08:10.400  52819584.0
165265  1000016317  2  2017-05-29 05:23:10.800  52819584.0
165266  1000016318  2  2017-05-29 05:38:10.900  52819584.0
165267  1000016319  2  2017-05-29 05:53:10.900  52819584.0
165268  1000016320  2  2017-05-29 06:08:11.000  52819588.0
165269  1000016321  2  2017-05-29 06:23:11.200  52819588.0
165270  1000016322  2  2017-05-29 06:38:11.300  52819588.0
165271  1000016323  2  2017-05-29 06:53:11.600  52819588.0
165272  1000016324  2  2017-05-29 07:08:11.800  52819588.0
165273  1000016325  2  2017-05-29 07:23:12.200  52819588.0
165274  1000016326  2  2017-05-29 07:38:12.300  52819588.0
165275  1000016327  2  2017-05-29 07:53:12.400  52819588.0
165276  1000016328  2  2017-05-29 08:08:12.500  52819588.0
165277  1000016329  2  2017-05-29 08:23:13.200  52819588.0
165278  1000016330  2  2017-05-29 08:38:13.300  52819592.0
165279  1000016331  2  2017-05-29 08:53:13.600  52819592.0
165280  1000016332  2  2017-05-29 09:08:13.600  52819592.0
165281  1000016333  2  2017-05-29 09:23:13.600  52819592.0
165282  1000016334  2  2017-05-29 09:38:13.700  52819592.0
165283  1000016335  2  2017-05-29 09:53:13.800  52819592.0
165284  1000016336  2  2017-05-29 10:08:14.000  52819592.0
165285  1000016337  2  2017-05-29 10:23:12.800  52819592.0

[165286 rows x 4 columns]

In [49]:
grdlEnergy_tot

               seq  t                       ts             v
0        999786564  2  2012-05-30 04:02:23.800  9.903640e+04
1        999786565  2  2012-05-30 04:12:23.900  9.903640e+04
2        999786566  2  2012-05-30 04:22:23.900  9.903640e+04
3        999786567  2  2012-05-30 04:32:23.900  9.903640e+04
4        999786568  2  2012-05-30 04:42:24.000  9.903640e+04
5        999786569  2  2012-05-30 04:52:24.200  9.903640e+04
6        999786570  2  2012-05-30 05:02:24.400  9.903640e+04
7        999786571  2  2012-05-30 05:12:24.700  9.903640e+04
8        999786572  2  2012-05-30 05:22:24.900  9.903640e+04
9        999786573  2  2012-05-30 05:32:24.900  9.903640e+04
10       999786574  2  2012-05-30 05:42:25.000  9.903640e+04
11       999786575  2  2012-05-30 05:52:25.100  9.903640e+04
12       999786576  2  2012-05-30 06:02:25.100  9.903640e+04
13       999786577  2  2012-05-30 06:12:25.800  9.903640e+04
14       999786578  2  2012-05-30 06:22:25.800  9.903640e+04
15       999786579  2  2012-05-30 06:32:25.800  9.903670e+04
16       999786580  2  2012-05-30 06:42:25.800  9.903670e+04
17       999786581  2  2012-05-30 06:52:25.900  9.903670e+04
18       999786582  2  2012-05-30 07:02:25.900  9.903670e+04
19       999786583  2  2012-05-30 07:12:26.200  9.903670e+04
20       999786584  2  2012-05-30 07:22:26.400  9.903670e+04
21       999786585  2  2012-05-30 07:32:26.500  9.903670e+04
22       999786586  2  2012-05-30 07:42:26.700  9.903670e+04
23       999786587  2  2012-05-30 07:52:26.700  9.903670e+04
24       999786588  2  2012-05-30 08:02:26.700  9.903670e+04
25       999786589  2  2012-05-30 08:12:26.900  9.903670e+04
26       999786590  2  2012-05-30 08:22:27.100  9.903670e+04
27       999786591  2  2012-05-30 08:32:27.200  9.903670e+04
28       999786592  2  2012-05-30 08:42:27.400  9.903670e+04
29       999786593  2  2012-05-30 08:52:27.500  9.903670e+04
...            ... ..                      ...           ...
237516  1000024080  2  2017-05-29 05:36:35.700  1.413919e+06
237517  1000024081  2  2017-05-29 05:46:35.800  1.414065e+06
237518  1000024082  2  2017-05-29 05:56:36.000  1.414115e+06
237519  1000024083  2  2017-05-29 06:06:36.100  1.414123e+06
237520  1000024084  2  2017-05-29 06:16:36.000  1.414227e+06
237521  1000024085  2  2017-05-29 06:26:36.300  1.414373e+06
237522  1000024086  2  2017-05-29 06:36:36.200  1.414518e+06
237523  1000024087  2  2017-05-29 06:46:36.500  1.414664e+06
237524  1000024088  2  2017-05-29 06:56:36.600  1.414802e+06
237525  1000024089  2  2017-05-29 07:06:36.600  1.414948e+06
237526  1000024090  2  2017-05-29 07:16:37.000  1.415094e+06
237527  1000024091  2  2017-05-29 07:26:37.300  1.415240e+06
237528  1000024092  2  2017-05-29 07:36:37.400  1.415385e+06
237529  1000024093  2  2017-05-29 07:46:37.600  1.415531e+06
237530  1000024094  2  2017-05-29 07:56:37.800  1.415676e+06
237531  1000024095  2  2017-05-29 08:06:38.100  1.415822e+06
237532  1000024096  2  2017-05-29 08:16:38.600  1.415967e+06
237533  1000024097  2  2017-05-29 08:26:38.800  1.416113e+06
237534  1000024098  2  2017-05-29 08:36:39.000  1.416258e+06
237535  1000024099  2  2017-05-29 08:46:39.300  1.416404e+06
237536  1000024100  2  2017-05-29 08:56:39.400  1.416454e+06
237537  1000024101  2  2017-05-29 09:06:39.600  1.416462e+06
237538  1000024102  2  2017-05-29 09:16:39.700  1.416564e+06
237539  1000024103  2  2017-05-29 09:26:39.700  1.416710e+06
237540  1000024104  2  2017-05-29 09:36:39.800  1.416855e+06
237541  1000024105  2  2017-05-29 09:46:40.000  1.417000e+06
237542  1000024106  2  2017-05-29 09:56:40.200  1.417051e+06
237543  1000024107  2  2017-05-29 10:06:40.400  1.417059e+06
237544  1000024108  2  2017-05-29 10:16:39.100  1.417161e+06
237545  1000024109  2  2017-05-29 10:26:39.500  1.417305e+06

[237546 rows x 4 columns]

In [50]:
ethanolFlw_tot

               seq  t                       ts            v
0        999851366  2  2012-05-30 00:00:00.100   41950800.0
1        999851367  0  2012-05-30 00:02:15.800      32770.0
2        999851368  0  2012-05-30 00:02:15.800          2.0
3        999851369  2  2012-05-30 00:15:00.300   41950800.0
4        999851370  2  2012-05-30 00:30:00.400   41950800.0
5        999851371  2  2012-05-30 00:45:00.400   41950800.0
6        999851372  2  2012-05-30 01:00:00.200   41950800.0
7        999851373  2  2012-05-30 01:15:00.200   41950800.0
8        999851374  2  2012-05-30 01:30:00.400   41950800.0
9        999851375  2  2012-05-30 01:45:00.100   41950800.0
10       999851376  2  2012-05-30 02:00:00.300   41950800.0
11       999851377  2  2012-05-30 02:15:00.200   41950800.0
12       999851378  2  2012-05-30 02:30:00.400   41950800.0
13       999851379  2  2012-05-30 02:45:00.500   41950800.0
14       999851380  2  2012-05-30 03:00:00.100   41950800.0
15       999851381  2  2012-05-30 03:15:00.100   41950800.0
16       999851382  2  2012-05-30 03:30:00.300   41950800.0
17       999851383  2  2012-05-30 03:45:00.400   41950800.0
18       999851384  2  2012-05-30 04:00:00.400   41950800.0
19       999851385  2  2012-05-30 04:15:00.400   41950800.0
20       999851386  2  2012-05-30 04:30:00.100   41950800.0
21       999851387  2  2012-05-30 04:45:00.400   41950800.0
22       999851388  2  2012-05-30 05:00:00.500   41950800.0
23       999851389  2  2012-05-30 05:15:00.200   41950800.0
24       999851390  2  2012-05-30 05:30:00.200   41950800.0
25       999851391  2  2012-05-30 05:45:00.400   41950800.0
26       999851392  2  2012-05-30 06:00:00.400   41950800.0
27       999851393  2  2012-05-30 06:15:00.200   41950800.0
28       999851394  2  2012-05-30 06:30:00.300   41950800.0
29       999851395  2  2012-05-30 06:45:00.100   41950800.0
...            ... ..                      ...          ...
164739  1000016105  2  2017-05-29 03:00:00.400  105959208.0
164740  1000016106  2  2017-05-29 03:15:00.000  105959208.0
164741  1000016107  2  2017-05-29 03:30:00.100  105959208.0
164742  1000016108  2  2017-05-29 03:45:00.400  105959208.0
164743  1000016109  2  2017-05-29 04:00:00.200  105959208.0
164744  1000016110  2  2017-05-29 04:15:00.400  105959208.0
164745  1000016111  2  2017-05-29 04:30:00.000  105959208.0
164746  1000016112  2  2017-05-29 04:45:00.400  105959208.0
164747  1000016113  2  2017-05-29 05:00:00.100  105959208.0
164748  1000016114  2  2017-05-29 05:15:00.300  105959208.0
164749  1000016115  2  2017-05-29 05:30:00.400  105959208.0
164750  1000016116  2  2017-05-29 05:45:00.300  105959208.0
164751  1000016117  2  2017-05-29 06:00:00.000  105959208.0
164752  1000016118  2  2017-05-29 06:15:00.100  105959208.0
164753  1000016119  2  2017-05-29 06:30:00.100  105959208.0
164754  1000016120  2  2017-05-29 06:45:00.400  105959208.0
164755  1000016121  2  2017-05-29 07:00:00.100  105959208.0
164756  1000016122  2  2017-05-29 07:15:00.000  105959208.0
164757  1000016123  2  2017-05-29 07:30:00.100  105959208.0
164758  1000016124  2  2017-05-29 07:45:00.400  105959208.0
164759  1000016125  2  2017-05-29 08:00:00.300  105959208.0
164760  1000016126  2  2017-05-29 08:15:00.000  105959208.0
164761  1000016127  2  2017-05-29 08:30:00.100  105959208.0
164762  1000016128  2  2017-05-29 08:45:00.300  105959208.0
164763  1000016129  2  2017-05-29 09:00:00.300  105959208.0
164764  1000016130  2  2017-05-29 09:15:00.000  105959208.0
164765  1000016131  2  2017-05-29 09:30:00.300  105959208.0
164766  1000016132  2  2017-05-29 09:45:00.300  105959208.0
164767  1000016133  2  2017-05-29 10:00:00.400  105959208.0
164768  1000016134  2  2017-05-29 10:15:00.200  105959208.0

[164769 rows x 4 columns]

In [51]:
ethanolBtu_tot

               seq  t                       ts           v
0        999583062  2  2012-05-30 03:40:00.600  16332100.0
1        999583063  2  2012-05-30 03:45:00.800  16332100.0
2        999583064  2  2012-05-30 03:50:00.700  16332100.0
3        999583065  2  2012-05-30 03:55:00.700  16332100.0
4        999583066  2  2012-05-30 04:00:00.800  16332100.0
5        999583067  2  2012-05-30 04:05:00.700  16332100.0
6        999583068  2  2012-05-30 04:10:00.500  16332100.0
7        999583069  2  2012-05-30 04:15:00.800  16332100.0
8        999583070  2  2012-05-30 04:20:00.700  16332100.0
9        999583071  2  2012-05-30 04:25:00.700  16332100.0
10       999583072  2  2012-05-30 04:30:00.500  16332100.0
11       999583073  2  2012-05-30 04:35:00.800  16332100.0
12       999583074  2  2012-05-30 04:40:00.800  16332100.0
13       999583075  2  2012-05-30 04:45:00.800  16332100.0
14       999583076  2  2012-05-30 04:50:00.500  16332100.0
15       999583077  2  2012-05-30 04:55:00.900  16332100.0
16       999583078  2  2012-05-30 05:00:00.900  16332100.0
17       999583079  2  2012-05-30 05:05:00.800  16332100.0
18       999583080  2  2012-05-30 05:10:00.500  16332100.0
19       999583081  2  2012-05-30 05:15:00.700  16332100.0
20       999583082  2  2012-05-30 05:20:00.600  16332100.0
21       999583083  2  2012-05-30 05:25:00.500  16332100.0
22       999583084  2  2012-05-30 05:30:00.600  16332100.0
23       999583085  2  2012-05-30 05:35:00.700  16332100.0
24       999583086  2  2012-05-30 05:40:00.600  16332100.0
25       999583087  2  2012-05-30 05:45:00.800  16332100.0
26       999583088  2  2012-05-30 05:50:00.600  16332100.0
27       999583089  2  2012-05-30 05:55:00.900  16332100.0
28       999583090  2  2012-05-30 06:00:00.800  16332100.0
29       999583091  2  2012-05-30 06:05:00.600  16332100.0
...            ... ..                      ...         ...
465115  1000048177  2  2017-05-29 08:00:00.300  53203648.0
465116  1000048178  2  2017-05-29 08:05:00.200  53203648.0
465117  1000048179  2  2017-05-29 08:10:00.000  53203648.0
465118  1000048180  2  2017-05-29 08:15:00.000  53203648.0
465119  1000048181  2  2017-05-29 08:20:00.100  53203648.0
465120  1000048182  2  2017-05-29 08:25:00.200  53203648.0
465121  1000048183  2  2017-05-29 08:30:00.100  53203648.0
465122  1000048184  2  2017-05-29 08:35:00.100  53203648.0
465123  1000048185  2  2017-05-29 08:40:00.100  53203648.0
465124  1000048186  2  2017-05-29 08:45:00.300  53203648.0
465125  1000048187  2  2017-05-29 08:50:00.300  53203648.0
465126  1000048188  2  2017-05-29 08:55:00.400  53203648.0
465127  1000048189  2  2017-05-29 09:00:00.400  53203648.0
465128  1000048190  2  2017-05-29 09:05:00.300  53203648.0
465129  1000048191  2  2017-05-29 09:10:00.200  53203648.0
465130  1000048192  2  2017-05-29 09:15:00.000  53203648.0
465131  1000048193  2  2017-05-29 09:20:00.100  53203648.0
465132  1000048194  2  2017-05-29 09:25:00.000  53203648.0
465133  1000048195  2  2017-05-29 09:30:00.300  53203648.0
465134  1000048196  2  2017-05-29 09:35:00.100  53203648.0
465135  1000048197  2  2017-05-29 09:40:00.200  53203648.0
465136  1000048198  2  2017-05-29 09:45:00.300  53203648.0
465137  1000048199  2  2017-05-29 09:50:00.200  53203648.0
465138  1000048200  2  2017-05-29 09:55:00.500  53203648.0
465139  1000048201  2  2017-05-29 10:00:00.400  53203648.0
465140  1000048202  2  2017-05-29 10:05:00.000  53203648.0
465141  1000048203  2  2017-05-29 10:10:00.000  53203648.0
465142  1000048204  2  2017-05-29 10:15:00.200  53203648.0
465143  1000048205  2  2017-05-29 10:20:00.000  53203648.0
465144  1000048206  2  2017-05-29 10:25:00.200  53203648.0

[465145 rows x 4 columns]

In [52]:
dwMtr_usg

               seq  t                       ts         v
0        999941291  2  2016-02-15 19:55:00.000  0.000000
1        999941292  2  2016-02-15 20:00:00.100  0.000000
2        999941293  2  2016-02-15 20:05:00.200  0.000000
3        999941294  2  2016-02-15 20:10:00.200  1.610310
4        999941295  2  2016-02-15 20:15:00.100  0.000000
5        999941296  2  2016-02-15 20:20:00.200  0.000000
6        999941297  2  2016-02-15 20:25:00.200  0.000000
7        999941298  2  2016-02-15 20:30:00.000  0.000000
8        999941299  2  2016-02-15 20:35:00.200  0.000000
9        999941300  2  2016-02-15 20:40:00.100  0.000000
10       999941301  2  2016-02-15 20:45:00.100  0.000000
11       999941302  2  2016-02-15 20:50:00.200  0.000000
12       999941303  2  2016-02-15 20:55:00.000  0.252413
13       999941304  2  2016-02-15 21:00:00.000  0.000000
14       999941305  2  2016-02-15 21:05:00.000  0.000000
15       999941306  2  2016-02-15 21:10:00.100  0.000000
16       999941307  2  2016-02-15 21:15:00.200  0.000000
17       999941308  2  2016-02-15 21:20:00.100  0.000000
18       999941309  2  2016-02-15 21:25:00.000  0.000000
19       999941310  2  2016-02-15 21:30:00.200  0.000000
20       999941311  2  2016-02-15 21:35:00.000  0.000000
21       999941312  2  2016-02-15 21:40:00.000  0.000000
22       999941313  2  2016-02-15 21:45:00.000  0.000000
23       999941314  2  2016-02-15 21:50:00.200  0.000000
24       999941315  2  2016-02-15 21:55:00.100  0.000000
25       999941316  2  2016-02-15 22:00:00.200  0.000000
26       999941317  2  2016-02-15 22:05:00.000  0.000000
27       999941318  2  2016-02-15 22:10:00.000  0.000000
28       999941319  2  2016-02-15 22:15:00.100  0.000000
29       999941320  2  2016-02-15 22:20:00.200  0.000000
...            ... ..                      ...       ...
112764  1000054055  2  2017-05-29 08:00:00.200  0.000000
112765  1000054056  2  2017-05-29 08:05:00.000  0.269042
112766  1000054057  2  2017-05-29 08:10:00.000  0.080544
112767  1000054058  2  2017-05-29 08:15:00.000  0.079757
112768  1000054059  2  2017-05-29 08:20:00.000  0.310050
112769  1000054060  2  2017-05-29 08:25:00.100  0.181216
112770  1000054061  2  2017-05-29 08:30:00.100  0.091905
112771  1000054062  2  2017-05-29 08:35:00.200  0.000000
112772  1000054063  2  2017-05-29 08:40:00.000  0.000000
112773  1000054064  2  2017-05-29 08:45:00.100  0.000000
112774  1000054065  2  2017-05-29 08:50:00.200  0.000000
112775  1000054066  2  2017-05-29 08:55:00.200  0.000000
112776  1000054067  2  2017-05-29 09:00:00.200  0.262820
112777  1000054068  2  2017-05-29 09:05:00.100  0.000000
112778  1000054069  2  2017-05-29 09:10:00.100  0.000000
112779  1000054070  2  2017-05-29 09:15:00.200  0.279359
112780  1000054071  2  2017-05-29 09:20:00.100  0.000000
112781  1000054072  2  2017-05-29 09:25:00.200  0.000000
112782  1000054073  2  2017-05-29 09:30:00.200  0.069754
112783  1000054074  2  2017-05-29 09:35:00.000  0.103914
112784  1000054075  2  2017-05-29 09:40:00.200  0.084224
112785  1000054076  2  2017-05-29 09:45:00.000  0.234675
112786  1000054077  2  2017-05-29 09:50:00.100  0.000000
112787  1000054078  2  2017-05-29 09:55:00.100  0.000000
112788  1000054079  2  2017-05-29 10:00:00.100  0.346854
112789  1000054080  2  2017-05-29 10:05:00.000  0.000000
112790  1000054081  2  2017-05-29 10:10:00.000  0.000000
112791  1000054082  2  2017-05-29 10:15:00.100  0.000000
112792  1000054083  2  2017-05-29 10:20:00.100  0.084451
112793  1000054084  2  2017-05-29 10:25:00.200  0.000000

[112794 rows x 4 columns]

In [53]:
dwMtr_tot

               seq  t                       ts       v
0        999940289  2  2016-02-12 13:30:00.000   582.0
1        999940290  2  2016-02-12 13:35:00.100   582.0
2        999940291  2  2016-02-12 13:40:00.100   582.0
3        999940292  2  2016-02-12 13:45:00.000   582.0
4        999940293  2  2016-02-12 13:50:00.100   582.0
5        999940294  2  2016-02-12 13:55:00.000   582.0
6        999940295  2  2016-02-12 14:00:00.200   582.0
7        999940296  2  2016-02-12 14:05:00.100   582.0
8        999940297  2  2016-02-12 14:10:00.000   582.0
9        999940298  2  2016-02-12 14:15:00.000   582.0
10       999940299  2  2016-02-12 14:20:00.000   582.0
11       999940300  2  2016-02-12 14:25:00.200   582.0
12       999940301  2  2016-02-12 14:30:00.000   582.0
13       999940302  2  2016-02-12 14:35:00.100   582.0
14       999940303  2  2016-02-12 14:40:00.000   582.0
15       999940304  2  2016-02-12 14:45:00.000   582.0
16       999940305  2  2016-02-12 14:50:00.000   582.0
17       999940306  2  2016-02-12 14:55:00.100   582.0
18       999940307  2  2016-02-12 15:00:00.200   582.0
19       999940308  2  2016-02-12 15:05:00.000   582.0
20       999940309  2  2016-02-12 15:10:00.000   582.0
21       999940310  2  2016-02-12 15:15:00.100   582.0
22       999940311  2  2016-02-12 15:20:00.300   582.0
23       999940312  2  2016-02-12 15:25:00.200   582.0
24       999940313  2  2016-02-12 15:30:00.100   582.0
25       999940314  2  2016-02-12 15:35:00.100   582.0
26       999940315  2  2016-02-12 15:40:00.100   582.0
27       999940316  2  2016-02-12 15:45:00.000   582.0
28       999940317  2  2016-02-12 15:50:00.200   582.0
29       999940318  2  2016-02-12 15:55:00.000   582.0
...            ... ..                      ...     ...
113766  1000054055  2  2017-05-29 08:00:00.200  4816.0
113767  1000054056  2  2017-05-29 08:05:00.200  4816.0
113768  1000054057  2  2017-05-29 08:10:00.000  4816.0
113769  1000054058  2  2017-05-29 08:15:00.000  4816.0
113770  1000054059  2  2017-05-29 08:20:00.000  4816.0
113771  1000054060  2  2017-05-29 08:25:00.100  4816.0
113772  1000054061  2  2017-05-29 08:30:00.100  4816.0
113773  1000054062  2  2017-05-29 08:35:00.200  4816.0
113774  1000054063  2  2017-05-29 08:40:00.000  4816.0
113775  1000054064  2  2017-05-29 08:45:00.100  4816.0
113776  1000054065  2  2017-05-29 08:50:00.200  4816.0
113777  1000054066  2  2017-05-29 08:55:00.200  4816.0
113778  1000054067  2  2017-05-29 09:00:00.200  4816.0
113779  1000054068  2  2017-05-29 09:05:00.100  4816.0
113780  1000054069  2  2017-05-29 09:10:00.100  4816.0
113781  1000054070  2  2017-05-29 09:15:00.200  4816.0
113782  1000054071  2  2017-05-29 09:20:00.100  4816.0
113783  1000054072  2  2017-05-29 09:25:00.200  4816.0
113784  1000054073  2  2017-05-29 09:30:00.200  4816.0
113785  1000054074  2  2017-05-29 09:35:00.000  4816.0
113786  1000054075  2  2017-05-29 09:40:00.200  4816.0
113787  1000054076  2  2017-05-29 09:45:00.000  4816.0
113788  1000054077  2  2017-05-29 09:50:00.100  4816.0
113789  1000054078  2  2017-05-29 09:55:00.100  4816.0
113790  1000054079  2  2017-05-29 10:00:00.100  4816.0
113791  1000054080  2  2017-05-29 10:05:00.000  4816.0
113792  1000054081  2  2017-05-29 10:10:00.000  4816.0
113793  1000054082  2  2017-05-29 10:15:00.100  4816.0
113794  1000054083  2  2017-05-29 10:20:00.100  4816.0
113795  1000054084  2  2017-05-29 10:25:00.200  4816.0

[113796 rows x 4 columns]

In [54]:
dhwStm_tot

               seq  t                       ts            v
0        999856931  2  2012-05-30 00:00:00.700      1008.86
1        999856932  0  2012-05-30 00:02:15.800     32770.00
2        999856933  0  2012-05-30 00:02:15.800         2.00
3        999856934  2  2012-05-30 00:15:00.500      1008.86
4        999856935  2  2012-05-30 00:30:00.700      1008.86
5        999856936  2  2012-05-30 00:45:00.500      1008.86
6        999856937  2  2012-05-30 01:00:00.600      1008.86
7        999856938  2  2012-05-30 01:15:00.600      1008.86
8        999856939  2  2012-05-30 01:30:00.600      1008.86
9        999856940  2  2012-05-30 01:45:00.600      1008.86
10       999856941  2  2012-05-30 02:00:00.500      1008.86
11       999856942  2  2012-05-30 02:15:00.700      1008.86
12       999856943  2  2012-05-30 02:30:00.700      1008.86
13       999856944  2  2012-05-30 02:45:00.500      1008.86
14       999856945  2  2012-05-30 03:00:00.500      1008.86
15       999856946  2  2012-05-30 03:15:00.500      1008.86
16       999856947  2  2012-05-30 03:30:00.700      1008.86
17       999856948  2  2012-05-30 03:45:00.600      1008.86
18       999856949  2  2012-05-30 04:00:00.700      1008.86
19       999856950  2  2012-05-30 04:15:00.700      1008.86
20       999856951  2  2012-05-30 04:30:00.600      1008.86
21       999856952  2  2012-05-30 04:45:00.500      1008.86
22       999856953  2  2012-05-30 05:00:00.600      1008.86
23       999856954  2  2012-05-30 05:15:00.700      1008.86
24       999856955  2  2012-05-30 05:30:00.600      1008.86
25       999856956  2  2012-05-30 05:45:00.500      1008.86
26       999856957  2  2012-05-30 06:00:00.600      1008.86
27       999856958  2  2012-05-30 06:15:00.600      1008.86
28       999856959  2  2012-05-30 06:30:00.500      1009.64
29       999856960  2  2012-05-30 06:45:00.600      1009.64
...            ... ..                      ...          ...
159174  1000016105  2  2017-05-29 03:00:00.200  97972720.00
159175  1000016106  2  2017-05-29 03:15:00.000  97973320.00
159176  1000016107  2  2017-05-29 03:30:00.000  97973920.00
159177  1000016108  2  2017-05-29 03:45:00.100  97974520.00
159178  1000016109  2  2017-05-29 04:00:00.200  97975120.00
159179  1000016110  2  2017-05-29 04:15:00.200  97975720.00
159180  1000016111  2  2017-05-29 04:30:00.200  97976320.00
159181  1000016112  2  2017-05-29 04:45:00.200  97976920.00
159182  1000016113  2  2017-05-29 05:00:00.100  97977520.00
159183  1000016114  2  2017-05-29 05:15:00.100  97978120.00
159184  1000016115  2  2017-05-29 05:30:00.100  97978720.00
159185  1000016116  2  2017-05-29 05:45:00.000  97979320.00
159186  1000016117  2  2017-05-29 06:00:00.100  97979920.00
159187  1000016118  2  2017-05-29 06:15:00.200  97980520.00
159188  1000016119  2  2017-05-29 06:30:00.000  97981120.00
159189  1000016120  2  2017-05-29 06:45:00.000  97981720.00
159190  1000016121  2  2017-05-29 07:00:00.000  97982320.00
159191  1000016122  2  2017-05-29 07:15:00.000  97982920.00
159192  1000016123  2  2017-05-29 07:30:00.100  97983520.00
159193  1000016124  2  2017-05-29 07:45:00.000  97984120.00
159194  1000016125  2  2017-05-29 08:00:00.100  97984720.00
159195  1000016126  2  2017-05-29 08:15:00.000  97985320.00
159196  1000016127  2  2017-05-29 08:30:00.200  97985920.00
159197  1000016128  2  2017-05-29 08:45:00.000  97986520.00
159198  1000016129  2  2017-05-29 09:00:00.000  97987120.00
159199  1000016130  2  2017-05-29 09:15:00.200  97987720.00
159200  1000016131  2  2017-05-29 09:30:00.200  97988320.00
159201  1000016132  2  2017-05-29 09:45:00.200  97988920.00
159202  1000016133  2  2017-05-29 10:00:00.100  97989520.00
159203  1000016134  2  2017-05-29 10:15:00.000  97990120.00

[159204 rows x 4 columns]

In [7]:
dhwBtu_tot

               seq  t                       ts             v
0        999593142  2  2012-05-30 03:40:00.600  3.009270e+05
1        999593143  2  2012-05-30 03:45:00.700  3.009270e+05
2        999593144  2  2012-05-30 03:50:00.700  3.009270e+05
3        999593145  2  2012-05-30 03:55:00.600  3.009270e+05
4        999593146  2  2012-05-30 04:00:00.800  3.009270e+05
5        999593147  2  2012-05-30 04:05:00.600  3.009270e+05
6        999593148  2  2012-05-30 04:10:00.600  3.009270e+05
7        999593149  2  2012-05-30 04:15:00.800  3.009270e+05
8        999593150  2  2012-05-30 04:20:00.600  3.009270e+05
9        999593151  2  2012-05-30 04:25:00.700  3.009270e+05
10       999593152  2  2012-05-30 04:30:00.800  3.009270e+05
11       999593153  2  2012-05-30 04:35:00.700  3.009270e+05
12       999593154  2  2012-05-30 04:40:00.800  3.009270e+05
13       999593155  2  2012-05-30 04:45:00.600  3.009270e+05
14       999593156  2  2012-05-30 04:50:00.700  3.009270e+05
15       999593157  2  2012-05-30 04:55:00.600  3.009270e+05
16       999593158  2  2012-05-30 05:00:00.700  3.009270e+05
17       999593159  2  2012-05-30 05:05:00.600  3.009270e+05
18       999593160  2  2012-05-30 05:10:00.600  3.009270e+05
19       999593161  2  2012-05-30 05:15:00.800  3.009270e+05
20       999593162  2  2012-05-30 05:20:00.800  3.009270e+05
21       999593163  2  2012-05-30 05:25:00.700  3.009270e+05
22       999593164  2  2012-05-30 05:30:00.700  3.009270e+05
23       999593165  2  2012-05-30 05:35:00.600  3.009270e+05
24       999593166  2  2012-05-30 05:40:00.800  3.009270e+05
25       999593167  2  2012-05-30 05:45:00.600  3.009270e+05
26       999593168  2  2012-05-30 05:50:00.700  3.009270e+05
27       999593169  2  2012-05-30 05:55:00.700  3.009270e+05
28       999593170  2  2012-05-30 06:00:00.700  3.009270e+05
29       999593171  2  2012-05-30 06:05:00.700  3.009270e+05
...            ... ..                      ...           ...
455035  1000048177  2  2017-05-29 08:00:00.100  4.728104e+10
455036  1000048178  2  2017-05-29 08:05:00.100  4.728114e+10
455037  1000048179  2  2017-05-29 08:10:00.000  4.728123e+10
455038  1000048180  2  2017-05-29 08:15:00.000  4.728132e+10
455039  1000048181  2  2017-05-29 08:20:00.100  4.728142e+10
455040  1000048182  2  2017-05-29 08:25:00.000  4.728152e+10
455041  1000048183  2  2017-05-29 08:30:00.200  4.728161e+10
455042  1000048184  2  2017-05-29 08:35:00.100  4.728171e+10
455043  1000048185  2  2017-05-29 08:40:00.000  4.728180e+10
455044  1000048186  2  2017-05-29 08:45:00.000  4.728190e+10
455045  1000048187  2  2017-05-29 08:50:00.200  4.728200e+10
455046  1000048188  2  2017-05-29 08:55:00.100  4.728209e+10
455047  1000048189  2  2017-05-29 09:00:00.000  4.728218e+10
455048  1000048190  2  2017-05-29 09:05:00.100  4.728228e+10
455049  1000048191  2  2017-05-29 09:10:00.100  4.728238e+10
455050  1000048192  2  2017-05-29 09:15:00.200  4.728247e+10
455051  1000048193  2  2017-05-29 09:20:00.100  4.728257e+10
455052  1000048194  2  2017-05-29 09:25:00.100  4.728266e+10
455053  1000048195  2  2017-05-29 09:30:00.200  4.728276e+10
455054  1000048196  2  2017-05-29 09:35:00.000  4.728285e+10
455055  1000048197  2  2017-05-29 09:40:00.000  4.728295e+10
455056  1000048198  2  2017-05-29 09:45:00.200  4.728304e+10
455057  1000048199  2  2017-05-29 09:50:00.000  4.728314e+10
455058  1000048200  2  2017-05-29 09:55:00.200  4.728324e+10
455059  1000048201  2  2017-05-29 10:00:00.100  4.728333e+10
455060  1000048202  2  2017-05-29 10:05:00.200  4.728343e+10
455061  1000048203  2  2017-05-29 10:10:00.100  4.728352e+10
455062  1000048204  2  2017-05-29 10:15:00.000  4.728362e+10
455063  1000048205  2  2017-05-29 10:20:00.200  4.728371e+10
455064  1000048206  2  2017-05-29 10:25:00.100  4.728381e+10

[455065 rows x 4 columns]

In [5]:
flw331_tot

               seq  t                       ts            v
0        999856932  2  2012-05-30 00:00:00.600   48819700.0
1        999856933  0  2012-05-30 00:02:15.800      32770.0
2        999856934  0  2012-05-30 00:02:15.800          2.0
3        999856935  2  2012-05-30 00:15:00.700   48819700.0
4        999856936  2  2012-05-30 00:30:00.600   48819700.0
5        999856937  2  2012-05-30 00:45:00.500   48819700.0
6        999856938  2  2012-05-30 01:00:00.600   48819700.0
7        999856939  2  2012-05-30 01:15:00.500   48819700.0
8        999856940  2  2012-05-30 01:30:00.600   48819700.0
9        999856941  2  2012-05-30 01:45:00.600   48819700.0
10       999856942  2  2012-05-30 02:00:00.700   48819700.0
11       999856943  2  2012-05-30 02:15:00.700   48819700.0
12       999856944  2  2012-05-30 02:30:00.600   48819700.0
13       999856945  2  2012-05-30 02:45:00.700   48819700.0
14       999856946  2  2012-05-30 03:00:00.500   48819800.0
15       999856947  2  2012-05-30 03:15:00.500   48819800.0
16       999856948  2  2012-05-30 03:30:00.700   48819800.0
17       999856949  2  2012-05-30 03:45:00.600   48819800.0
18       999856950  2  2012-05-30 04:00:00.700   48819800.0
19       999856951  2  2012-05-30 04:15:00.700   48819800.0
20       999856952  2  2012-05-30 04:30:00.600   48819800.0
21       999856953  2  2012-05-30 04:45:00.500   48819800.0
22       999856954  2  2012-05-30 05:00:00.600   48819800.0
23       999856955  2  2012-05-30 05:15:00.600   48819800.0
24       999856956  2  2012-05-30 05:30:00.600   48819800.0
25       999856957  2  2012-05-30 05:45:00.500   48819800.0
26       999856958  2  2012-05-30 06:00:00.600   48819800.0
27       999856959  2  2012-05-30 06:15:00.600   48819800.0
28       999856960  2  2012-05-30 06:30:00.500   48819800.0
29       999856961  2  2012-05-30 06:45:00.600   48819800.0
...            ... ..                      ...          ...
159173  1000016105  2  2017-05-29 03:00:00.100  122099000.0
159174  1000016106  2  2017-05-29 03:15:00.000  122099008.0
159175  1000016107  2  2017-05-29 03:30:00.000  122099008.0
159176  1000016108  2  2017-05-29 03:45:00.100  122099008.0
159177  1000016109  2  2017-05-29 04:00:00.100  122099016.0
159178  1000016110  2  2017-05-29 04:15:00.100  122099016.0
159179  1000016111  2  2017-05-29 04:30:00.100  122099016.0
159180  1000016112  2  2017-05-29 04:45:00.100  122099024.0
159181  1000016113  2  2017-05-29 05:00:00.000  122099024.0
159182  1000016114  2  2017-05-29 05:15:00.100  122099024.0
159183  1000016115  2  2017-05-29 05:30:00.100  122099032.0
159184  1000016116  2  2017-05-29 05:45:00.200  122099032.0
159185  1000016117  2  2017-05-29 06:00:00.000  122099032.0
159186  1000016118  2  2017-05-29 06:15:00.100  122099040.0
159187  1000016119  2  2017-05-29 06:30:00.200  122099040.0
159188  1000016120  2  2017-05-29 06:45:00.000  122099040.0
159189  1000016121  2  2017-05-29 07:00:00.000  122099048.0
159190  1000016122  2  2017-05-29 07:15:00.200  122099048.0
159191  1000016123  2  2017-05-29 07:30:00.100  122099056.0
159192  1000016124  2  2017-05-29 07:45:00.000  122099056.0
159193  1000016125  2  2017-05-29 08:00:00.000  122099056.0
159194  1000016126  2  2017-05-29 08:15:00.000  122099064.0
159195  1000016127  2  2017-05-29 08:30:00.100  122099064.0
159196  1000016128  2  2017-05-29 08:45:00.000  122099064.0
159197  1000016129  2  2017-05-29 09:00:00.000  122099072.0
159198  1000016130  2  2017-05-29 09:15:00.200  122099072.0
159199  1000016131  2  2017-05-29 09:30:00.100  122099072.0
159200  1000016132  2  2017-05-29 09:45:00.200  122099080.0
159201  1000016133  2  2017-05-29 10:00:00.000  122099080.0
159202  1000016134  2  2017-05-29 10:15:00.200  122099080.0

[159203 rows x 4 columns]

In [6]:
dcwFlw_tot

               seq  t                       ts           v
0        999853052  2  2012-05-30 00:00:02.400   498184.00
1        999853053  0  2012-05-30 00:02:16.000    32770.00
2        999853054  0  2012-05-30 00:02:16.000        2.00
3        999853055  2  2012-05-30 00:02:21.200   498184.00
4        999853056  2  2012-05-30 00:17:21.200   498318.00
5        999853057  2  2012-05-30 00:32:21.300   498456.00
6        999853058  2  2012-05-30 00:47:21.500   498595.00
7        999853059  2  2012-05-30 01:02:21.800   498733.00
8        999853060  2  2012-05-30 01:17:21.900   498872.00
9        999853061  2  2012-05-30 01:32:21.900   499012.00
10       999853062  2  2012-05-30 01:47:22.100   499152.00
11       999853063  2  2012-05-30 02:02:22.100   499292.00
12       999853064  2  2012-05-30 02:17:22.200   499431.00
13       999853065  2  2012-05-30 02:32:22.200   499572.00
14       999853066  2  2012-05-30 02:47:22.300   499712.00
15       999853067  2  2012-05-30 03:02:22.400   499853.00
16       999853068  2  2012-05-30 03:17:22.500   499993.00
17       999853069  2  2012-05-30 03:32:22.500   500133.00
18       999853070  2  2012-05-30 03:47:22.500   500273.00
19       999853071  2  2012-05-30 04:02:22.600   500413.00
20       999853072  2  2012-05-30 04:17:22.600   500553.00
21       999853073  2  2012-05-30 04:32:22.700   500693.00
22       999853074  2  2012-05-30 04:47:22.800   500834.00
23       999853075  2  2012-05-30 05:02:23.000   500974.00
24       999853076  2  2012-05-30 05:17:23.200   501114.00
25       999853077  2  2012-05-30 05:32:23.200   501253.00
26       999853078  2  2012-05-30 05:47:23.200   501392.00
27       999853079  2  2012-05-30 06:02:23.400   501529.00
28       999853080  2  2012-05-30 06:17:24.300   501665.00
29       999853081  2  2012-05-30 06:32:24.400   501764.00
...            ... ..                      ...         ...
163256  1000016308  2  2017-05-29 03:08:10.600  2523170.50
163257  1000016309  2  2017-05-29 03:23:10.300  2523170.50
163258  1000016310  2  2017-05-29 03:38:10.300  2523170.50
163259  1000016311  2  2017-05-29 03:53:10.500  2523170.50
163260  1000016312  2  2017-05-29 04:08:10.500  2523170.50
163261  1000016313  2  2017-05-29 04:23:10.100  2523170.50
163262  1000016314  2  2017-05-29 04:38:10.200  2523170.50
163263  1000016315  2  2017-05-29 04:53:10.500  2523170.50
163264  1000016316  2  2017-05-29 05:08:10.700  2523170.50
163265  1000016317  2  2017-05-29 05:23:11.100  2523170.50
163266  1000016318  2  2017-05-29 05:38:11.200  2523170.50
163267  1000016319  2  2017-05-29 05:53:11.300  2523170.50
163268  1000016320  2  2017-05-29 06:08:11.300  2523170.50
163269  1000016321  2  2017-05-29 06:23:11.600  2523170.50
163270  1000016322  2  2017-05-29 06:38:11.600  2523170.50
163271  1000016323  2  2017-05-29 06:53:11.600  2523170.50
163272  1000016324  2  2017-05-29 07:08:11.800  2523170.50
163273  1000016325  2  2017-05-29 07:23:12.200  2523173.50
163274  1000016326  2  2017-05-29 07:38:12.300  2523175.25
163275  1000016327  2  2017-05-29 07:53:12.400  2523177.50
163276  1000016328  2  2017-05-29 08:08:12.500  2523180.75
163277  1000016329  2  2017-05-29 08:23:13.200  2523185.75
163278  1000016330  2  2017-05-29 08:38:13.300  2523190.75
163279  1000016331  2  2017-05-29 08:53:13.600  2523196.25
163280  1000016332  2  2017-05-29 09:08:13.600  2523202.00
163281  1000016333  2  2017-05-29 09:23:13.600  2523209.75
163282  1000016334  2  2017-05-29 09:38:13.700  2523220.00
163283  1000016335  2  2017-05-29 09:53:13.800  2523225.00
163284  1000016336  2  2017-05-29 10:08:14.000  2523229.25
163285  1000016337  2  2017-05-29 10:23:12.800  2523240.25

[163286 rows x 4 columns]

###### Importing tables from MySQL

In [3]:
import MySQLdb

ImportError: No module named MySQLdb

##### Grouping Data Fields by time-window