#### Importing Libraries

In [66]:
import pandas as pd
import numpy as np
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.graph_objs import *
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime as dt
from dateutil import parser

#####  The data set for the first meter must be reduced to exclude large outliers (>50K) and NaN values, which is done in the following:

##### Importing updated data, and all CMLP data till May 29

In [67]:
btu331_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_331_BTU_CONSUM_TOT_TL.csv")
flw331_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_331_FLW_TOTAL_TL.csv")
dcwFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_DCW_FLW_TOT_TL.csv")
dhwBtu_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_DHW_BTU_CONSUM_TOT_TL.csv")
dhwStm_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_DHW_STM_TOTAL_TL.csv")
dwMtr_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_DW_MTR_TOTAL_AV_TL.csv")
dwMtr_usg = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_DW_MTR_USAGE_AV_TL.csv")
ethanolBtu_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_ETHANOL_BTU_CONSUM_TOT_TL.csv")
ethanolFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_ETHANOL_FLW_TOT_TL.csv")
grdlEnergy_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_GRDL_ENERGY_TOTAL_TL.csv")
grdlFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_GRDL_FLW TOT_TL.csv")
greywaterFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_GREYWATER_FLW TOT_TL.csv")
labFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_LAB_FLW TOT_TL.csv")
m1kWThermalCalc = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M1_OGG_Max_kW_Thermal_Demand_Calc_TL.csv")
m1kWThermalRaw = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M1_OGG_kW_Thermal_Demand_Raw_TL1032.csv")
m1kWtot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M1_OGG_kW_Total_METER_TL.csv")
m1kWh_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M1_OGG_kWh_Total_TL.csv")
m2kWThermalCalc = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M2_Tx-A_Max_kW_Thermal_Demand_Calc_TL.csv")
m2kWThermalRaw = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M3_Tx-B_kW_Thermal_Demand_Raw_TL.csv")
m2kWtot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M2_Tx-A_kW_Total_METER_TL.csv")
m3kWThermalCalc = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M3_Tx-B_Max_kW_Thermal_Demand_Calc_TL.csv")
m3kWThermalRaw = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M3_Tx-B_kW_Thermal_Demand_Raw_TL.csv")
m4kWThermalCalc = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M4_MLDP_SUB_Max_kW_Thermal_Demand_Calc_TL.csv")
m4kWThermalRaw = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M4_MLDP_SUB_kW_Thermal_Demand_Raw_TL.csv")
m5kWThermalCalc = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M5_MHDP_ION_Max_kW_Thermal_Demand_Calc_TL.csv")
m5kWThermalRaw = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M5_MHDP_ION_kW_Thermal_Demand_Raw_TL.csv")
m5kWtot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M5_MHDP_ION_kW_Total_METER_TL.csv")
m5kWh_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M5_MHDP_kWh_Total_TL.csv")
m6kWh_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M6_EMERGCY_kWh_Total_TL.csv")
m6kWThermalCalc = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M6_EMERGNCY_ION_Max_kW_Thermal_Demand_Calc_TL.csv")
m6kWThermalRaw = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M6_EMERGNCY_ION_kW_Thermal_Demand_Raw_TL.csv")
m6kWtot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_M6_EMERGNCY_ION_kW_Total_METER_TL.csv")
makeupwaterFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_MAKEUP WATER_FLW TOT_TL.csv")
mldpSub_kWh_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_MLDP_SUB_kWh_Total_TL.csv")
m2kWh_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_MLDP_Tx-A_kWh_Total_TL.csv")
m3kWh_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_MLDP_Tx-B_kWh_Total_TL.csv")
radwaterFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_RAD WATER_FLW_TOT_TL.csv")
radBtu_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_RAD_BTU_CONSUM_TOT_TL.csv")
rainwaterSaving_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_RAINWATER_SAVING TOT_TL.csv")
reheatBtu_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_REHEAT_BTU_CONSUM_TOT_TL.csv")
reheatFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_REHEAT_FLW_TOT_TL.csv")
steamBtu_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_STEAM_BTU_CONSUM_TOT_TL.csv")
steamFlw_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_STEAM_FLW_TOT_TL.csv")
stmMtr2_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_STM_MTR_2_TOTAL_AV_TL.csv")
stmMtr2_usg = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_STM_MTR_2_USAGE_AV_TL.csv")
stmMtr1_tot = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_STM_MTR_TOTAL_AV_TL.csv")
stmMtr1_usg = pd.read_csv("/Users/MHK/Documents/Rahim/Western/research17/DataExp/cmlp_full_coppercube_2905/CMLP_STM_MTR_USAGE_AV_TL.csv")

###### Not used in analysis - different time window/non-electricity

In [68]:
stmMtr1_tot.describe();stmMtr1_tot;stmMtr2_tot.describe();stmMtr2_tot;dwMtr_usg.describe();dwMtr_tot.describe();stmMtr2_usg.describe();stmMtr2_usg;stmMtr2_usg.describe();stmMtr2_usg;stmMtr1_usg.describe();stmMtr1_usg;reheatBtu_tot.describe();reheatBtu_tot;radBtu_tot.describe();radBtu_tot;dhwBtu_tot.describe();dhwBtu_tot;ethanolBtu_tot.describe();ethanolBtu_tot;steamBtu_tot.describe();steamBtu_tot;dhwStm_tot.describe();dhwStm_tot;flw331_tot.describe();flw331_tot;dcwFlw_tot.describe();dcwFlw_tot;makeupwaterFlw_tot.describe();makeupwaterFlw_tot;reheatFlw_tot.describe();reheatFlw_tot;ethanolFlw_tot.describe();ethanolFlw_tot;grdlFlw_tot.describe();grdlFlw_tot;rainwaterSaving_tot.describe();rainwaterSaving_tot;labFlw_tot.describe();labFlw_tot;greywaterFlw_tot.describe();greywaterFlw_tot;radwaterFlw_tot.describe();radwaterFlw_tot; steamFlw_tot.describe(); steamFlw_tot;

###### Left out for now (different units - ton-hr) - and slightly out-of-time-window

In [69]:
grdlEnergy_tot.describe()

                seq              t             v
count  2.375460e+05  237546.000000  2.375460e+05
mean   9.999053e+08       2.601319  2.148472e+06
std    6.857377e+04       1.804590  4.944318e+06
min    9.997866e+08       0.000000 -3.773000e+03
25%    9.998460e+08       2.000000  3.322480e+05
50%    9.999053e+08       2.000000  5.077290e+05
75%    9.999647e+08       2.000000  7.150058e+05
max    1.000024e+09       9.000000  1.697408e+07

In [70]:
grdlEnergy_tot

               seq  t                       ts             v
0        999786564  2  2012-05-30 04:02:23.800  9.903640e+04
1        999786565  2  2012-05-30 04:12:23.900  9.903640e+04
2        999786566  2  2012-05-30 04:22:23.900  9.903640e+04
3        999786567  2  2012-05-30 04:32:23.900  9.903640e+04
4        999786568  2  2012-05-30 04:42:24.000  9.903640e+04
5        999786569  2  2012-05-30 04:52:24.200  9.903640e+04
6        999786570  2  2012-05-30 05:02:24.400  9.903640e+04
7        999786571  2  2012-05-30 05:12:24.700  9.903640e+04
8        999786572  2  2012-05-30 05:22:24.900  9.903640e+04
9        999786573  2  2012-05-30 05:32:24.900  9.903640e+04
10       999786574  2  2012-05-30 05:42:25.000  9.903640e+04
11       999786575  2  2012-05-30 05:52:25.100  9.903640e+04
12       999786576  2  2012-05-30 06:02:25.100  9.903640e+04
13       999786577  2  2012-05-30 06:12:25.800  9.903640e+04
14       999786578  2  2012-05-30 06:22:25.800  9.903640e+04
15       999786579  2  2012-05-30 06:32:25.800  9.903670e+04
16       999786580  2  2012-05-30 06:42:25.800  9.903670e+04
17       999786581  2  2012-05-30 06:52:25.900  9.903670e+04
18       999786582  2  2012-05-30 07:02:25.900  9.903670e+04
19       999786583  2  2012-05-30 07:12:26.200  9.903670e+04
20       999786584  2  2012-05-30 07:22:26.400  9.903670e+04
21       999786585  2  2012-05-30 07:32:26.500  9.903670e+04
22       999786586  2  2012-05-30 07:42:26.700  9.903670e+04
23       999786587  2  2012-05-30 07:52:26.700  9.903670e+04
24       999786588  2  2012-05-30 08:02:26.700  9.903670e+04
25       999786589  2  2012-05-30 08:12:26.900  9.903670e+04
26       999786590  2  2012-05-30 08:22:27.100  9.903670e+04
27       999786591  2  2012-05-30 08:32:27.200  9.903670e+04
28       999786592  2  2012-05-30 08:42:27.400  9.903670e+04
29       999786593  2  2012-05-30 08:52:27.500  9.903670e+04
...            ... ..                      ...           ...
237516  1000024080  2  2017-05-29 05:36:35.700  1.413919e+06
237517  1000024081  2  2017-05-29 05:46:35.800  1.414065e+06
237518  1000024082  2  2017-05-29 05:56:36.000  1.414115e+06
237519  1000024083  2  2017-05-29 06:06:36.100  1.414123e+06
237520  1000024084  2  2017-05-29 06:16:36.000  1.414227e+06
237521  1000024085  2  2017-05-29 06:26:36.300  1.414373e+06
237522  1000024086  2  2017-05-29 06:36:36.200  1.414518e+06
237523  1000024087  2  2017-05-29 06:46:36.500  1.414664e+06
237524  1000024088  2  2017-05-29 06:56:36.600  1.414802e+06
237525  1000024089  2  2017-05-29 07:06:36.600  1.414948e+06
237526  1000024090  2  2017-05-29 07:16:37.000  1.415094e+06
237527  1000024091  2  2017-05-29 07:26:37.300  1.415240e+06
237528  1000024092  2  2017-05-29 07:36:37.400  1.415385e+06
237529  1000024093  2  2017-05-29 07:46:37.600  1.415531e+06
237530  1000024094  2  2017-05-29 07:56:37.800  1.415676e+06
237531  1000024095  2  2017-05-29 08:06:38.100  1.415822e+06
237532  1000024096  2  2017-05-29 08:16:38.600  1.415967e+06
237533  1000024097  2  2017-05-29 08:26:38.800  1.416113e+06
237534  1000024098  2  2017-05-29 08:36:39.000  1.416258e+06
237535  1000024099  2  2017-05-29 08:46:39.300  1.416404e+06
237536  1000024100  2  2017-05-29 08:56:39.400  1.416454e+06
237537  1000024101  2  2017-05-29 09:06:39.600  1.416462e+06
237538  1000024102  2  2017-05-29 09:16:39.700  1.416564e+06
237539  1000024103  2  2017-05-29 09:26:39.700  1.416710e+06
237540  1000024104  2  2017-05-29 09:36:39.800  1.416855e+06
237541  1000024105  2  2017-05-29 09:46:40.000  1.417000e+06
237542  1000024106  2  2017-05-29 09:56:40.200  1.417051e+06
237543  1000024107  2  2017-05-29 10:06:40.400  1.417059e+06
237544  1000024108  2  2017-05-29 10:16:39.100  1.417161e+06
237545  1000024109  2  2017-05-29 10:26:39.500  1.417305e+06

[237546 rows x 4 columns]

In [71]:
print([min(grdlEnergy_tot["ts"]),max(grdlEnergy_tot.ts)])

['2012-05-30 04:02:23.800', '2017-05-29 10:26:39.500']

# 26/10/2015, 30/05/2012

###### 26/10/2015

In [72]:
m6kWtot.describe()

m6kWtot;

m1kWtot.describe()

m1kWtot;

m5kWtot.describe()

m5kWtot;

###### 30/05/2012

In [73]:
m5kWThermalRaw.describe(include="all")

m5kWThermalRaw=m5kWThermalRaw.rename(columns={'v':'m5kWthermalRaw'})
m5kWThermalRaw

m3kWh_tot.describe()

m3kWh_tot = m3kWh_tot.rename(columns = {'v':'m3kWh_tot'})
m3kWh_tot

m2kWh_tot.describe()

m2kWh_tot = m2kWh_tot.rename(columns = {'v':'m2kWh_tot'})
m2kWh_tot

m5kWThermalCalc.describe()

m5kWThermalCalc = m5kWThermalCalc.rename(columns = {'v':'m5kWthermalCalc'})
m5kWThermalCalc

m4kWThermalRaw.describe()

m4kWThermalRaw = m4kWThermalRaw.rename(columns = {'v':'m4kWthermalRaw'})
m4kWThermalRaw

m4kWThermalCalc.describe()

m4kWThermalCalc = m4kWThermalCalc.rename(columns = {'v':'m4kWthermalCalc'})
m4kWThermalCalc

m3kWThermalRaw.describe()

m3kWThermalRaw = m3kWThermalRaw.rename(columns = {'v':'m3kWthermalRaw'})
m3kWThermalRaw

m3kWThermalCalc.describe()

m3kWThermalCalc = m3kWThermalCalc.rename(columns={'v':'m3kWthermalCalc'})
m3kWThermalCalc

m2kWtot.describe()

m2kWtot = m2kWtot.rename(columns = {'v':'m2kWtot'})
m2kWtot

m2kWThermalRaw.describe()

m2kWThermalRaw=m2kWThermalRaw.rename(columns = {'v':'m2kWthermalRaw'})
m2kWThermalRaw

m2kWThermalCalc.describe()

m2kWThermalCalc=m2kWThermalCalc.rename(columns = {'v':'m2kWthermalCalc'})
m2kWThermalCalc

m1kWh_tot.describe()

m1kWh_tot = m1kWh_tot.rename(columns = {'v':'m1kWh_tot'})
m1kWh_tot

m1kWThermalRaw.describe()

m1kWThermalRaw=m1kWThermalRaw.rename(columns = {'v':'m1kWthermalRaw'})
m1kWThermalRaw

m1kWThermalCalc.describe()

m1kWThermalCalc = m1kWThermalCalc.rename(columns = {'v':'m1kWthermalCalc'})
m1kWThermalCalc

m6kWThermalRaw.describe()

m6kWThermalRaw = m6kWThermalRaw.rename(columns = {'v':'m6kWthermalRaw'})
m6kWThermalRaw

m6kWThermalCalc.describe()

m6kWThermalCalc = m6kWThermalCalc.rename(columns = {'v':'m6kWthermalCalc'})
m6kWThermalCalc

m6kWh_tot.describe()

m6kWh_tot = m6kWh_tot.rename(columns={'v':'m6kWh_tot'})
m6kWh_tot

m5kWh_tot.describe()

m5kWh_tot = m5kWh_tot.rename(columns={'v':'m5kWh_tot'})
m5kWh_tot

mldpSub_kWh_tot.describe()

mldpSub_kWh_tot = mldpSub_kWh_tot.rename(columns = {'v':'mldpSub_kWh_tot'})
mldpSub_kWh_tot

               seq  t                       ts  mldpSub_kWh_tot
0        999585951  2  2012-05-30 00:00:00.100         366695.0
1        999585952  0  2012-05-30 06:23:23.800          32770.0
2        999585953  0  2012-05-30 06:23:23.800              2.0
3        999585954  0  2012-05-30 20:03:23.800          32770.0
4        999585955  0  2012-05-30 20:03:23.800              2.0
5        999585956  2  2012-05-30 20:05:00.100         366695.0
6        999585957  2  2012-05-30 20:10:00.100         366695.0
7        999585958  2  2012-05-30 20:15:00.100         366695.0
8        999585959  2  2012-05-30 20:20:00.000         366695.0
9        999585960  2  2012-05-30 20:25:00.100         366695.0
10       999585961  2  2012-05-30 20:30:00.000         366695.0
11       999585962  2  2012-05-30 20:35:00.100         366695.0
12       999585963  2  2012-05-30 20:40:00.100         366695.0
13       999585964  2  2012-05-30 20:45:00.000         366695.0
14       999585965  2  2012-05-30 20:50:00.000         366695.0
15       999585966  2  2012-05-30 20:55:00.100         366695.0
16       999585967  2  2012-05-30 21:00:00.100         366695.0
17       999585968  2  2012-05-30 21:05:00.100         366695.0
18       999585969  2  2012-05-30 21:10:00.000         366695.0
19       999585970  2  2012-05-30 21:15:00.200         366695.0
20       999585971  2  2012-05-30 21:20:00.100         366695.0
21       999585972  2  2012-05-30 21:25:00.200         366695.0
22       999585973  2  2012-05-30 21:30:00.100         366695.0
23       999585974  2  2012-05-30 21:35:00.200         366695.0
24       999585975  2  2012-05-30 21:40:00.000         366695.0
25       999585976  2  2012-05-30 21:45:00.000         366695.0
26       999585977  2  2012-05-30 21:50:00.000         366695.0
27       999585978  2  2012-05-30 21:55:00.100         366695.0
28       999585979  2  2012-05-30 22:00:00.100         366695.0
29       999585980  2  2012-05-30 22:05:00.100         366695.0
...            ... ..                      ...              ...
462029  1000047980  2  2017-05-29 08:00:00.000        1000111.0
462030  1000047981  2  2017-05-29 08:05:00.200        1000112.0
462031  1000047982  2  2017-05-29 08:10:00.100        1000113.0
462032  1000047983  2  2017-05-29 08:15:00.200        1000113.0
462033  1000047984  2  2017-05-29 08:20:00.100        1000114.0
462034  1000047985  2  2017-05-29 08:25:00.000        1000115.0
462035  1000047986  2  2017-05-29 08:30:00.200        1000116.0
462036  1000047987  2  2017-05-29 08:35:00.100        1000116.0
462037  1000047988  2  2017-05-29 08:40:00.000        1000117.0
462038  1000047989  2  2017-05-29 08:45:00.300        1000118.0
462039  1000047990  2  2017-05-29 08:50:00.200        1000119.0
462040  1000047991  2  2017-05-29 08:55:00.000        1000120.0
462041  1000047992  2  2017-05-29 09:00:00.200        1000121.0
462042  1000047993  2  2017-05-29 09:05:00.100        1000122.0
462043  1000047994  2  2017-05-29 09:10:00.300        1000123.0
462044  1000047995  2  2017-05-29 09:15:00.200        1000124.0
462045  1000047996  2  2017-05-29 09:20:00.100        1000125.0
462046  1000047997  2  2017-05-29 09:25:00.200        1000126.0
462047  1000047998  2  2017-05-29 09:30:00.200        1000128.0
462048  1000047999  2  2017-05-29 09:35:00.200        1000129.0
462049  1000048000  2  2017-05-29 09:40:00.200        1000130.0
462050  1000048001  2  2017-05-29 09:45:00.100        1000132.0
462051  1000048002  2  2017-05-29 09:50:00.100        1000134.0
462052  1000048003  2  2017-05-29 09:55:00.200        1000135.0
462053  1000048004  2  2017-05-29 10:00:00.300        1000137.0
462054  1000048005  2  2017-05-29 10:05:00.200        1000138.0
462055  1000048006  2  2017-05-29 10:10:00.300        1000140.0
462056  1000048007  2  2017-05-29 10:15:00.200        1000141.0
462057  1000048008  2  2017-05-29 10:20:00.100        1000143.0
462058  1000048009  2  2017-05-29 10:25:00.100        1000145.0

[462059 rows x 4 columns]

In [74]:
for dataframe in A

print([min(m1kWThermalRaw["ts"]),max(m1kWThermalRaw.ts)])
print([min(m1kWThermalCalc["ts"]),max(m1kWThermalCalc.ts)])
print([min(m1kWh_tot["ts"]),max(m1kWh_tot.ts)])

print([min(m2kWThermalRaw["ts"]),max(m2kWThermalRaw.ts)])
print([min(m2kWThermalCalc["ts"]),max(m2kWThermalCalc.ts)])
print([min(m2kWtot["ts"]),max(m2kWtot.ts)])
print([min(m2kWh_tot["ts"]),max(m2kWh_tot.ts)])

print([min(m3kWThermalRaw["ts"]),max(m3kWThermalRaw.ts)])
print([min(m3kWThermalCalc["ts"]),max(m3kWThermalCalc.ts)])
print([min(m3kWh_tot["ts"]),max(m3kWh_tot.ts)])

print([min(m4kWThermalRaw["ts"]),max(m4kWThermalRaw.ts)])
print([min(m4kWThermalCalc["ts"]),max(m4kWThermalCalc.ts)])

print([min(m5kWThermalRaw["ts"]),max(m5kWThermalRaw.ts)])
print([min(m5kWThermalCalc["ts"]),max(m5kWThermalCalc.ts)])
print([min(m5kWh_tot["ts"]),max(m5kWh_tot.ts)])

print([min(m6kWThermalRaw["ts"]),max(m6kWThermalRaw.ts)])
print([min(m6kWThermalCalc["ts"]),max(m6kWThermalCalc.ts)])
print([min(m6kWh_tot["ts"]),max(m6kWh_tot.ts)])

print([min(mldpSub_kWh_tot["ts"]),max(mldpSub_kWh_tot.ts)])

SyntaxError: invalid syntax (<ipython-input-74-7a69d18a2d20>, line 1)

In [75]:
m1kWThermalRaw
m1kWThermalCalc
m1kWh_tot

m2kWThermalRaw
m2kWThermalCalc
m2kWtot
m2kWh_tot

m3kWThermalRaw
m3kWThermalCalc
m3kWh_tot

m4kWThermalRaw
m4kWThermalCalc

m5kWThermalRaw
m5kWThermalCalc
m5kWh_tot

m6kWThermalRaw
m6kWThermalCalc
m6kWh_tot

mldpSub_kWh_tot

               seq  t                       ts  mldpSub_kWh_tot
0        999585951  2  2012-05-30 00:00:00.100         366695.0
1        999585952  0  2012-05-30 06:23:23.800          32770.0
2        999585953  0  2012-05-30 06:23:23.800              2.0
3        999585954  0  2012-05-30 20:03:23.800          32770.0
4        999585955  0  2012-05-30 20:03:23.800              2.0
5        999585956  2  2012-05-30 20:05:00.100         366695.0
6        999585957  2  2012-05-30 20:10:00.100         366695.0
7        999585958  2  2012-05-30 20:15:00.100         366695.0
8        999585959  2  2012-05-30 20:20:00.000         366695.0
9        999585960  2  2012-05-30 20:25:00.100         366695.0
10       999585961  2  2012-05-30 20:30:00.000         366695.0
11       999585962  2  2012-05-30 20:35:00.100         366695.0
12       999585963  2  2012-05-30 20:40:00.100         366695.0
13       999585964  2  2012-05-30 20:45:00.000         366695.0
14       999585965  2  2012-05-30 20:50:00.000         366695.0
15       999585966  2  2012-05-30 20:55:00.100         366695.0
16       999585967  2  2012-05-30 21:00:00.100         366695.0
17       999585968  2  2012-05-30 21:05:00.100         366695.0
18       999585969  2  2012-05-30 21:10:00.000         366695.0
19       999585970  2  2012-05-30 21:15:00.200         366695.0
20       999585971  2  2012-05-30 21:20:00.100         366695.0
21       999585972  2  2012-05-30 21:25:00.200         366695.0
22       999585973  2  2012-05-30 21:30:00.100         366695.0
23       999585974  2  2012-05-30 21:35:00.200         366695.0
24       999585975  2  2012-05-30 21:40:00.000         366695.0
25       999585976  2  2012-05-30 21:45:00.000         366695.0
26       999585977  2  2012-05-30 21:50:00.000         366695.0
27       999585978  2  2012-05-30 21:55:00.100         366695.0
28       999585979  2  2012-05-30 22:00:00.100         366695.0
29       999585980  2  2012-05-30 22:05:00.100         366695.0
...            ... ..                      ...              ...
462029  1000047980  2  2017-05-29 08:00:00.000        1000111.0
462030  1000047981  2  2017-05-29 08:05:00.200        1000112.0
462031  1000047982  2  2017-05-29 08:10:00.100        1000113.0
462032  1000047983  2  2017-05-29 08:15:00.200        1000113.0
462033  1000047984  2  2017-05-29 08:20:00.100        1000114.0
462034  1000047985  2  2017-05-29 08:25:00.000        1000115.0
462035  1000047986  2  2017-05-29 08:30:00.200        1000116.0
462036  1000047987  2  2017-05-29 08:35:00.100        1000116.0
462037  1000047988  2  2017-05-29 08:40:00.000        1000117.0
462038  1000047989  2  2017-05-29 08:45:00.300        1000118.0
462039  1000047990  2  2017-05-29 08:50:00.200        1000119.0
462040  1000047991  2  2017-05-29 08:55:00.000        1000120.0
462041  1000047992  2  2017-05-29 09:00:00.200        1000121.0
462042  1000047993  2  2017-05-29 09:05:00.100        1000122.0
462043  1000047994  2  2017-05-29 09:10:00.300        1000123.0
462044  1000047995  2  2017-05-29 09:15:00.200        1000124.0
462045  1000047996  2  2017-05-29 09:20:00.100        1000125.0
462046  1000047997  2  2017-05-29 09:25:00.200        1000126.0
462047  1000047998  2  2017-05-29 09:30:00.200        1000128.0
462048  1000047999  2  2017-05-29 09:35:00.200        1000129.0
462049  1000048000  2  2017-05-29 09:40:00.200        1000130.0
462050  1000048001  2  2017-05-29 09:45:00.100        1000132.0
462051  1000048002  2  2017-05-29 09:50:00.100        1000134.0
462052  1000048003  2  2017-05-29 09:55:00.200        1000135.0
462053  1000048004  2  2017-05-29 10:00:00.300        1000137.0
462054  1000048005  2  2017-05-29 10:05:00.200        1000138.0
462055  1000048006  2  2017-05-29 10:10:00.300        1000140.0
462056  1000048007  2  2017-05-29 10:15:00.200        1000141.0
462057  1000048008  2  2017-05-29 10:20:00.100        1000143.0
462058  1000048009  2  2017-05-29 10:25:00.100        1000145.0

[462059 rows x 4 columns]

###### Removing last row of some df so that ending time is the same

In [76]:
m1kWThermalRaw;

(m1kWThermalCalc);

m1kWh_tot=m1kWh_tot[:-1]

m2kWThermalRaw=m2kWThermalRaw[:-1]
m2kWThermalCalc=m2kWThermalCalc[:-1];
m2kWtot=m2kWtot[:-1];
m2kWh_tot=m2kWh_tot[:-1];

m3kWThermalRaw=m3kWThermalRaw[:-1];
m3kWThermalCalc=m3kWThermalCalc[:-1];
m3kWh_tot=m3kWh_tot[:-1];

m4kWThermalRaw=m4kWThermalRaw[:-1];
m4kWThermalCalc=m4kWThermalCalc[:-1];

m5kWThermalRaw=m5kWThermalRaw[:-1];
m5kWThermalCalc=m5kWThermalCalc[:-1];
m5kWh_tot=m5kWh_tot[:-1];

m6kWThermalRaw=m6kWThermalRaw[:-1];
m6kWThermalCalc=m6kWThermalCalc[:-1];
m6kWh_tot=m6kWh_tot[:-1];

mldpSub_kWh_tot=mldpSub_kWh_tot[:-1];

###### Checking if the dfs have NaN

In [77]:
def numna (x):
    return sum(x.isnull())

In [78]:
allDF = [m1kWThermalRaw, m1kWThermalCalc, m1kWh_tot, 
         m2kWThermalRaw, m2kWThermalCalc, m2kWtot, m2kWh_tot, 
         m3kWThermalRaw, m3kWThermalCalc, m3kWh_tot, m4kWThermalRaw, 
         m4kWThermalCalc, m5kWThermalRaw, m5kWThermalCalc, m5kWh_tot, 
         m6kWThermalRaw, m6kWThermalCalc, m6kWh_tot, mldpSub_kWh_tot]

In [79]:
m1kWThermalRaw.describe(include=["O"])

                             ts
count                    462750
unique                   424483
top     2015-01-15 20:35:00.200
freq                       1001

In [80]:
for dataframe in allDF:
    print([min(dataframe["ts"]),max(dataframe.ts)])
    print(dataframe.apply(func = numna, axis = 0))

['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.000']
seq               0
t                 0
ts                0
m1kWthermalRaw    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.000']
seq                0
t                  0
ts                 0
m1kWthermalCalc    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.000']
seq          0
t            0
ts           0
m1kWh_tot    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.000']
seq               0
t                 0
ts                0
m2kWthermalRaw    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.000']
seq                0
t                  0
ts                 0
m2kWthermalCalc    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.000']
seq        0
t          0
ts         0
m2kWtot    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.000']
seq          0
t            0
ts           0
m2kWh_tot    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.000']
seq               0
t                 0
ts                0
m3kWthermalRaw    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.000']
seq                0
t                  0
ts                 0
m3kWthermalCalc    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.000']
seq          0
t            0
ts           0
m3kWh_tot    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.100']
seq               0
t                 0
ts                0
m4kWthermalRaw    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.100']
seq                0
t                  0
ts                 0
m4kWthermalCalc    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.100']
seq               0
t                 0
ts                0
m5kWthermalRaw    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.100']
seq                0
t                  0
ts                 0
m5kWthermalCalc    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.100']
seq          0
t            0
ts           0
m5kWh_tot    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.100']
seq               0
t                 0
ts                0
m6kWthermalRaw    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.100']
seq                0
t                  0
ts                 0
m6kWthermalCalc    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.100']
seq          0
t            0
ts           0
m6kWh_tot    0
dtype: int64
['2012-05-30 00:00:00.100', '2017-05-29 10:20:00.100']
seq                0
t                  0
ts                 0
mldpSub_kWh_tot    0
dtype: int64

In [81]:
def nunique_percolumn (series):
    return series.nunique()

for dataframe in allDF:
    print(dataframe.apply(func=nunique_percolumn,axis=0))
    print('\n')

seq               462750
t                      4
ts                424483
m1kWthermalRaw        78
dtype: int64


seq                460749
t                       4
ts                 422483
m1kWthermalCalc        78
dtype: int64


seq          498483
t                 4
ts           470649
m1kWh_tot      6025
dtype: int64


seq               458025
t                      4
ts                420760
m2kWthermalRaw       693
dtype: int64


seq                460012
t                       4
ts                 422730
m2kWthermalCalc       407
dtype: int64


seq        460884
t               4
ts         425621
m2kWtot       634
dtype: int64


seq          456061
t                 4
ts           419605
m2kWh_tot    194143
dtype: int64


seq               458025
t                      4
ts                420760
m3kWthermalRaw       693
dtype: int64


seq                462014
t                       4
ts                 424732
m3kWthermalCalc       499
dtype: int64


seq          456057
t                 4
ts           419238
m3kWh_tot    219377
dtype: int64


seq               460029
t                      4
ts                422767
m4kWthermalRaw       557
dtype: int64


seq                462014
t                       4
ts                 424733
m4kWthermalCalc       406
dtype: int64


seq               460028
t                      4
ts                422765
m5kWthermalRaw      1124
dtype: int64


seq                460017
t                       4
ts                 422733
m5kWthermalCalc       454
dtype: int64


seq          496481
t                 4
ts           468606
m5kWh_tot    185155
dtype: int64


seq               460026
t                      4
ts                422799
m6kWthermalRaw       259
dtype: int64


seq                462018
t                       4
ts                 424732
m6kWthermalCalc       196
dtype: int64


seq          496476
t                 4
ts           468600
m6kWh_tot    195890
dtype: int64


seq                462058
t                       4
ts                 425242
mldpSub_kWh_tot    168241
dtype: int64

In [82]:
trueDFs = [m2kWh_tot, m3kWh_tot, m5kWh_tot, m6kWh_tot, mldpSub_kWh_tot] 
# Only those with no outrageously small number of repeated values

In [83]:
#print size of each df
for df in trueDFs:
    print(df.shape)

(456061, 4)
(456057, 4)
(496481, 4)
(496476, 4)
(462058, 4)

In [84]:
#removing first five rows for all dfs in trueDFs because of weird numbers - out of time stamp order. 
m2kWh_tot=m2kWh_tot[5:]

m3kWh_tot=m3kWh_tot[5:] 
m5kWh_tot=m5kWh_tot[5:]
m6kWh_tot=m6kWh_tot[5:]
mldpSub_kWh_tot = mldpSub_kWh_tot[5:]

###### Converting string timestamps to datetime-object timestamps

In [85]:
timeEg = m2kWh_tot.loc[8,'ts']
print(timeEg)

dt = parser.parse(timeEg)
dt.minute

2012-05-30 20:20:00.200

20

In [86]:
#understanding references in Python - using loc to access an element actually does so using reference variable not
#the value itself
testdf = pd.DataFrame({'first':[1,2,3,4,5],'second':[6,7,8,9,10]})
print(testdf)

a = testdf.loc[0,'first'] #creates new column with name '0, first' lol
testdf = testdf[['first','second']] #reverses above code
testdf.loc[0,'first'] = 'a' # changes value of an element in df 
print(testdf)

print('a:', a)

   first  second
0      1       6
1      2       7
2      3       8
3      4       9
4      5      10
  first  second
0     a       6
1     2       7
2     3       8
3     4       9
4     5      10
a: 1